<div class="ms-hero-page ms-hero-img-keyboard" ng-cloak ng-hide="embeddedFlag === true">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{detailsOfVenue.venueName}} - {{selectedCity}}</h1>
        </div>
    </div>
</div>
<div class="container" ng-cloak>
    <h3 ng-hide="embeddedFlag === true">
        <a href="newCities" class="navigation">{{"venue.HOME" | translate}} > {{"venue.CITIES" | translate}} </a>
        <a href="newCities/{{selectedCity}}"> > {{selectedCity}}</a>
    </h3>
    <div class="venueTabs">
        <div class="col-md-12">
            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4" style="background-color: {{embedColor}};">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div>
                            <center ng-show = "imageParam === 'Y' || imageParam === 'y' || removeAllTabs == true">
                                <div id="carousel-{{$index}}1" class="ms-carousel carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner carousel-inner-class" role="listbox">
                                        <div class="item {{venus.active}}" ng-repeat="venus in venueImage.imageUrls">
                                            <h1 ng-show ="featuredEnable === 'Y' || featuredEnable === 'y'" class="textOnImg fontBold">Featured</h1>
                                            <img id="venueImage" ng-src="{{venus.originalUrl}}" alt="venusImg" class="galleryLrg"/>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <span data-target="#carousel-{{$index}}1" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev" ng-show="venueImage.imageUrls.length > 1" style="margin-left: 25px;">
                                        <i class="zmdi zmdi-chevron-left"></i>
                                    </span> 
                                    <span data-target="#carousel-{{$index}}1" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next" ng-show="venueImage.imageUrls.length > 1" style="margin-right: 25px;">
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </span>
                                </div>
                            </center>
                            <div id="serviceTabs" class="btn-group btn-group-justified" ng-hide="removeAllTabs === true">
                                <center>
                                    <div service-tab="" button-id="{{tab.buttonId}}" click-cb="dispatchToService(serviceName)" ng-repeat="tab in displayTabs" font-color="{{tab.fontColor}}" bg-color="{{tab.bgColor}}" selected="{{tab.selected}}" button-img="{{tab.buttonImg}}" name="{{tab.name}}" id="{{tab.id}}" service-name="{{tab.serviceName}}" disabled="{{tab.disabled}}" class="reservation-tab col-xs-4"></div>
                                </center>
                            </div>
                            <div ng-include="selectedPage()" ng-hide="removeAllTabs === true"></div><br>
                            <div class="eventListcal" ng-if="removeAllTabs == true">
                                <table class="table">
                                    <tr><td>
                                        <center><div class="withoutTabs">{{detailsOfVenue.venueName}}</div></center>
                                        <div class="withOutTabDec"><span class="fontBold">{{"venue.WORKING_HOUR" | translate}} :</span> {{openHour}}-{{closeHour}}</div>
                                        <div class="withOutTabDec"><span class="fontBold">{{"business.ADDRESS" | translate}}:</span><br>&emsp;{{detailsOfVenue.address}}</div>
                                        <div class="withOutTabDec">&emsp;{{detailsOfVenue.state}}</div>
                                        <div class="withOutTabDec">&emsp;{{detailsOfVenue.country}}</div>
                                        <div class="withOutTabDec">&emsp;{{detailsOfVenue.phone}}</div>
                                        <a href="{{detailsOfVenue.website}}" target="_new" class="withOutTabDec">&emsp;{{detailsOfVenue.website}}</a>
                                        <div class="withOutTabDec"><span class="fontBold">{{"bottleServiceTab.DESC" | translate}}:</span><br>&emsp;{{detailsOfVenue.description}}</div>
                                    </td></tr>
                                </table>
                            </div>           
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<script>
    window.iFrameResizer = {
        targetOrigin : '*'
    }
</script>
<div class="modal" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <img src="{{menuImageUrl}}" alt="documentImg" class="img-responsive">
        </div>
    </div>
</div>
