<div class="col-lg-7">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-body">
            <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
            <tabset justified="true">
                <tab>
                    <tab-heading ng-bind="head">Admin Settings</tab-heading>
                    <form id="admin" name="admin" validate-form="" novalidate role="form">
                        <admin-directive></admin-directive>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary" ng-click="update(admin.$valid, admin, adminSettings)">Save</button>
                        </div>
                    </form>
                </tab>
            </tabset>
        </div>
        <!-- END panel-->
    </div>
</div>