<div class="panel panel-default">
     <div class="panel-body">
        <a href="#" class="text-muted pull-right">
           <em class="fa fa-arrow-right"></em>
        </a>
        <div class="text-info">Reserved Bookings</div>
        <canvas classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="{{colorByName('info')}}" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10"
        data-rounded-line="true" class="center-block"></canvas>
         <div sparkline="" data-bar-color="{{colorByName('info')}}" data-height="30" data-bar-width="5" 
         data-bar-spacing="2" class="text-center">5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7</div>
     </div>
     <div class="panel-footer">
        <p class="text-muted">
           <em class="fa fa-upload fa-fw"></em>
           <span>This Month</span>
           <span class="text-dark">148</span>
        </p>
     </div>
</div>