<div class="container nav_height card {{blackTheme}}">
    <div>
        <center>
            <h1>{{"reservation.PAYMENT"  | translate}}</h1>
        </center>
    </div>
    <div class="form-group">
        <center>
            <table>
                <tr>
                    <td>
                        <label>{{"reservation.VENUE_NAME"  | translate}}</label>
                    </td>
                    <td>
                        <label>{{venueName}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.AMOUNT"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{availableAmount | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.SALES_TAX"  | translate}}</label>
                    </td>
                    <td>
                       $<label>{{taxAmount | number:2}}</label>
                    </td>
                </tr>
                <tr ng-show = "processingFee > 0">
                    <td>
                        <label>{{"reservation.PROCESS_FEE"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{processingFee | number:2}}</label>
                    </td>
                </tr>
                <tr ng-show = "discount > 0">
                    <td>
                        <label>{{"reservation.DISCOUNT"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{discount | number:2}}</label>
                    </td>
                </tr>
                <tr ng-show = "gratuity > 0">
                    <td>
                        <label>{{"reservation.SERVICE_FEE"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{gratuity | number:2}}</label>
                    </td>
                </tr>
                <tr ng-show = "tipsFee > 0">
                    <td>
                        <label>{{"reservation.TIPS"  | translate}}</label>
                    </td>
                    <td>
                       $<label>{{tipsFee | number:2}}</label>
                    </td>
                </tr>
                <tr ng-show = "foodFee > 0"> 
                    <td>
                        <label>{{"reservation.DELIVERY_FEE"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{foodFee | number:2}}</label>
                    </td>
                </tr>
                <tr ng-if = "paypal === true && payPalFee > 0">
                    <td>
                        <label>{{"reservation.PAY_PAL_FEE"  | translate}} :</label>
                    </td>
                    <td>
                        $<label>{{payPalFee | number:2}}</label>
                    </td>
                </tr>
                <tr ng-if = "cardPayment === true && creditCardFee > 0">
                    <td>
                        <label>{{"reservation.CREDIT_CARD_FEE"  | translate}}</label>
                    </td>
                    <td>
                       $<label>{{creditCardFee | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.TOTAL"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{chargedAmount | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.PAYMENT"  | translate}}</label>
                    </td>
                    <td >
                        <label>
                        <input type="radio" ng-change="paypalData(test)" name="type" ng-model="test" value="Paypal" disabled="true" />
                            {{"reservation.PAYPAL"  | translate}}
                        </label><br>
                        <label>
                        <input type="radio" ng-change="cardPaymentData(test)" name="type" ng-model="test" value="Credit/Debit Card"/>
                            {{"reservation.CREDIT_CARD"  | translate}}
                        </label><br>
                        <label>
                        <input type="radio" name="type" ng-change="payAtVenue(test)" ng-model="test" value="Phone/In Venue"/>
                            {{"reservation.PAY_AT_VENUE"  | translate}}
                        </label>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>
<div>
    <center>
        <input type="button" class="btn btn-success btn-raised" ng-click="foodServiceSave()" value="Pay Now">
    </center>
</div>

<div class="form-group" ng-hide="true">
        <input type="text" id="stripeAmount" placeholder="payAmount" ng-model="availableAmount">
        <input type="text" id="payPalchargedAmount" placeholder="payChargedAmount" ng-model="totalChargedAmount">
        <input type="text" id="taxDate" placeholder="taxDate" ng-model="taxDate">
        <input type="text" id="venueNumber" placeholder="venueNumber" ng-model="selectedVenueID">
        <input type="text" id="orderIdValue" placeholder="orderIdValue" ng-model="orderId">
        <input type="text" id="cityName" placeholder="cityName" ng-model="city">
</div>

