<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
    
       opacity: 1;
    
    }
</style>

<div ng-controller="foodServiceController">
<form class="search-form" name="foodForm" validate-form="" parsley-validate novalidate ng-cloak>
        <fieldset class="col-md-10 col-md-offset-right-2">
            <div class="form-group">
                <label ng-show="foodPickup != 'Y' || foodPickup != 'y'">
                    <input type="radio" name="deliveryFood" ng-model="foodType" value="Delivery"/>&nbsp;&nbsp;
                    <font size="3">{{"reservation.DELIVERY" | translate}}</font>
                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label ng-show="foodPickup === 'Y' || foodPickup === 'y'">
                    <input type="radio" name="pickFood" ng-model="foodType" value="Pickup" name="tests"/>&nbsp;&nbsp;
                    <font size="3">{{"reservation.PICKUP" | translate}}</font>
                </label> 
            </div>
            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
                <input type="text" id="foodFirstName" name="foodFirstName" class="form-control fontBold" ng-model="food.firstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
                <input type="text" id="foodLastName" name="foodLastName" class="form-control fontBold" ng-model="food.lastName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
                <input type="email" id="foodEmailId" name="foodEmailId" data-parsley-type="email" class="form-control fontBold" ng-model="food.emailId" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
                <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="foodMobile" ng-model="food.mobileNumber" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;" ng-hide="((foodType == 'Pickup') || (venueTypeBowling == 'BOWLING'))">
                <label class="control-label" for="focusedInput1">{{"reservation.TABLE_NUMBER" | translate}}</label>
                <select class="form-control fontBold"" ng-model="food.tableNumber">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                </select>
            </div>

            <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;" ng-hide="foodType == 'Pickup'" ng-if="venueTypeCasino == 'CASINO'">
                <label class="control-label" for="focusedInput1">{{"reservation.SEAT_NUMBER" | translate}}</label>
                <select class="form-control fontBold" id="foodSeatNumber" class="btn btn-default dropdown-toggle form-control" ng-model="food.seatNumber">
                    <option value=""></option>
                    <option ng-repeat="n in [].constructor(10) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>
            </div>

             <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;" ng-hide="foodType == 'Pickup'" ng-if="venueTypeBowling == 'BOWLING'">
                <label class="control-label" for="focusedInput1">{{"reservation.LANE_NUMBER" | translate}}</label>
                <select class="form-control fontBold" id="foodLaneNumber" class="btn btn-default dropdown-toggle form-control" ng-model="food.laneNumber">
                    <option value=""></option>
                    <option ng-repeat="n in [].constructor(30) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>
            </div>

            <!-- <div class="col-lg-12 form-group is-empty" ng-hide="foodType == 'Pickup'">
                <input type="text" ng-model="food.location" id="foodLocation" placeholder="Location" name="foodLocation" class="form-control">
            </div> -->

        <div class="col-md-12">
    		<center>
        		<a href="" class="btn btn-success fontRegular btn-raised" ng-if="foodBreakFastUrl" ng-click="menuUrlSelection(foodBreakFastUrl)"><span class="glyphicon glyphicon-heart-empty"></span> &nbsp;&nbsp;{{"reservation.BREAK_FAST" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodBranchUrl" ng-click="menuUrlSelection(foodBranchUrl)"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;{{"reservation.FOOD_BRANCH" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodStartersUrl" ng-click="menuUrlSelection(foodStartersUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_STARTERS" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodMenuUrl" ng-click="menuUrlSelection(foodMenuUrl)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_MENU" | translate}}</a>
                <a href="" class="btn btn-success fontRegular btn-raised" ng-if="foodHappyHourUrl" ng-click="menuUrlSelection(foodHappyHourUrl)"><span class="glyphicon glyphicon-heart-empty"></span> &nbsp;&nbsp;{{"reservation.FOOD_HAPPY_HOUR" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodDinnerUrl" ng-click="menuUrlSelection(foodDinnerUrl)"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;{{"reservation.FOOD_DINNER" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodLunchUrl" ng-click="menuUrlSelection(foodLunchUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_LUNCH" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodDessertsUrl" ng-click="menuUrlSelection(foodDessertsUrl)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_DESSERTS" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodAppetizsersUrl" ng-click="menuUrlSelection(foodAppetizsersUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_APPETIZSER" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodGlutenfree" ng-click="menuUrlSelection(foodGlutenfree)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_GLUTEN" | translate}}</a>
    		</center>
        </div> <br/>
        
        <div ng-if="selectedFoodList.length != 0">
        <h1>Selected Foods:</h1>
        <div>
            <table class="table table-no-border table-striped table-responsive">
                <thead>
                    <tr>
                      <th>{{'reservation.NAME' | translate}}</th>
                      <th>{{'reservation.BRAND' | translate}}</th>
                      <th>{{'reservation.QUANTITY' | translate}}</th>
                      <th>{{'reservation.PRICE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="foods in selectedFoodList">
                      <td>{{foods.name}}</td>
                      <td>{{foods.brand}}</td>
                      <td>{{foods.count}}</td>
                      <td><span ng-hide="((foods == null || foods.total == 0 || foods.total == undefined))">&dollar;</span>{{(foods == null || foods.total == 0 || foods.total == undefined) ? "-" : foods.total}}</td>
                      <td><button type="submit" class="btn btn-raised btn-sm btn-danger" ng-click="removeFoodItems($index,foods)">X</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

        <div class="col-md-8 form-group is-empty">
            <div class="row">
            <div class="col-md-8 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>{{"reservation.FOOD_ITEMS" | translate}}</h1>
                    <section class="ms-component-section">
                        <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-primary" ng-repeat="items in foodDetails">
                                <div class="panel-heading" role="tab" id="{{items.id}}">
                                    <h4 class="panel-title">
                                        <a class="{{$index == 0 ? '' : 'collapsed'}} withripple" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse{{items.id}}" aria-expanded="{{$index == 0 ? true : false}}" aria-controls="collapse{{items.id}}">
                                            {{items.brand}} (Category)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{items.id}}" class="panel-collapse collapse {{$index == 0 ? 'collapse in' : ''}}" role="tabpanel" aria-labelledby="{{items.id}}" aria-expanded="{{$index == 0 ? true : false}}">
                                    <div class="panel-body">
                                        <table class="table table-responsive table-no-border">
                                        <tr>
                                            <td rowspan="4" class="col-md-3" style="padding-right: 0px;padding-left: 0px;">
                                                <img class="img-responsive" data-ng-src="https://www.petzl.com/fondation/foundation-makay-nature-expedition-thumbnail.jpg?v=1" style="height:100px;width:100px;"> 
                                            </td>
                                            <td class="col-md-3"><font size="4"><strong>{{items.name}}</strong></font></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3"><font size="2">{{'reservation.PRICE' | translate}}: &dollar;{{items.price}}</font><br>
                                            <font size="2"><a href="javascript:void(0)" data-toggle="modal" data-target="#foodPopUp" ng-if="items.description != null" ng-click="showPopUp(items.description)">{{'reservation.FOOD_DRINK_DETAILS' | translate}}</a></font></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">
                                            <select class="form-control" ng-change="userSelectedFood(items)" ng-model="items.count" value="{{items.count || 0}}">
                                                    <option value="">{{"reservation.QUANTITY" | translate}}</option>
                                                    <option ng-repeat="n in [].constructor(20) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                                            </select>
                                            </td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-11 form-group label-floating is-empty floatingLabel {{isFoodFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.SPECIAL_INSTRUCTION' | translate}}</label>
            <input type="text" class="form-control fontBold" id="foodInstructions" ng-model="food.instructions">
        </div>
       	<br><br>
            <div class="col-lg-12">
                <center>
                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="foodForm.$invalid" ng-click="foodSave()">
                        <span class="fontRegular">{{'business.DEPLOY_APPLY' | translate}}</span>
                    </button>
                    <!-- <button class="btn btn-raised btn-success">
                        <span class="fontRegular">{{'business.CANCEL' | translate}}</span>
                    </button> -->
                </center>
            </div>
        </fieldset>
</form>
</div>

<div class="modal modal-success" id="foodMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'business.DEPLOY_MENU' | translate}}</h3>
            </div>
            <div class="modal-body">
                <center>
                    <img class="img-responsive" src="{{menuImageUrl}}"/>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeGuestListModal()">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success" id="foodPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'reservation.FOOD_DETAILS' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>