<div class="ms-hero-page ms-hero-img-keyboard ms-hero-bg-primary mb-6">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best <span class="colorStar">tricks</span> and <span class="colorStar">discounts</span>.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row masonry-container">
        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="blog in blogs">
            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                <figure class="ms-thumbnail ms-thumbnail-left">
                    <img src="{{blog.image}}" alt="" class="img-responsive">
                </figure>
                <div class="card-block">
                    <h2><a href=javascript:void(0)>{{blog.title}}</a></h2>
                    <p>{{blog.description | limitTo: 150 }}{{blog.description.length > 150 ? '...' :''}}</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <a href="javascript:void(0)" ng-click="readMore(blog)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
