<div class="ms-hero-page ms-hero-img-keyboard ms-hero-bg-primary mb-6">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best <span class="colorStar">tricks</span> and <span class="colorStar">discounts</span>.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5"">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">What Is Bottle Service and Facts You Should Know</h1>
                    <img src="<%= assets %>/img/blog/blog-2.jpg" alt="" class="img-responsive mb-4">
                    <p>Bottle service is also called table service, and it is the ONLY way to secure a table at your favorite party place (Bar, Pub, Nightclub, etc.). Almost all clubs these days have VIP tables arranged throughout the club. The only way to get on the guest list and bypass the line for any bar/pub/nightclub is to reserve a table.</p>

                    <p>Wikipedia defines bottle service as the sale of liquor by the bottle in most American lounges and nightclubs. The purchase of bottle service typically includes a reserved table for the patron's party and mixers of the patron's choice.</p>
                    <h3 class="color-primary">Advantages of Bottle Service</h3>
                    <p>Having Bottle Service at a club is an enjoyable experience and also allows you to live like a VIP for the night. You don't have to stand in the long queue waiting for your drinks. Often, girls at the club want to drink with you at your table and be much friendlier to you when they see you have a table, making it easy to meet other people at the club. Meeting new people and making new friends is always an amazing experience and bottle service can help you do that.</p>
                    <img src="<%= assets %>/img/blog/food.png" alt="" class="imgborder ml-2 mb-2 pull-right" style="width: 400px;">

                    <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Bottle service is hassle free; you don't have to stand in the stupid long queues for the drinks.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Well-served with bottles of high-quality liquor and mixers is a great experience.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>You get a celebrity treatment when you opt for a bottle service.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Timely delivery of drinks with your own waitress in most cases.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>You get an expert consultation and have a good time with your loved ones.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>It is a stress buster. Get to make new friends and have fun.</li>
                    </ul>


                    <p>So yes, Bottle service fits well for both individuals and groups. The prices may be little high, but come on, we all go to pubs and nightclubs to have a good time isn't it? With all the week's hectic work and pressure, everybody wants to have some fun on the weekends. Bottle service will help you make friends with anybody quickly and bring them back to your table and offer them some delicious drinks. Girls don’t have to flirt with any random guy for drinks (If that is not your intention), getting a bottle service is a good option for you.</p>
                    <p>And if you have a bigger group, you must go for a bottle service since you don't want to get involved with the other crowd, you want to have your own table and chit chat with your friends. For larger groups, bottle service is much cheaper too.</p>
                    <p>Now with ItzFun app, you can easily order bottle service at your favorite venues.</p>
                    <p>Before considering bottle service, you need to know some important factors that influence bottle service,</p>

                    <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>The popularity of the party:</strong>If the party is too popular, then you can expect the prices to be higher.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Weekends:</strong> As a rule of thumb, we all know there is a huge demand and crowd for Saturdays and Sundays to enter the nightlife venues. More demand = Higher prices. But, there are some exceptions.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>The DJ's playing:</strong> If a favorite and a popular DJ is playing, then you can expect some high prices for the bottle service.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Venue size:</strong> A great party with high demand but a smaller place (Bar, Pub, Nightclub) can cost you more for bottle services.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Your group size:</strong> Your group size also matters while going for bottle service. Depending on the type of place, sometimes it can be more for the bigger groups, and it can also be vice versa.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>The gender mix of your team:</strong> These party venues don’t like groups of all boys- so they crank up the minimums on such groups.</li>
                    </ul>
                    <p>Make sure you at least know these things about bottle service before opting for it. And, we are always here to help you with any of your questions regarding bottle service.
                      Happy clubbing!</p>
                </div>
            </div>
        </div>
    </div>
</div>
