<div class="container">
	<div class="row">
		<div ng-hide="claimBusiness == true">
            <center>
            <h2>BUSINESS SEARCH</h2>
            </center>
            
            <form class="form-horizontal">
                            <fieldset>
                            <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Enter business name:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="search" ng-model="searchBusiness" name="searchBox">
                                    </div>
                                </div>
                                </fieldset>
                                <center>
                                <button type="submit" class="btn btn-raised btn-primary" ng-click="search()">Search</button>
                                </center>
                                </form>


    	</div>
        <div id="claimCard">
        <center><h5 ng-show="businessDetailLength == 0">Sorry, the matching business profile is not available currently. Please click on Create Business button below to update your business details.</h5></center>
    	<div ng-repeat="business in businessDetails" ng-hide="claimBusiness == true">
		<article class="card wow fadeInLeft animation-delay-5 mb-4">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <div class="slider">
                            <img id="businessImage" ng-repeat="slide in business.imageUrls" class="slide" ng-swipe-right="showPrev(slide)" ng-swipe-left="showNext(slide)" ng-show="isActive($index)" style="width: 100%; margin: auto;" ng-src="{{slide.originalUrl}}" />
                            <ul class="buttonNav">
                                <li ng-repeat="slide in business.imageUrls" ng-class="{'active':isActive($index)}">
                                <img id="sliderThumb" src="{{slide.originalUrl}}" class="img-responsive" ng-click="showPhoto(slide,$index);" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <h3 class="no-mt">{{business.venueName}}</h3>
                        <p class="mb-4">{{business.description | limitTo: 200 }}{{business.description.length > 200 ? '...' :''}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <label>{{business.address}}</label> <br/>
                        <a href="{{business.website}}" target="_blank">{{business.website}}</a>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 text-right">
                            <button href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon" ng-click="claim()"><i class="zmdi zmdi-wrench"></i>CLAIM BUSINESS</button>
                    </div>
                </div>
            </div>
        </article>
    	</div>
        </div>
    	<div class="form-group" ng-hide="claimBusiness == true">
    	<center>
        <button type="submit" class="btn btn-raised btn-primary" ng-if="businessDetails" ng-click="createBusinessMethod()">CREATE BUSINESS</button>
        </center>
    	</div>
    	<div ng-show="claimBusiness == true">
        
        <div ng-hide="hideForm == true">
            <center><h2>CLAIM BUSINESS</h2></center>

        <form class="search-form" id="myFormClaim" name="myFormClaim" novalidate ng-submit="submitForm()">
                            <fieldset>
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Name:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="businessName" ng-model="claim.businessName" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.businessName)">Name is required</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Email:</font></label>

                                    <div class="col-md-10">
                                        <input type="email" class="form-control" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" name="claimEmailId" ng-model="claim.email" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.claimEmailId)">Email is required</span>
                                    </div>
                                </div>  
                                
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Phone Number:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="phone" ng-model="claim.phone" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.phone)">Phone no is required</span>
                                    </div>
                                </div> 
                            <center>
                                <div class="form-group">
                <div class="col-md-5 col-md-offset-2">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="businessSubmit(claim)" novalidate="novalidate">Submit</button>
                    <button type="button" class="btn btn-raised btn-danger" ng-click="cancel()">Cancel</button>
                </div>
            </div>                             
            </center>
                                </fieldset>
                                </form>


        
        </div>
        </div>


        <div ng-show="claimForm == true">
        <center>
            <h2>CREATE BUSINESS</h2>
        </center>
        <div class="card-block">
        <!-- <div class="tab-content"> -->
        <form id="myForm" name="myForm" novalidate ng-submit="submitForm()">
                            <h4 id="businessMessage">Create a business account to start your 30-day free trail.</h4> 
                            <fieldset>
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Business Name:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" id="inputEmail" name="businessName" ng-model="newUser.businessName" required>
                                        <span class="error-message" ng-show="showMessage(myForm.businessName)">Business Name is required</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Address:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.address" required name="address">
                                        <span class="error-message" ng-show="showMessage(myForm.address)">Address is required</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Address 2:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.address2" required name="address2">
                                        <span class="error-message" ng-show="showMessage(myForm.address2)">Address2 is required</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">City:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.city" required name="city">
                                        <span class="error-message" ng-show="showMessage(myForm.city)">City is required</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">State:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.state">
                                                <option>Los angles</option>
                                                <option>New Jersey</option>
                                                <option>Florida</option>
                                                <option>California</option>
                                            </select> 
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Category:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.category">
                                                <option>Wedding</option>
                                                <option>BirthDay Party</option>
                                                <option>Event</option>
                                                <option>WeekEnd Party</option>
                                            </select> 
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Role:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.role">
                                                <option>Artist</option>
                                                <option>Customer</option>
                                                <option>Admin</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">Email:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" name="emailId" ng-model="newUser.emailId" required>
                                        <span class="error-message" ng-show="showMessage(myForm.emailId)">Email is required</span>
                                    </div>
                                </div>
                                
                            </fieldset>
                            <center>
                                <div class="form-group">
                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-click="save(newUser)">Create Account</button>
                                </div>
                            </div>
                            </center>
                        </form>
                        <!-- </div> -->
                        </div>
        </div>


        <div id="successView" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title"> Registered Successfully</label>
                    </div>
                <div class="modal-body">
                <center>
                    <p>Your info are Registered Successfully. You will receive mail for verification</p>
                </center>
                <br>
                <center>
                    <input class="btn btn-success" type="button" value="OK" data-dismiss="modal" ng-click="createBusinessAccount()">
                    <input class="btn btn-danger" type="button" value="CANCEL" data-dismiss="modal">
                </center>
                </div>
                </div>
            </div>
        </div>


    	<div ng-show="businessData == true">
			<form class="search-form">
			    <div class="form-group">
						<div class="col-md-10">
							<table class="table-responsive">
							<tr>
								<td rowspan="3" id="businessDetails">
								    <img src="{{businessImage}}" alt="" class="img-responsive">
								</td>
								<td id="claimTitle" ng-show="businessData == true">
							    	    <h4 class="control-label" id="businessTitle">{{newUser.businessName}}</h4>
                                         <span><label class="control-label">{{newUser.address}}</label>
                                         <span><label class="control-label">{{newUser.address2}}</label></span></span>
							    </td>
                                <td id="claimTitle" ng-show="claimBusiness == true">
                                        <h4 class="control-label" id="businessTitle">{{claim.businessName}}</h4>
                                         <span><label class="control-label">{{claim.phone}}</label></span>
                                </td>
							</tr>
							</table>
                        </div>
                </div>
                 <div class="form-group">
						<div class="col-md-10">
						    <h4 class="control-label">Link to your premium service</h4>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="form-group">
						<div class="col-md-10">
							<h4 class="control-label">Script to include on your website</h4>
						    <table class="table-responsive">
							<tr>
								<td>
                                    <input class="btn btn-info" type="button" value="Menu">
								</td>
								<td>
							    	<label class="control-label" id="businessMenu">&ltembed width="100%" height="100%" src="http://bit.ly/MonteCarloVIPPremiumServices"/&gt</label>
							    </td>
							</tr>
							<tr>
							    <td>
                                    <input class="btn btn-info" type="button" value="Button">
							    </td>
							    <td>
							    	<label class="control-label" id="businessMenu">Button Items</label>
							    </td>
							</tr>
							</table>
                        </div>
                </div>
                <div class="form-group">
						<div class="col-md-10">
						    <h4 class="control-label">URL to include in your Facebook, Twitter, Instagram, Snapchat & other social media sites:</h4>
                            <input type="text" class="form-control">
                        </div>
                </div>
            </form>
    	</div>


    </div>
	</div>
