<div class="container" ng-cloak>
    <div class="row">
        <div ng-hide="claimBusiness == true">
            <center>
                <h1 class="color-success">{{"business.BUSINESS_SEARCH" |
                    translate}}</h1>
            </center>
            <form class="form-horizontal" id="businessSearchForm">
                <fieldset>
                    <div class="form-group is-empty">
                        <label for="searchBusiness" class="col-md-2 control-label">
                            <font size="3">{{"business.BUSINESS_NAME" | translate}}:</font>
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="search"
                                ng-model="searchBusiness" name="searchBox">
                        </div>
                    </div>
                </fieldset>
                <center>
                    <button type="submit" class="btn btn-raised btn-primary"
                        ng-click="search()">{{"business.SEARCH" | translate}}</button>
                </center>
            </form>
        </div>
        <div id="claimCard">
            <center>
                <h5 ng-show="businessDetailLength == 0">{{"business.SEARCH_BUSINESS_MESSAGE"
                    | translate}}</h5>
            </center>

            <div ng-repeat="business in businessDetails"
                ng-hide="claimBusiness == true">
                <article class="card wow fadeInLeft animation-delay-5 mb-4">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-sm-6">
                                <div class="slider">
                                    <img id="businessImage" ng-repeat="slide in business.imageUrls"
                                        class="slide" ng-swipe-right="showPrev(slide)"
                                        ng-swipe-left="showNext(slide)" ng-show="isActive($index)"
                                        ng-src="{{slide.originalUrl}}" />
                                    <ul class="buttonNav">
                                        <li ng-repeat="slide in business.imageUrls"
                                            ng-class="{'active':isActive($index)}"><img
                                            id="sliderThumb" ng-src="{{slide.originalUrl}}"
                                            class="img-responsive" ng-click="showPhoto(slide,$index);" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-6">
                                <h3 class="no-mt">{{business.venueName}}</h3>
                                <p class="mb-4">{{business.description | limitTo: 200
                                    }}{{business.description.length > 200 ? '...' :''}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-sm-6">
                                <label><b class="businessSearchAddress" >{{business.address}}</b></label>
                                <br /> <a href="{{business.website}}" target="_blank">{{business.website}}</a>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-6 text-right">
                                <button href="javascript:void(0)"
                                    class="btn btn-primary btn-raised btn-block animate-icon"
                                    ng-click="claim(business)">
                                    <i class="zmdi zmdi-wrench"></i>{{"business.CLAIM_BUSINESS" |
                                    translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="form-group" ng-hide="claimBusiness == true">
            <center>
                <button type="submit" class="btn btn-raised btn-primary"
                    ng-if="businessDetails" ng-click="createBusinessMethod()">{{"business.CREATE_BUSINESS"
                    | translate}}</button>
            </center>
        </div>
        <div ng-show="claimBusiness == true">
            <div ng-hide="hideForm == true">
                <center>
                    <h1 class="color-success">{{selectedVenueName}}</h1>
                </center>
                <div ng-include="'claim-business.html'"></div>
            </div>
        </div>
        <div ng-show="claimForm == true">
            <div ng-include="'create-business.html'"></div>
        </div>

        <div class="modal modal-warning" id="successView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="zmdi zmdi-close"></i>
                    </span>
                </button>
                <h3 class="modal-title" id="myModalLabel6" ng-cloak>{{"business.REGISTERED" |
                            translate}}</h3>
            </div>
            <div class="modal-body">
                <p ng-cloak>{{"business.SUCCESS" | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn  btn-warning" ng-click="createBusinessAccount()" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
        </div>


        <div ng-show="businessData == true">
            <div ng-include="'deployment-steps.html'"></div>
        </div>
    </div>
</div>
