<div class="container">
	<div class="row">
		<div ng-hide="claimBusiness == true">
            <center>
            <h2>{{"business.BUSINESS_SEARCH" | translate}}</h2>
            </center>
            
            <form class="form-horizontal">
                            <fieldset>
                            <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.BUSINESS_NAME" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="search" ng-model="searchBusiness" name="searchBox">
                                    </div>
                                </div>
                                </fieldset>
                                <center>
                                <button type="submit" class="btn btn-raised btn-primary" ng-click="search()">{{"business.SEARCH" | translate}}</button>
                                </center>
                                </form>


    	</div>
        <div id="claimCard">
    	<div ng-repeat="business in businessDetails" ng-hide="claimBusiness == true">
		<article class="card wow fadeInLeft animation-delay-5 mb-4">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <div class="slider">
                            <img id="businessImage" ng-repeat="slide in business.imageUrls" class="slide" ng-swipe-right="showPrev(slide)" ng-swipe-left="showNext(slide)" ng-show="isActive($index)" style="width: 100%; margin: auto;" ng-src="{{slide.originalUrl}}" />
                            <ul class="buttonNav">
                                <li ng-repeat="slide in business.imageUrls" ng-class="{'active':isActive($index)}">
                                <img id="sliderThumb" src="{{slide.originalUrl}}" class="img-responsive" ng-click="showPhoto(slide,$index);" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <h3 class="no-mt">{{business.venueName}}</h3>
                        <p class="mb-4">{{business.description | limitTo: 200 }}{{business.description.length > 200 ? '...' :''}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <label>{{business.address}}</label> <br/>
                        <a href="{{business.website}}" target="_blank">{{business.website}}</a>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 text-right">
                            <button href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon" ng-click="claim(business)"><i class="zmdi zmdi-wrench"></i>{{"business.CLAIM_BUSINESS" | translate}}</button>
                    </div>
                </div>
            </div>
        </article>
    	</div>
        </div>
    	<div class="form-group" ng-hide="claimBusiness == true">
    	<center>
        <button type="submit" class="btn btn-raised btn-primary" ng-if="businessDetails" ng-click="createBusinessMethod()">{{"business.CREATE_BUSINESS" | translate}}</button>
        </center>
    	</div>
    	<div ng-show="claimBusiness == true">
        
        <div ng-hide="hideForm == true">
            <center><h2>{{selectedVenueName}}</h2></center>

        <form class="search-form" id="myFormClaim" name="myFormClaim" novalidate ng-submit="submitForm()">
                            <fieldset>
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.BUSINESS_NAME" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="businessName" ng-model="claimB.businessName" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.businessName)">{{"business.FORM_NAME_REQUIRED" | translate}}</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.EMAIL" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="email" class="form-control" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" name="claimEmailId" ng-model="claimB.email" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.claimEmailId)">{{"business.FORM_EMAIL_REQUIRED" | translate}}</span>
                                    </div>
                                </div>  
                                
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.PHONE" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="phone" ng-model="claimB.phoneNo" required>
                    <span class="error-message" ng-show="showMessage(myFormClaim.phone)">{{"business.FORM_PHONE_REQUIRED" | translate}}</span>
                                    </div>
                                </div> 
                            <center>
                <div >
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="businessSubmit(claimB)" novalidate="novalidate">{{"business.SUBMIT" | translate}}</button>
                    <button type="button" class="btn btn-raised btn-danger" ng-click="cancel()">{{"business.CANCEL" | translate}}</button>
            </div>                             
            </center>
                                </fieldset>
                                </form>


        
        </div>
        </div>


        <div ng-show="claimForm == true">
        <center>
            <h2>{{"business.CLAIM_BUSINESS" | translate}}</h2>
        </center>
        <div class="card-block">
        <!-- <div class="tab-content"> -->
        <form id="myForm" name="myForm" novalidate ng-submit="submitForm()">
                            <h4 id="businessMessage">{{"business.FREE_TRAIL" | translate}}</h4> 
                            <fieldset>
                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.BUSINESS_NAME" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" id="inputEmail" name="businessName" ng-model="newUser.businessName" required>
                                        <span class="error-message" ng-show="showMessage(myForm.businessName)">{{"business.FORM_BUSINESS_NAME_REQUIRED" | translate}}</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.ADDRESS" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.address" required name="address">
                                        <span class="error-message" ng-show="showMessage(myForm.address)">{{"business.FORM_ADDRESS_REQUIRED" | translate}}</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.ADDRESS" | translate}} 2:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.address2" required name="address2">
                                        <span class="error-message" ng-show="showMessage(myForm.address2)">{{"business.FORM_ADDRESS2_REQUIRED" | translate}}</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.CITY" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" ng-model="newUser.city" required name="city">
                                        <span class="error-message" ng-show="showMessage(myForm.city)">{{"business.FORM_CITY_REQUIRED" | translate}}</span>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.STATE" | translate}}:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.state">
                                                <option>{{"country.LOS_ANGELES" | translate}}</option>
                                                <option>{{"country.NEW_JERSEY" | translate}}</option>
                                                <option>{{"country.FLORIDA" | translate}}</option>
                                                <option>{{"country.CALIFORNIA" | translate}}</option>
                                            </select> 
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.CATEGORY" | translate}}:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.category">
                                                <option>{{"category.WEDDING" | translate}}</option>
                                                <option>{{"category.BIRTHDAY_PARTY" | translate}}</option>
                                                <option>{{"category.EVENT" | translate}}</option>
                                                <option>{{"category.WEEKEND_PARTY" | translate}}</option>
                                            </select> 
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.ROLE" | translate}}:</font></label>

                                    <div class="col-md-10">
                                            <select class="btn  dropdown-toggle form-control" required ng-model="newUser.role">
                                                <option>{{"role.ARTIST" | translate}}</option>
                                                <option>{{"role.CUSTOMER" | translate}}</option>
                                                <option>{{"role.ADMIN" | translate}}</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group is-empty">
                                    <label for="searchBusiness" class="col-md-2 control-label"><font size="3">{{"business.EMAIL" | translate}}:</font></label>

                                    <div class="col-md-10">
                                        <input type="text" id="ms-form-pass" class="form-control" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" name="emailId" ng-model="newUser.emailId" required>
                                        <span class="error-message" ng-show="showMessage(myForm.emailId)">{{"business.FORM_EMAIL_REQUIRED" | translate}}</span>
                                    </div>
                                </div>
                                
                            </fieldset>
                            <center>
                                <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-click="save(newUser)">{{"business.CREATE_ACCOUNT" | translate}}</button>
                                </div>
                            </div>
                            </center>
                        </form>
                        <!-- </div> -->
                        </div>
        </div>


        <div id="successView" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title">{{"business.REGISTERED" | translate}}</label>
                    </div>
                <div class="modal-body">
                <center>
                    <p>{{"business.SUCCESS" | translate}}</p>
                </center>
                <br>
                <center>
                     <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="createBusinessAccount()">{{"business.OK" | translate}}</button>
                     <button type="submit" class="btn btn-danger" data-dismiss="modal">{{"business.CANCEL" | translate}}</button>
                </center>
                </div>
                </div>
            </div>
        </div>


    	<div ng-show="businessData == true">
			<form class="search-form">
			    <div class="form-group">
						<div class="col-md-10">
							<table class="table-responsive">
							<tr>
								<td rowspan="3" id="businessDetails">
								    <img src="{{businessImage}}" alt="" class="img-responsive">
								</td>
								<td id="claimTitle" ng-show="businessData == true">
							    	    <h4 class="control-label" id="businessTitle">{{newUser.businessName}}</h4>
                                         <span><label class="control-label">{{newUser.address}}</label>
                                         <span><label class="control-label">{{newUser.address2}}</label></span></span>
							    </td>
                                <td id="claimTitle" ng-show="claimBusiness == true">
                                        <h4 class="control-label" id="businessTitle">{{claim.businessName}}</h4>
                                         <span><label class="control-label">{{claim.phone}}</label></span>
                                </td>
							</tr>
							</table>
                        </div>
                </div>
                 <div class="form-group">
						<div class="col-md-10">
						    <h4 class="control-label">{{"business.LINK" | translate}}</h4>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="form-group">
						<div class="col-md-10">
							<h4 class="control-label">{{"business.SCRIPT" | translate}}</h4>
						    <table class="table-responsive">
							<tr>
								<td>
                                    <input class="btn btn-info" type="button" value="Menu">
								</td>
								<td>
							    	<label class="control-label" id="businessMenu">&ltembed width="100%" height="100%" src="http://bit.ly/MonteCarloVIPPremiumServices"/&gt</label>
							    </td>
							</tr>
							<tr>
							    <td>
                                    <input class="btn btn-info" type="button" value="Button">
							    </td>
							    <td>
							    	<label class="control-label" id="businessMenu">Button Items</label>
							    </td>
							</tr>
							</table>
                        </div>
                </div>
                <div class="form-group">
						<div class="col-md-10">
						    <h4 class="control-label">{{"business.URL" | translate}}:</h4>
                            <input type="text" class="form-control">
                        </div>
                </div>
            </form>
    	</div>


    </div>
	</div>
