<div class="container" id="venueBanner">
    <div class="banner-fill-img">
        <img src="assets/img/demo/banner.jpg" id="forMobile">
    </div>
</div>
<!-- container -->
<div class="wrap wrap-mountain">
    <div class="container">
        <h2 class="text-center text-light wow fadeInDown animation-delay-5">{{"city.DISCOVER_FUN" | translate}}</h2>
        <h4 class="text-center text-light wow fadeInDown animation-delay-5">{{ "city.REAL_TIME_SERVICE" | translate}}</h4>
        <div class="row">            
            <div class="form-group">
                <div class="col-md-4" id="countryDropdown">
                    <select class="selectpicker" id="searchType" name="searchtype">
                        <option value="North America">North America</option>
                        <option value="South America">South America</option>
                        <option value="Canada">Canada</option>
                        <option value="India">India</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row" id="loadingCities">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">{{"city.LOADING_CITIES" | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="cityImage" class="city-image-block col-sm-4" style="background: url({{city.imageUrl}}) no-repeat center top;background-size:cover;" ng-repeat="city in listOfCities" ng-click="selectCity(city)">
                    <p class="content"><font size="5"> {{city.name}} </font> </p>
                </div>
            </div>
        </div>
    </div>
</div>