<form class="search-form" id="myFormClaim" name="myFormClaim" validate-form="" parsley-validate novalidate ng-submit="businessSubmit(claimNewBusiness)" ng-cloak>
    <fieldset>
        <div class="form-group is-empty required">
            <label for="searchBusiness" class="col-md-2 control-label">
                <font size="3">{{"business.EMAIL" | translate}}:</font>
            </label>
            <div class="col-md-10">
                <input type="email" id="ms-form-pass" data-parsley-type="email" required="required" ng-model="claimNewBusiness.emailId" name="email" class="form-control" data-parsley-trigger="change"> 
            </div>
        </div>

        <div class="form-group is-empty required">
            <label for="searchBusiness" class="col-md-2 control-label">
                <font size="3">{{"business.PHONE" | translate}}:</font>
            </label>
            <div class="col-md-10">
                <input type="text" id="ms-form-pass" class="form-control" masked="" data-inputmask="'mask': '(999) 999-9999'" name="phone" ng-model="claimNewBusiness.phone" required="" data-parsley-trigger="change">
            </div>
        </div>
        <div class="form-group is-empty required">
                <label for="searchBusiness" class="col-md-2 control-label"><font
                    size="3">{{"business.ROLE" | translate}}:</font></label>

                <div class="col-md-10">
                    <select class="btn  dropdown-toggle form-control" required=""
                        ng-model="claimNewBusiness.role" ng-options="r.role for r in listOfRoles">
                    </select>
                </div>
            </div>
        <center>
            <div >
                <button type="submit" class="btn btn-raised btn-primary" novalidate="novalidate" ng-disabled="myFormClaim.$invalid">{{"business.SUBMIT" | translate}}</button>
                <button type="button" class="btn btn-raised btn-danger" ng-click="cancel()">{{"business.CANCEL" | translate}}</button>
            </div>
        </center>
    </fieldset>
</form>