<center ng-cloak>
	<h1 class="color-success">{{"business.DEPLOY_STEPS" | translate}}</h1>
	<h4 class="color-success"> {{"business.FINAL_STEPS" | translate}} </h4>
</center>
<div class="container">
<form class="search-form" ng-cloak>
	<div class="form-group">
		<div class="col-md-10">

			<div class="post-container">                
			    <div class="post-thumb"><img class="deployPost" ng-src="{{businessImage}}"/></div>
			    <div class="post-content">
			        <h3 class="post-title">{{selectedVenueName || newUser.businessName}}</h3>
			        <i class="fa fa-map-marker"></i>{{newUser.address}}
			        {{selectedVenueAddress}}
			        <p><a href="{{selectedVenueWebsite}}"><i class="fa fa-globe" aria-hidden="true"></i>     Website</a></p>
			    </div>
			</div>
			<hr class="underLine">
		</div>
	</div>
	<br>
		<div class="form-group">
			<div class="col-md-10">
				<b class="control-label"><font size="4">{{"business.DOWNLOAD_VENUELYTICS" | translate}}</font></b>
				<br>
				<label><font size="2">{{"business.LINK_DOWNLOAD" | translate}}:</font></label>
				<a href="http://onelink.to/xw558c" target="_blank">{{"business.DOWNLOAD_VENUELYTICS_URL" | translate}}</a><br>
				<hr class="underLine">
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-10">
				<b class="control-label"><font size="4">{{"business.DOWNLOAD_VENUELYTICS_WHITE" | translate}}</font></b>
				<br>
				<label><font size="2">{{"business.LINK_DOWNLOAD" | translate}}:</font></label>
				<a href="http://onelink.to/98dmnv" target="_blank">{{"business.DOWNLOAD_VENUELYTICS_WHITE_URL" | translate}}</a><br>
				<hr class="underLine">
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-10">
				<b class="control-label"><font size="4">{{"business.FOR_SHARING" | translate}}</font></b>
				<br>
				<p class="control-label"><font size="2">{{"business.LINK" | translate}}</font></p>
				<label><font color="black">https://bit.ly/MonteCarloVIPPremiumServices</font></label>
				<hr class="underLine">
				<p class="control-label"><font size="2">{{"business.URL" | translate}}</font></p>
				<label><font color="black">https://bit.ly/MonteCarloVIPPremiumServices</font></label>
				<hr class="underLine">
				<p class="control-label" ng-if="bottleUrl"><font size="2">{{"business.BOTTLE_URL" | translate}}</font></p>
 				<label ng-if="bottleUrl"><font color="black">{{bottleUrl}}</font></label>
 				<hr class="underLine" ng-if="bottleUrl">
 				<p class="control-label" ng-if="privateUrl"><font size="2">{{"business.PRIVATE_URL" | translate}}</font></p>
 				<label ng-if="privateUrl"><font color="black">{{privateUrl}}</font></label>
 				<hr class="underLine" ng-if="privateUrl">
 				<p class="control-label" ng-if="foodUrl"><font size="2">{{"business.FOOD_URL" | translate}}</font></p>
 				<label ng-if="foodUrl"><font color="black">{{foodUrl}}</font></label>
 				<hr class="underLine" ng-if="foodUrl">
 				<p class="control-label" ng-if="premiumUrl"><font size="2">{{"business.PREMIUM_URL" | translate}}</font></p>
 				<label ng-if="premiumUrl"><font color="black">{{premiumUrl}}</font></label>
 				<hr class="underLine" ng-if="premiumUrl">
 				<p class="control-label" ng-if="drinksUrl"><font size="2">{{"business.DRINKS_URL" | translate}}</font></p>
 				<label ng-if="drinksUrl"><font color="black">{{drinksUrl}}</font></label>
 				<hr class="underLine" ng-if="drinksUrl">
 				<p class="control-label" ng-if="guestList"><font size="2">{{"business.GUEST_URL" | translate}}</font></p>
 				<label ng-if="guestList"><font color="black">{{guestList}}</font></label>
 				<hr class="underLine" ng-if="guestList">
			</div>

		</div>
			<div class="form-group">
				<div class="col-md-10">
					<b class="control-label"><font size="4">{{"business.CONFIG_SCRIPT" | translate}}</font></b>
					<div class="form-group is-empty" id="formMargin">
					    <label><font size="2">{{"business.MENU_OPTIONS" | translate}}</font></label>
					    <br>
					    <label><font color="black">&ltembed width="100%" height="100%" src="https://bit.ly/MonteCarloVIPPremiumServices?t=b"/&gt</font></label>
					    <hr class="underLine">

					</div>
					<div class="form-group is-empty" id="formMargin">
					    <label><font size="2">{{"business.DASHBOARD_BUTTONS" | translate}}</font></label>
					    <br>
					    <label><font color="black">&ltdiv class="textwidget"&gt</font></label>
					    <label><font color="black">&ltp style="text-align:center"&gt</font></label>
					    <label><font color="black">&lta class="book-VPS-btn" href="https://prod.api.venueLytics.com/WebServices/reservation/1006" target="_blank"&gt</font></label>
					    <label><font color="black">&ltp style="text-align:center"&gt</font></label>
					    <label><font color="black">&lta class="book-ES-btn" href="https://prod.api.venueLytics.com/WebServices/reservation/1006" target="_blank"&gtB&ltsmall&gtPowered By&lt/small&gt&ltbr&gt&lta href="//www.venuelytics.com/" target="_blank"&gt&ltimg src="http://rosiemccanr</font></label>
					    <label><font color="black">&lt/div&gt</font></label>
					    <label><font color="black">&lt/div&gt</font></label>
						<hr class="underLine">
					</div>

				</div>
			</div>
			<div>
				<button class="btn btn-raised btn-success sendEmailButton">{{"business.DEPLOY_EMAIL" | translate}}</button>
			</div>
			
</form>
</div>