<div ng-controller="drinkServiceController">
<form class="search-form" name="guestForm" validate-form="" parsley-validate novalidate ng-submit="glistSave(guest)" ng-cloak>
        <fieldset>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" class="form-control fontBold" id="requestedDate" ng-model="guest.requestedDate" placeholder="{{'reservation.DATE' | translate}}">
            </div>
            <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" id="privateTotalGuest" ng-model="guest.totalGuest" placeholder="{{'reservation.TOTAL_GUEST' | translate}}">
            </div>
         </fieldset>
</form>
</div>