<div ng-controller="foodServiceController">
<form class="search-form" name="foodForm" validate-form="" parsley-validate novalidate ng-cloak>
        <fieldset>
        	<div class="col-lg-12 form-group is-empty">
                <input type="text" id="foodFirstName" name="foodFirstName" placeholder="{{'reservation.FIRST_NAME' | translate}}" class="form-control fontBold" ng-model="food.firstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" id="foodLastName" name="foodLastName" placeholder="{{'reservation.LAST_NAME' | translate}}" class="form-control fontBold" ng-model="food.lastName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="email" id="foodEmailId" name="foodEmailId" data-parsley-type="email" placeholder="{{'reservation.EMAIL' | translate}}" class="form-control fontBold" ng-model="food.emailId" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="foodMobile" placeholder="{{'reservation.MOBILE' | translate}}" ng-model="food.mobileNumber" required="" data-parsley-trigger="change">
            </div>
        <div class="col-md-12">
    		<center>
        		<a href="" class="btn btn-success fontRegular btn-raised" ng-if="foodBreakFastUrl" ng-click="menuUrlSelection(foodBreakFastUrl)"><span class="glyphicon glyphicon-heart-empty"></span> &nbsp;&nbsp;{{"reservation.BREAK_FAST" | translate}}</a>&nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodBranchUrl" ng-click="menuUrlSelection(foodBranchUrl)"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;{{"reservation.FOOD_BRANCH" | translate}}</a> &nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodStartersUrl" ng-click="menuUrlSelection(foodStartersUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_STARTERS" | translate}}</a>&nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodMenuUrl" ng-click="menuUrlSelection(foodMenuUrl)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_MENU" | translate}}</a>
                <a href="" class="btn btn-success fontRegular btn-raised" ng-if="foodHappyHourUrl" ng-click="menuUrlSelection(foodHappyHourUrl)"><span class="glyphicon glyphicon-heart-empty"></span> &nbsp;&nbsp;{{"reservation.FOOD_HAPPY_HOUR" | translate}}</a>&nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodDinnerUrl" ng-click="menuUrlSelection(foodDinnerUrl)"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;{{"reservation.FOOD_DINNER" | translate}}</a> &nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodLunchUrl" ng-click="menuUrlSelection(foodLunchUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_LUNCH" | translate}}</a>&nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodDessertsUrl" ng-click="menuUrlSelection(foodDessertsUrl)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_DESSERTS" | translate}}</a>
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodAppetizsersUrl" ng-click="menuUrlSelection(foodAppetizsersUrl)"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;{{"reservation.FOOD_APPETIZSER" | translate}}</a>&nbsp;&nbsp;
                <a href="" class="btn btn-success btn-raised fontRegular" ng-if="foodGlutenfree" ng-click="menuUrlSelection(foodGlutenfree)"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;{{"reservation.FOOD_GLUTEN" | translate}}</a>
    		</center>
		</div> <br/>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" id="foodInstructions" ng-model="food.instructions" placeholder="{{'reservation.SPECIAL_INSTRUCTION' | translate}}">
       	</div>
       	<br><br>
            <div class="col-lg-12">
                <center>
                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="foodForm.$invalid" ng-click="foodSave()">
                        <span class="fontRegular">APPLY</span>
                    </button>
                    <button class="btn btn-raised btn-success">
                        <span class="fontRegular">CANCEL</span>
                    </button>
                </center>
            </div>
        </fieldset>
</form>
</div>

<div class="modal" id="foodMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <img src="{{menuImageUrl}}" alt="" class="img-responsive">
        </div>
    </div>
</div>