<div ng-controller="GuestListController">
<form class="search-form" name="guestForm" validate-form="" parsley-validate novalidate ng-submit="glistSave(guest)" ng-cloak>
        <fieldset>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.DATE' | translate}}</label>
                <input type="text" class="form-control fontBold" id="requestedDate" ng-model="guest.requestedDate">
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.TOTAL_GUEST' | translate}}</label>
            <input type="text" class="form-control fontBold" id="privateTotalGuest" ng-model="guest.totalGuest" >
            </div>
            <div class="col-lg-12 form-group is-empty">
            <table>
                <tr>
                    <td>
                        <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
                        <label class="control-label" for="focusedInput1">{{'reservation.GUEST_MEN' | translate}}   </label>
                        <input type="text" placeholder="" id="guestMen" name="guestMen" class="form-control fontBold" ng-model="guest.guestMen" required="" data-parsley-trigger="change">
                        </div>
                    </td>
                    <td>
                        <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
                        <label class="control-label" for="focusedInput1">{{'reservation.GUEST_WOMEN' | translate}}</label>
                        <input type="text" id="guestWomen" name="guestWomen" class="form-control fontBold" ng-model="guest.guestWomen" required="" data-parsley-trigger="change">
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
                <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="guest.guestMobileNumber" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
                <input type="email" id="guestEmailId" name="guestEmailId" data-parsley-type="email" class="form-control fontBold" ng-model="guest.guestEmailId" required="" data-parsley-trigger="change">
            </div>
            <div class="showInMobile">
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
                <input type="text" id="guestFirstName" name="guestFirstName" class="form-control fontBold" ng-model="guest.guestFirstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
                <input type="text" id="guestLastName" name="guestLastName" placeholder="" class="form-control fontBold" ng-model="guest.guestLastName" required="" data-parsley-trigger="change">
            </div>
            </div>

            <div class="showInWeb">
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
                <input type="text" id="guestFirstName" name="guestFirstName" class="form-control fontBold" ng-model="guest.guestFirstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
                <input type="text" id="guestLastName" name="guestLastName" class="form-control fontBold" ng-model="guest.guestLastName" required="" data-parsley-trigger="change">
            </div>
            </div>
            <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.ZIPCODE' | translate}}</label>
                <input type="number" id="guestZip" name="guestZip" pattern="[0-9]{5}" class="form-control fontBold" ng-model="guest.guestZip" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12">
            <div class="checkbox">
                <label class="fontRegular" style="font-size: 15px;">
                    <input type="checkbox" ng-mode="guest.authorize" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AUTHORIZE" | translate}} {{venueName}}. </input>
                </label>
            </div>
            </div>
            <div class="col-lg-12">
            <div class="checkbox">
                <label class="fontRegular" style="font-size: 15px;">
                    <input type="checkbox" ng-model="guest.agree" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AGREE" | translate}} {{venueName}} {{"reservation.AGREE_1" | translate}}</input>
                </label>
            </div>
            </div>
            <br><br>
            <div class="col-lg-12">
                <center>
                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="guestForm.$invalid">
                        <span class="fontRegular">APPLY</span>
                    </button>
                    <button class="btn btn-raised btn-success">
                        <span class="fontRegular">CANCEL</span>
                    </button>
                </center>
            </div>
        </fieldset>
    </form>
</div>
