<form class="search-form" ng-controller="VenueDetailsController" name="guestForm" validate-form="" parsley-validate novalidate ng-submit="glistSave(guest)" ng-cloak>
        <fieldset>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" class="form-control fontRegular" id="inputDate" ng-model="guest.guestStartDate" placeholder="{{'reservation.DATE' | translate}}">
            </div>
            <div class="col-md-10 form-group is-empty">
            <div class="input-group">
                <label for="inputEmail" class="sameRow fontRegular">{{"reservation.TOTAL_GUEST" | translate}}</label>
                <div class="sameRow guestBorder">
                    <span>
                    <button type="button" class="btn btn-success btn-number" ng-click="minus()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                {{totalGuest}}
                <span>
                    <button type="button" class="btn btn-success btn-number" ng-click="plus()">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" placeholder="{{'reservation.GUEST_MEN' | translate}}" id="guestMen" name="guestMen" class="form-control fontRegular" ng-model="guest.guestMen" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" placeholder="{{'reservation.GUEST_WOMEN' | translate}}" id="guestWomen" name="guestWomen" class="form-control fontRegular" ng-model="guest.guestWomen" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" id="ms-form-pass" class="form-control fontRegular" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" placeholder="{{'reservation.MOBILE' | translate}}" ng-model="guest.guestMobileNumber" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="email" id="guestEmailId" name="guestEmailId" data-parsley-type="email" placeholder="{{'reservation.EMAIL' | translate}}" class="form-control fontRegular" ng-model="guest.guestEmailId" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" id="guestFirstName" name="guestFirstName" placeholder="{{'reservation.FIRST_NAME' | translate}}" class="form-control fontRegular" ng-model="guest.guestFirstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="text" id="guestLastName" name="guestLastName" placeholder="{{'reservation.LAST_NAME' | translate}}" class="form-control fontRegular" ng-model="guest.guestLastName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12 form-group is-empty">
                <input type="number" id="guestZip" name="guestZip" pattern="[0-9]{5}" placeholder="{{'reservation.ZIPCODE' | translate}}" class="form-control fontRegular" ng-model="guest.guestZip" required="" data-parsley-trigger="change">
            </div>
            <div class="col-lg-12">
            <div class="checkbox">
                <label class="fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AUTHORIZE" | translate}}
                </label>                            
            </div>
            </div>
            <div class="col-lg-12">
            <div class="checkbox">
                <label class="fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AGREE" | translate}}
                </label>                            
            </div>
            </div>
            <br><br>
            <div class="col-lg-12">
                <center>
                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="guestForm.$invalid">
                        <span class="fontRegular">APPLY</span>
                    </button>
                    <button class="btn btn-raised btn-success">
                        <span class="fontRegular">CANCEL</span>
                    </button>
                </center>
            </div>
        </fieldset>
    </form>