<div class="ms-hero-page ms-hero-img-keyboard" ng-cloak>
    <div class="container">
        <div class="text-center">
            <h1
                class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{selectedCityName}}</h1>
        </div>
    </div>
</div>

<div class="container container-full" ng-cloak>
    <a href="cities" id="navigation"><h3>{{"venue.HOME" |
            translate}} > {{"venue.CITIES" | translate}} -> {{selectedVenueType | titleCase}}</h3></a>
    <div class="ms-paper">
        <div class="row">
            <!-- For Horizontal tabs -->
            <div class="card venueListCard">
                <!-- Nav tabs -->
                <ul
                    class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-6"
                    role="tablist">
                    <li role="presentation" ng-repeat="type in serviceTypes">
                        <!-- ng-if="clubTab != 0" --> <a href ng-click="setTab(type.title)"
                        class="withoutripple" aria-controls="clubs" role="tab"
                        data-toggle="tab"> <!-- ng-init="$index == 0 ? setTab('CLUB') : ''" -->
                            <img ng-src="{{type.icon}}" class="serviceTabIcons"></img> <span class="hidden-xs">{{type.title | translate}}</span>
                    </a>
                    </li>
                </ul>
                <div class="form-group label-floating is-empty col-md-12">
                    <div class="input-group col-md-3 pull-right">
                      <span></span>
                      <label class="control-label" for="addon3a">{{"venue.SEARCH_VENUE" | translate}}... </label>
                      <input class="form-control" type="text" ng-model="venueSearch" ng-keypress="getVenuesKeyEnter($event,venueSearch)">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-fab-mini" ng-click="getVenueBySearch(venueSearch)">
                          <i class="zmdi zmdi-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                <div class="card-block venueCardBlock">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container cardAlignment">
                                        <center>
                                            <h5 ng-show="listOfVenuesByCity.length == 0">{{"venue.NO_MATCHING_RESULTS"
                                                | translate}}</h5>
                                        </center>
                                        <div
                                            class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2"
                                            ng-repeat="venue in listOfVenuesByCity"
                                            ng-if="venue.imageUrls[0].smallUrl">
                                            <article id="articleCart"
                                                class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left"
                                                    ng-click="selectVenue(venue)" id="cityImage">
                                                    <img ng-src="{{venue.imageUrls[0].smallUrl}}" alt=""
                                                        class="img-responsive" id="venueImages">
                                                </figure>
                                                <div class="card-block">
                                                    <h3 class="venueTitle">
                                                        <a href="newCities/{{selectedCityName}}/{{venue.id}}" ng-click="selectVenue(venue)" title="{{venue.venueName}}">{{venue.venueName
                                                            | limitTo: 25 }}{{venue.venueName.length > 25 ? '...'
                                                            :''}}</a>
                                                    </h3>
                                                    <p><i class="fa fa-map-marker locationIcon"></i>{{venue.address | limitTo: 38
                                                    }}{{venue.address.length > 38 ? '...' :''}}</p>
                                                    <a href="{{venue.website}}" target="_blank" class="venueTitle"><i class="fa fa-globe" aria-hidden="true"></i>     Website</a>
                                                    <p class="venueDescription">{{venue.description | limitTo: 85
                                                        }}{{venue.description.length > 85 ? '...' :''}}</p>
                                                    <div class="row col-lg-8 serviceIcon">
                                                        <a ng-repeat="service in serviceIcons" ng-click="selectedServices(venue, service.tab)"><img
                                                            ng-src="{{service.image}}" class="serviceSmallIcon" title="{{service.title}}"
                                                            ng-show="venue.info['{{service.fieldName}}'] == 'Y'"></img>
                                                            </a>
                                                    </div>

                                                    <div ng-hide="!venue.distanceInMiles" id="distance"
                                                        class="col-lg-5">{{venue.distanceInMiles | number :
                                                        2}} {{ "venue.MILES" | translate}}</div>
                                                    <br />

                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <!-- </section> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
        <!-- row -->
    </div>
    <!-- ms-paper -->
</div>
<!-- container -->
