<style>
 .playVideo {
    z-index: 100;position: absolute;left: 350px;top: 200px;
  }
</style>
<div id="container" class="container venueBanner venueContainer">
        <ng-include class="playVideo" src="'cities-apps-image.html'" scope="" onload=""></ng-include>
    <div class="banner-fill-img">
        <img ng-src="assets/img/demo/banner.jpg" alt="bannerImg" id="forMobile">
    </div>
</div>
<!-- container -->
<div class="city" ng-cloak>
    <div class="container">
        <h1 class="text-center wow fadeInDown animation-delay-5 discover">{{"city.DISCOVER_FUN" | translate}}</h1>
        <h4 class="text-center wow fadeInDown animation-delay-5">{{
            "city.REAL_TIME_SERVICE" | translate}}</h4>
        <div class="form-group label-floating is-empty col-md-12">
                    <div class="input-group col-md-3 pull-left">
                      <span></span>
                      <input class="form-control" type="text" ng-model="citySearch" ng-keypress="getCityKeyEnter($event,citySearch)" placeholder="{{'city.SEARCH_CITY' | translate}}... ">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-fab-mini" ng-click="getCity(citySearch)">
                          <i class="zmdi zmdi-search"></i>
                        </button>
                      </span>
                    </div>
                    <div class="input-group col-md-3 searchVenue pull-left">
                      <span></span>
                      <input class="form-control" type="text" ng-model="venueSearch" ng-keypress="getVenuesKeyEnter($event,venueSearch)" placeholder="{{'venue.SEARCH_VENUE' | translate}}...">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-fab-mini" ng-click="getVenueBySearch(venueSearch)">
                          <i class="zmdi zmdi-search"></i>
                        </button>
                      </span>
                    </div>
                    <div class="col-md-3 pull-right">
                        <select class="btn dropdown-toggle form-control" required id="countryDropdown"
                            ng-model="selectedCountry" ng-options="c.countryName for c in countries" ng-change="getCountry(selectedCountry)">
                        </select>
                </div>
                  </div>
                  <br><br><br>
        <div class="row" ng-init="gettingLocation(null, null, selectedCountry.shortName)">
            <div class="row loadingCities" ng-show="loadingBar">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success progressBar" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">{{"city.LOADING_CITIES" | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row cityBox">
            <a class="cityImage city-image-block col-md-4 col-sm-6 city_card img-responsive" style="background: url({{city.imageUrl}}) no-repeat center top; background-size: cover;" ng-repeat="city in listOfCities" ng-click="selectCity(city)" href="newCities/{{city.name}}">
                <p class="content">
                    <font size="5"> {{city.name}} </font>
                </p>
            </a>
            </div>
        <!-- <center ng-show="listOfCities.length == 0"><strong>No more cities found.</strong></center> -->
        </div>
        <center ng-hide="listOfVenuesByCity">
            <button ng-click="previousPage()" class="btn btn-raised btn-success" ng-if="next == true">
                <span aria-hidden="true">«</span> {{'home.PREVIOUS_BUTTON' | translate}}
            </button>
            <button ng-click="nextPage()" class="btn btn-raised btn-success" ng-hide="listOfCities.length < 50">{{'home.NEXT_BUTTON' | translate}}
                <span aria-hidden="true">»</span>
            </button>
        </center>
        <!-- <nav aria-label="..." ng-hide="listOfCities.length < 50">
            <ul class="pager pager-success">
               <!--  <li>
                    <button ng-click="previousPage()" class="btn btn-raised btn-success">
                        <span aria-hidden="true">«</span> {{'home.PREVIOUS_BUTTON' | translate}}
                    </button>
                </li>
                <li>
                    <button ng-click="nextPage()" class="btn btn-raised btn-success">{{'home.NEXT_BUTTON' | translate}}

                        <span aria-hidden="true">»</span>
                    </button>
                </li>
            </ul>
        </nav>
        <nav aria-label="..." ng-if="next == true">
            <ul class="pager pager-success">
                <li>
                    <button ng-click="previousPage()" class="btn btn-raised btn-success">
                        <span aria-hidden="true">«</span> {{'home.PREVIOUS_BUTTON' | translate}}
                    </button>
                </li>
            </ul>
        </nav> -->

    </div>
    <div ng-if="listOfVenuesByCity">
        <div ng-include="'venue-in-newcity.html'"></div>
    </div>
</div>
