<div ng-controller="PartyPackageController">
<!-- <div class="col-lg-6"> -->
<div class="showInWeb">
 <legend class="fontRegular">Description</legend>
    <div class="form-group ">
        <p id="banquetHallData" class="fontRegular">{{"reservation.DESCRIPTION" | translate}}</p>
    </div>
</div>
<div class="showInMobile">
 <legend class="fontRegular">Description</legend>
    <div class="form-group " ng-if="!desc">
        <p id="banquetHallData" class="fontRegular">{{"reservation.DESCRIPTION_MOBILE" | translate}}</p>
        <a class="btn btn-default btn-raised btn-xs pull-right" ng-click="privateDescription()">Read More</a>
    </div>
    <div class="form-group " ng-if="desc">
        <p id="banquetHallData" class="fontRegular">{{"reservation.DESCRIPTION" | translate}}</p>
    </div>
</div>
<form class="form-horizontal privateFormHeight" name="privateForm" parsley-validate validate-form="" ng-cloak>
    <fieldset>
        <div class="col-md-12 form-group is-empty">
            <input type="text" class="form-control fontBold" id="partyDate" ng-model="party.orderDate" placeholder="{{'reservation.DATE' | translate}}">
            <!-- <label for="inputEmail" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-lg-12 form-group is-empty">
            <table>
                <tr>
                    <td>
                        <input type="text" class="form-control fontBold" id="privateTotalGuest" ng-model="party.totalGuest" placeholder="{{'reservation.TOTAL_GUEST' | translate}}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 form-group is-empty">
            <input type="text" class="form-control fontBold" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}" ng-model="party.userFirstName" required="required" data-parsley-trigger="change">
        </div>
        <div class="col-md-12 form-group is-empty">
            <input type="text" class="form-control fontBold" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}" ng-model="party.userLastName" required="required" data-parsley-trigger="change">
        </div>
        <div class="col-md-12 form-group is-empty">
            <input type="email" class="form-control fontBold" id="email" ng-model="party.email" placeholder="{{'reservation.EMAIL' | translate}}" required="required" data-parsley-trigger="change" >
        </div>
        <div class="col-md-12 form-group is-empty">
            <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="party.mobile" placeholder="{{'reservation.MOBILE' | translate}}" required="" data-parsley-trigger="change">
        </div>
        <div class="col-md-12 form-group is-empty">
            <select class="form-control fontBold" required=""
                ng-model="party.partyEventType" ng-options="t.name for t in eventTypes">
                <option value="">{{"reservation.EVENT_TYPE"  | translate}}</option>
            </select>
        </div>
        <div class="col-md-12 form-group is-empty">
            <input type="text" class="form-control fontBold" id="instructions" placeholder="{{'reservation.COMMENT' | translate}}" ng-model="party.instructions" required="required" data-parsley-trigger="change">
        </div>
        <div class="col-md-12">
            <div class="checkbox">
                <label class="check-box fontRegular fontColorForText">
                    <input type="checkbox" ng-model="party.authorize" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.TO_AUTHORIZE" | translate}} {{venueName}}</input>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="checkbox">
                <label class="check-box fontRegular fontColorForText">
                    <input type="checkbox" ng-model="party.agree" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.TO_AGREE" | translate}} {{venueName}} {{"reservation.PRIVACY_POLICY" | translate}}</input>
                </label>
            </div>
        </div>
    </fieldset>
</form>
<hr>
<div class="col-md-12">
<h4>{{"reservation.PARTY_PACKAGE" | translate}}</h4>
<div class="container container-full" ng-cloak>
    <div class="ms-paper">
        <div>
            <!-- For Horizontal tabs -->
            <div>
                <div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" class="tab-pane fade active in">
                            <div>
                                <div>
                                    <div>
                                        <div
                                            class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2"
                                            ng-repeat="privateEvent in privateEventValueArray"
                                            ng-if="privateEvent.imageUrls[0].smallUrl">
                                            <article id="articleCart"
                                                class="card card-info mb-4 wow materialUp animation-delay-5 cardHeight">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{privateEvent.imageUrls[0].smallUrl}}" alt=""
                                                        class="img-responsive" id="venueImages">
                                                </figure>
                                                <div class="card-block">
                                                    <h2 class="venueTitle">
                                                        <a href="#">{{privateEvent.name
                                                            | limitTo: 20 }}{{privateEvent.name.length > 20 ? '...'
                                                            :''}}</a>
                                                    </h2>
                                                    <p ng-if="privateEvent.servingSize != 0">{{privateEvent.servingSize}} people</p>
                                                    <p ng-if="privateEvent.size != 0">{{privateEvent.size}} sq.ft</p>
                                                    <p class="privateEventBox">{{privateEvent.description | limitTo: 70
                                                        }}{{privateEvent.description.length > 70 ? '...' :''}}</p>
                                                    <button type="submit" id="privateEnquire" class="btn btn-success btn-md btn-raised pull-right" novalidate="novalidate" ng-disabled="privateForm.$invalid" ng-click="confirmPartyPackage(privateEvent)" translate="ENQUIRY"></button>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
