<div ng-controller="PartyPackageController">
<!-- <div class="col-lg-6"> -->
<div class="showInWeb">
 <legend class="fontRegular">Description</legend>
    <div class="form-group ">
        <p id="banquetHallData" class="fontRegular">{{partyDescription}}</p>
    </div>
</div>
<div class="showInMobile">
 <legend class="fontRegular">Description</legend>
    <div class="form-group " ng-if="!desc">
        <p id="banquetHallData" class="fontRegular">{{partyDescription | limitTo: 160}}{{partyDescription.length > 160 ? '...' :''}}</p>
        <a class="btn btn-default btn-raised btn-xs pull-right" data-toggle="modal" data-target="#partyDescriptionModal" ng-click="partyHallDescription(partyDescription)" ng-if="partyDescription.length > 160">Read More</a>
    </div>
</div>
<form class="form-horizontal" name="privateForm" parsley-validate validate-form="" ng-cloak>
    <fieldset>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyDateIsFocused}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.DATE' | translate}}</label>
            <input type="text" class="form-control fontBold" id="partyDate" ng-model="party.orderDate">
            <!-- <label for="inputEmail" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-lg-12 form-group is-empty">
            <table>
                <tr>
                    <td>
                        <div class="col-md-10 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;"> 
                        <label class="control-label" for="focusedInput1">{{'reservation.TOTAL_GUEST' | translate}}</label>
                        <input type="text" class="form-control fontBold" id="privateTotalGuest" ng-model="party.totalGuest" placeholder="">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="showInMobile">
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold" ng-model="party.userFirstName" id="firstName"  required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold" ng-model="party.userLastName" id="lastName" >
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
            <input type="email" class="form-control fontBold" id="email" ng-model="party.email" data-parsley-trigger="change" required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
            <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="party.mobile" required data-parsley-trigger="change">
        </div>
        </div>

        <div class="showInWeb">
        <div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold" ng-model="party.userFirstName" id="firstName"  required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold fontChange" ng-model="party.userLastName" id="lastName" required>
        </div>
        </div>
        <div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
            <input type="email" class="form-control fontBold" id="email" ng-model="party.email" data-parsley-trigger="change" required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
            <input type="text" id="ms-form-pass" class="form-control fontBold fontChange" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="party.mobile" required data-parsley-trigger="change">
        </div>
        </div>
        </div>

        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{"reservation.EVENT_TYPE"  | translate}}</label>
            <select class="form-control fontBold" required=""
                ng-model="party.partyEventType" ng-options="t.name for t in eventTypes">
                <option value=""></option>
            </select>
        </div>

        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{partyFocus}}" style="margin-left: auto;">
        <label class="control-label" for="focusedInput1">{{'reservation.COMMENT' | translate}}</label>
            <input type="text" class="form-control fontBold" id="instructions" ng-model="party.instructions" data-parsley-trigger="change">
        </div>
        <div class="col-md-12">
            <div>
                <label class="check-box fontRegular fontColorForText">
                    <input type="checkbox" ng-model="party.authorize" required/>
                    {{"reservation.TO_AUTHORIZE" | translate}} {{venueName}}
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <label class="check-box fontRegular fontColorForText">
                    <input type="checkbox" ng-model="party.agree" required>{{"reservation.TO_AGREE" | translate}} {{venueName}} {{"reservation.PRIVACY_POLICY" | translate}}
                </label>
            </div>
        </div>
    </fieldset>
</form>
<hr>
<div class="col-md-12">
<h4>{{"reservation.PARTY_PACKAGE" | translate}}</h4>
<div class="container container-full partyAlignment" ng-cloak>
    <div class="ms-paper">
        <div>
            <!-- For Horizontal tabs -->
            <div>
                <div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" class="tab-pane fade active in">
                            <div>
                                <div>
                                    <div>
                                        <div
                                            class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2"
                                            ng-repeat="partyObj in partyHall"
                                            ng-if="partyObj.imageUrls[0].smallUrl">
                                            <article id="articleCart"
                                                class="card card-info mb-4 wow materialUp animation-delay-5 cardHeight">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{partyObj.imageUrls[0].smallUrl}}" alt=""
                                                        class="img-responsive" id="venueImages">
                                                </figure>
                                                <div class="card-block">
                                                    <h2 class="venueTitle">
                                                        <a href="#">{{partyObj.name
                                                            | limitTo: 20 }}{{partyObj.name.length > 20 ? '...'
                                                            :''}}</a>
                                                    </h2>
                                                    <p ng-if="partyObj.servingSize != 0">{{partyObj.servingSize}} people</p>
                                                    <p ng-if="partyObj.size != 0">{{partyObj.size}} sq.ft</p>
                                                    <p class="privateEventBox">{{partyObj.description | limitTo: 120
                                                        }}{{partyObj.description.length > 120 ? '...' :''}}
                                                    <a class="btn btn-default btn-raised btn-xs pull-right" data-toggle="modal" data-target="#partyDescriptionModal" ng-click="partyHallDescription(partyObj.description)" ng-if="partyObj.description.length > 120">{{"reservation.READ_MORE" | translate}}</a>
                                                    </p><br>
                                                    <button type="submit" id="partyEnquire" class="btn btn-success btn-md btn-raised pull-right" novalidate="novalidate" ng-disabled="privateForm.$invalid" ng-click="confirmPartyPackage(partyObj)" ng-if="partyObj.reserve == false">{{"reservation.ENQUIRE" | translate}}</button>
                                                    <label class="pull-right" ng-if="partyObj.reserve == true">{{"reservation.RESERVED" | translate}}</label>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="modal modal-success" id="partyDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'bottleServiceTab.DESC' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{partyDescription}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeBottleModal()">Close</button>
            </div>
        </div>
    </div>
</div>

</div>

