<div class="container">
    <br><br>
    <div class="row pricing-table-container">
        <div class="col-md-3 hidden-sm hidden-xs pricing-col">
            <div class="pricing-table pricing-table-description">
               <div class="pricing-table-head">
                   <h2>
                    {{planFeature}}
                   </h2>
                   <h3 class="price">
                    {{monthlyPrice}}
                   </h3>
               </div>
               <ul  class="pricing-table-content">
                    <li class="price_header">
                        <span >{{reservationPromotation}}</span>
                    </li>
                    <li class="ml-2" ng-repeat="reservation in reservationPromotationArray">
                            {{reservation.title}}
                    </li>
                    <li class="price_header">
                        <span >{{premiumServices}}</span>
                    </li>
                    <li class="ml-2" ng-repeat="premium in premiumServicesArray">
                        {{premium.title}}
                    </li>
                    <li class="price_header">
                        <span >{{wifiMonetization}}</span>
                    </li>
                    <li class="ml-2" ng-repeat="wifi in wifiMonetizationArray">
                        {{wifi.title}}
                    </li>
               </ul>
           </div>
        </div>
        <div class="col-md-3 pricing-col">
            <div class="pricing-table">
                <div class="pricing-table-head">
                    <h2>
                        {{basicFee}}<span>{{basicFeeIdeal}}</span>
                    </h2>
                    <h3 class="price">
                        $ <i>{{basicPrice}}</i>
                        <span class="hidden-md hidden-lg">{{perMonth}}</span>
                    </h3>
                </div>
                <ul class="pricing-table-content">
                    <li class="price_header"> - </li>
                    <li ng-repeat="reservation in reservationPromotationArray">
                        <i class="fa" ng-class="reservation.basicDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{reservation.basicDetails}}-->
                        <span class="hidden-md hidden-lg">{{reservation.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="premium in premiumServicesArray">
                        <i class="fa" ng-class="premium.basicDetails === 'BASIC' ? '': (premium.basicDetails === 'YES' ? 'fa-check':'fa-times')"></i> <span ng-bind="premium.basicDetails === 'BASIC' ? 'BASIC' :''"/>
                        <!--{{premium.basicDetails}}-->
                        <span class="hidden-md hidden-lg">{{premium.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="wifi in wifiMonetizationArray">
                        <i class="fa" ng-class="wifi.basicDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{wifi.basicDetails}}-->
                        <span class="hidden-md hidden-lg">{{wifi.title}}</span>
                    </li>
                </ul>
                <div class="pricing-table-footer text-center">
                    <a ng-href="searchBusiness#FreeTrail" class="btn btn-primary btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 pricing-col">
            <div class="pricing-table">
                <div class="pricing-table-head">
                    <h2>
                        {{professionalFee}}<span>{{professionalFeeEverything}}</span>
                    </h2>
                    <h3 class="price">
                        $ <i>{{professionalPrice}}</i>
                        <span class="hidden-md hidden-lg">{{perMonth}}</span>
                    </h3>
                </div>
                <ul class="pricing-table-content">
                    <li class="price_header"> - </li>
                    <li ng-repeat="reservation in reservationPromotationArray">
                        <i class="fa" ng-class="reservation.professionalDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{reservation.professionalDetails}}-->
                        <span class="hidden-md hidden-lg">{{reservation.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="premium in premiumServicesArray">
                        <i class="fa" ng-class="premium.professionalDetails === 'YES' ? 'fa-check': (premium.professionalDetails === 'NO' ? 'fa-times' : '')"></i> <span ng-show="premium.professionalDetails === 'YES' || premium.professionalDetails === 'NO' ? false : true ">
                        {{premium.professionalDetails}}</span>
                        <span class="hidden-md hidden-lg">{{premium.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="wifi in wifiMonetizationArray">
                        <i class="fa" ng-class="wifi.professionalDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{wifi.professionalDetails}}-->
                        <span class="hidden-md hidden-lg">{{wifi.title}}</span>
                    </li>
                </ul>
                <div class="pricing-table-footer text-center">
                    <a ng-href="searchBusiness#FreeTrail" class="btn btn-primary btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 pricing-col">
            <div class="pricing-table">
                <div class="pricing-table-head">
                    <h2>
                        {{enterpriseFee}}<span>{{enterpriseFeeAdvanced}}</span>
                    </h2>
                    <h3 class="price_enterprice">
                        {{enterPrise}}
                    </h3>
                </div>
                <ul class="pricing-table-content">
                    <li class="price_header"> - </li>
                    <li ng-repeat="reservation in reservationPromotationArray">
                        <i class="fa" ng-class="reservation.enterPriseDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{reservation.enterPriseDetails}}-->
                        <span class="hidden-md hidden-lg">{{reservation.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="premium in premiumServicesArray">
                        <i class="fa" ng-class="premium.professionalDetails === 'YES' ? 'fa-check': (premium.enterPriseDetails === 'NO' ? 'fa-times' : '')"></i> <span ng-show="premium.enterPriseDetails === 'YES' || premium.enterPriseDetails === 'NO' ? false : true ">
                        {{premium.enterPriseDetails}}</span>
                        <span class="hidden-md hidden-lg">{{premium.title}}</span>
                    </li>
                    <li class="price_header"> - </li>
                    <li ng-repeat="wifi in wifiMonetizationArray">
                        <i class="fa" ng-class="reservation.professionalDetails === 'YES' ? 'fa-check': 'fa-times'"></i>
                        <!--{{wifi.enterPriseDetails}}-->
                        <span class="hidden-md hidden-lg">{{wifi.title}}</span>
                    </li>
                </ul>
                <div class="pricing-table-footer text-center">
                    <a ng-href="searchBusiness#FreeTrail" class="btn btn-primary btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->