<div class="container">

  <center>
    <h1 class="color-success fontRegular">{{'reservation.PRIVATE_EVENT_CONFIRM' | translate}}</h1>
  </center>

  <div class="form-group">
    <table class="table table-responsive table-no-border">

                      <tbody>
                        <tr>
                          <td> <label><b>{{'bottleServiceTab.DATE' | translate}} </b></label></td>
                          <td>{{privateSelectedDate}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{"reservation.START_TIME"  | translate}} </b></label></td>
                          <td>{{time24to12(privateEventData.privateStartTime)}}</td>
                        </tr>
                        <tr>
                          <td> <label><b>{{"reservation.END_TIME"  | translate}}</b></label> </td>
                          <td>{{time24to12(privateEventData.privateEndTime)}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{'reservation.FIRST_NAME' | translate}}</b></label> </td>
                          <td>{{privateEventData.privateFirstName}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{'reservation.LAST_NAME' | translate}}</b></label> </td>
                          <td>{{privateEventData.privateLastName}}</td>
                        </tr>
                        <tr>
                          <td> <label><b>{{'reservation.EMAIL' | translate}}</b></label> </td>
                          <td>{{privateEventData.privateEmail}}</td>
                        </tr>
                        <tr>
                          <td> <label><b>{{'reservation.MOBILE' | translate}}</b></label> </td>
                          <td>{{privateEventData.privateMobileNumber}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{'reservation.BUDGET' | translate}}</b></label> </td>
                          <td>{{privateEventData.budget}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{'reservation.TOTAL_GUEST' | translate}}</b></label> </td>
                          <td>{{privateEventData.totalGuest}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{'reservation.COMMENT' | translate}}</b></label> </td>
                          <td>{{privateEventData.privateComment}}</td>
                        </tr>
                        <tr>
                          <td><label><b> {{"reservation.EVENT_TYPE"  | translate}} </b></label></td>
                          <td>{{privateEventData.privateEvent.name}}</td>
                        </tr>
                      </tbody>
                    </table>
      <center>
          <div >
              <button type="submit" class="btn btn-raised btn-primary" ng-click="privateEventSave()">Confirm</button>
              <button type="button" class="btn btn-raised btn-danger" ng-click="editPrivatePage()">Edit</button>
          </div>
      </center>
  </div>
</div>

<!-- Success Private Event Modal -->
<div class="modal modal-success" id="privateEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'reservation.PRIVATE_DETAILS' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{'reservation.BOOKING_REQUEST' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePrivateEventModal()">Close</button>
            </div>
        </div>
    </div>
</div>
