<div class="col-lg-6">
<form class="form-horizontal" ng-controller="VenueDetailsController" parsley-validate validate-form="">
	<fieldset>
		<div class="col-md-10 form-group is-empty">
            <input type="date" class="form-control" id="inputEmail" placeholder="{{reservation.DATE | translate}}">
            <!-- <label for="inputEmail" class="fa fa-calendar"></label> -->
        </div>
        
        <div class="col-md-10 form-group is-empty">
            <select class="btn  dropdown-toggle form-control fontRegular" required=""
                ng-model="startTime" ng-options="x.key as x.value for x in reservationTime">
                <option value="">{{"reservation.START_TIME"  | translate}}</option>
            </select>
        </div>

        <div class="col-md-10 form-group is-empty">
            <select class="btn  dropdown-toggle form-control fontRegular" required=""
                ng-model="endTime" ng-options="x.key as x.value for x in reservationTime">
                <option value="">{{"reservation.END_TIME"  | translate}}</option>
            </select>
        </div>


        <div class="col-md-10 form-group is-empty">
            <div class="input-group">
                <label for="inputEmail" class="sameRow fontRegular">{{"reservation.TOTAL_GUEST" | translate}}</label>
                <div class="sameRow guestBorder">
                    <span>
                    <button type="button" class="btn btn-success btn-number" ng-click="minus()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                {{totalGuest}}
                <span>
                    <button type="button" class="btn btn-success btn-number" ng-click="plus()">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>

        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="budget" placeholder="{{'reservation.BUDGET' | translate}}">
            <!-- <label for="table" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="email" class="form-control fontRegular" id="email" ng-model="email" placeholder="{{'reservation.EMAIL' | translate}}" required="required" data-parsley-trigger="change" >
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" id="ms-form-pass" class="form-control fontRegular" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="mobile" placeholder="{{'reservation.MOBILE' | translate}}" required="" data-parsley-trigger="change">
        </div>
        <div class="col-md-10 form-group is-empty">
            <select class="btn  dropdown-toggle form-control fontRegular" required=""
                ng-model="newUser.state" ng-options="t.type for t in eventTypes">
                <option value="">{{"reservation.EVENT_TYPE"  | translate}}</option>
            </select>
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="instructions" placeholder="{{'reservation.COMMENT' | translate}}">
        </div>
     	<div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.TO_AUTHORIZE" | translate}} {{venueName}}
                </label>                            
            </div>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.TO_AGREE" | translate}} {{venueName}} {{"reservation.PRIVACY_POLICY" | translate}}
                </label>                            
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-raised btn-success chk-button fontRegular"><font size="5"> {{"reservation.CHECKOUT" | translate}} </font><div class="ripple-container"></div></a>
	</fieldset>
</form>

</div>

<div class="col-lg-6">
    <legend class="fontBold">Description</legend>
    <div class="form-group ">
        <p id="banquetHallData" style="padding-top: 0px;" class="fontRegular">
        Located in the heart of Silicon Valley, Pure Lounge offers a luxurious, modern, upscale setting for various occasions. Featuring dramatic, classical architecture, and complemented with modern decor, our lounge transcends “pure” sophisticated style. We welcome small groups in our Red Room on the 2nd floor (accommodates groups of up to Our venue measures 8,000 Sq ft. Spacious and comfortable, 
          we have built-in LED cocktail tables which set the mood for every occasion. Large scale parties on our glittering first floor are perfect where we offer maximum flexibility to create your perfect event. Step away from the dull, gray drawing board, and into the brilliance of Pure Lounge! Pure Lounge offers Multiple bars serving liquor, crafted cocktails, wine &amp; beer State of Art sound &amp; lighting, dj booth, LED panel for visuals demo Delicious catering options, 
          Live DJs, Creative elements &amp; party themes, Photo booth, dancers, entertainers options Full in-house staff Nearby parking &amp; Walking distance from cal-train</p>
    </div>

</div>