<!-- <style type="text/css">
	
	.input-icon{
    position: absolute;
    left: 865px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

</style> -->

<div id="carousel-example-generic" class="ms-carousel carousel slide"
                data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="carousel-example-generic" data-slide-to="0"
                        class="active"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner carousel-inner-class" role="listbox">
                    <div class="item active">
                        <img src="<%= assets %>/img/rosie-mccanns.jpg" alt="..." class="carouselImage">
                        <div class="reservationCarousel backColor">
                            <p><b><font size="4">{{"home.REAL_TIME" |
                                translate}}</font></b></p>
                            <p><b><font size="4">{{"home.RESERVATION_FOOD_DRINK" |
                                translate}}</font></b></p>
                              <ng-include src="'home-apps-image.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                </div>
            </div>

<div id="rowOne" ng-init="bottle()">
	<center>
		<div id="serviceTabs" class="btn-group btn-group-justified"
			style="border: 1px solid #fff;">
			<div id="bottleTab" class="btn-group" style="border: 1px solid #fff;">
				<button id="bottle" type="button"
					class="btn btn-success btn-responsive"
					ng-click="bottle('Bottle')"
					style="white-space: normal; height: 80px;">
					<i class="fa fa-glass fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span
						>{{"reservation.BOTTLE" | translate}}</span>
				</button>
			</div>
			<div id="privateEventTab" class="btn-group"
				style="border: 1px solid #fff;">
				<button id="private" type="button"
					class="btn btn-success btn-responsive"
					ng-click="event('Private Event')"
					style="white-space: normal; height: 80px;">
					<i class="fa fa-diamond fa-2x"></i>&nbsp;&nbsp;<span
						>{{"reservation.EVENTS" | translate}}</span>
				</button>
			</div>
			<div id="guestlistTab" class="btn-group"
				style="border: 1px solid #fff;">
				<button id="glist" type="button"
					class="btn btn-success btn-responsive"
					ng-click="glist('Guest List')"
					style="white-space: normal; height: 80px;">
					<i class= "fa fa-wpforms fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span
						>{{"reservation.GUEST" | translate}}</span> <span translate="LIST"></span>
				</button>
			</div>
		</div>
	</center>
</div>

<!-- Private Event START row-->
<div ng-show="bottleServiceTab">
<form class="form-horizontal">
	<fieldset>
		<div class="col-md-10 form-group is-empty">
            <input type="date" class="form-control" id="inputEmail" placeholder="{{reservation.DATE | translate}}">
            <!-- <label for="inputEmail" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="table" placeholder="{{'reservation.TABLE' | translate}}">
            <!-- <label for="table" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="email" class="form-control" id="email" placeholder="{{'reservation.EMAIL' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="mobile" placeholder="{{'reservation.MOBILE' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="zipcode" placeholder="{{'reservation.ZIPCODE' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="instructions" placeholder="{{'reservation.INSTRUCTIONS' | translate}}">
        </div>

        <div class="col-md-10 form-group is-empty">
        	<div class="input-group">
        		<label for="inputEmail" class="sameRow">{{"reservation.TOTAL_GUEST" | translate}}</label>
	            <div class="sameRow guestBorder">
	            	<span>
	                <button type="button" class="btn btn-success btn-number" ng-click="minus()">
	                    <span class="glyphicon glyphicon-minus"></span>
	                </button>
	            </span>
	            {{totalGuest}}
	            <span>
	                <button type="button" class="btn btn-success btn-number" ng-click="plus()">
	                  <span class="glyphicon glyphicon-plus"></span>
	                </button>
	            </span>
	            </div>
	        </div>
        </div>

        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="zipcode" placeholder="{{'reservation.OCCASION' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="zipcode" placeholder="{{'reservation.HOST' | translate}}">
        </div>
     	<div class="col-md-10">
            <div class="checkbox">
                <label class="check-box">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AUTHORIZE" | translate}}
                </label>                            
            </div>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="check-box">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AGREE" | translate}}
                </label>                            
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-raised btn-success chk-button"><font size="5"> {{"reservation.CHECKOUT" | translate}} </font><div class="ripple-container"></div></a>
	</fieldset>
</form> <br/>

<div class="col-md-7" style="border: 1px solid;">
	<p><font color="#4caf50">{{"reservation.MIN_REQ" | translate}}</font></p>
	<p>{{"reservation.MIN_REQ_DESC" | translate}}</p>
	<p><font color="#4caf50">{{"reservation.DRESS_CODE" | translate}}</font></p>
	<p>{{"reservation.DRESS_CODE_DESC" | translate}}</p>
</div>
</div>

<div ng-show="eventServiceTab">
	<h1>Event Service</h1>
</div>

<div ng-show="guestServiceTab">
	<h1>Guest Service</h1>
</div>


