<!-- <style type="text/css">
	
	.input-icon{
    position: absolute;
    left: 865px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

</style> -->
<div ng-controller="VenueDetailsController">
<div id="carousel-example-generic" class="ms-carousel carousel slide" data-ride="carousel" ng-controller="VenueDetailsController">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="carousel-example-generic" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-inner-class" role="listbox">
        <div class="item active">
            <img src="<%= assets %>/img/rosie-mccanns.jpg" alt="..." class="carouselImage">
            <div class="reservationCarousel backColor" style="top: 480px;">
                <p style="margin-left: 30px;">Reservations / <b><font size="4">{{venueName}}</font></b></p>
                <p style="margin-left: 30px;"><b><font size="4">Hours: 11:30 AM - 11:00 AM</font></b></p>
                <ng-include src="'home-apps-image.html'" scope="" onload=""></ng-include>
            </div>
        </div>
    </div>
</div>

<div id="rowOne" ng-init="bottle()">
	<center>
		<div id="serviceTabs" class="btn-group btn-group-justified"
			style="border: 1px solid #fff;">
			<div id="bottleTab" class="btn-group" style="border: 1px solid #fff;">
				<button id="bottle" type="button"
					class="btn btn-success btn-responsive"
					ng-click="bottle('Bottle')"
					style="white-space: normal; height: 80px;">
					<i class="fa fa-glass fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span
						class="fontRegular fontXLarge">{{"reservation.BOTTLE" | translate}}</span>
				</button>
			</div>
			<div id="privateEventTab" class="btn-group"
				style="border: 1px solid #fff;">
				<button id="private" type="button"
					class="btn btn-success btn-responsive"
					ng-click="event('Private Event')"
					style="white-space: normal; height: 80px;">
					<i class="fa fa-diamond fa-2x"></i>&nbsp;&nbsp;<span
						class="fontRegular fontXLarge">{{"reservation.EVENTS" | translate}}</span>
				</button>
			</div>
			<div id="guestlistTab" class="btn-group"
				style="border: 1px solid #fff;">
				<button id="glist" type="button"
					class="btn btn-success btn-responsive"
					ng-click="glist('Guest List')"
					style="white-space: normal; height: 80px;">
					<i class= "fa fa-wpforms fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span
						class="fontRegular fontXLarge">{{"reservation.GUEST" | translate}}</span>
				</button>
			</div>
		</div>
	</center>
</div>

<!-- Private Event START row-->
<div ng-show="bottleServiceTab">
<form class="form-horizontal" parsley-validate validate-form="">
	<fieldset>
		<div class="col-md-10 form-group is-empty">
            <input type="date" class="form-control fontRegular" id="date" ng-model="date" placeholder="{{reservation.DATE | translate}}">
            <!-- <label for="inputEmail" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="table" placeholder="{{'reservation.TABLE' | translate}}">
            <!-- <label for="table" class="fa fa-calendar"></label> -->
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" ng-model="userFirstName" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" ng-model="userLastName" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="email" class="form-control fontRegular" id="email" ng-model="email" placeholder="{{'reservation.EMAIL' | translate}}" data-parsley-trigger="change" required="required">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" id="ms-form-pass" class="form-control fontRegular" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="mobile" placeholder="{{'reservation.MOBILE' | translate}}" required="" data-parsley-trigger="change">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="number" class="form-control fontRegular" id="zipcode" pattern="[0-9]{5}" ng-model="zipcode" placeholder="{{'reservation.ZIPCODE' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="instructions" ng-model="instructions" placeholder="{{'reservation.INSTRUCTIONS' | translate}}">
        </div>

        <div class="col-md-10 form-group is-empty">
        	<div class="input-group">
        		<label for="inputEmail" class="sameRow fontRegular">{{"reservation.TOTAL_GUEST" | translate}}</label>
	            <div class="sameRow guestBorder">
	            	<span>
	                <button type="button" class="btn btn-success btn-number " ng-click="minus()">
	                    <span class="glyphicon glyphicon-minus"></span>
	                </button>
	            </span>
	            {{totalGuest}}
	            <span>
	                <button type="button" class="btn btn-success btn-number" ng-click="plus()">
	                  <span class="glyphicon glyphicon-plus"></span>
	                </button>
	            </span>
	            </div>
	        </div>
        </div>

        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontRegular" id="zipcode" ng-model="occasion" placeholder="{{'reservation.OCCASION' | translate}}">
        </div>
        <!-- <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="zipcode" placeholder="{{'reservation.HOST' | translate}}">
        </div> -->
     	<div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AUTHORIZE" | translate}}
                </label>                            
            </div>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular" style="font-size: 15px;">
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AGREE" | translate}}
                </label>                            
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-raised btn-success chk-button fontXLarge" ng-click="confirmBottleService()"><font size="5"> {{"reservation.CHECKOUT" | translate}} </font><div class="ripple-container"></div></a>
	</fieldset>
</form> <br/>

<div class="col-md-7" style="border: 1px solid;">
	<p class="fontRegular" style="font-size: 15px;"><font color="#4caf50">{{"reservation.MIN_REQ" | translate}}</font></p>
	<p class="fontRegular" style="font-size: 15px;">{{"reservation.MIN_REQ_DESC" | translate}}</p>
	<p class="fontRegular" style="font-size: 15px;"><font color="#4caf50">{{"reservation.DRESS_CODE" | translate}}</font></p>
	<p class="fontRegular" style="font-size: 15px;">{{"reservation.DRESS_CODE_DESC" | translate}}</p>
</div> <br/>

<div class="col-md-12">

    <center>
        <h1 class="fontLight color-success">{{'reservation.POLICIES' | translate}}</h1>
    </center>
    <hr/>

    <center>
        <h1 class="color-success fontRegular">{{'reservation.BOTTLE_MENU' | translate}}</h1>
        <a href="http://purelounge408.com/bottle-service/" target="_blank" class="btn btn-raised btn-success">
                         {{'reservation.VIEW_BOTTLE' | translate}}<div class="ripple-container"></div></a>
    </center>
</div> <br/>

<div class="col-md-12">
    <center>
        <h1 class="color-success fontRegular">{{'reservation.VIP_SERVICE_POLICY' | translate}}</h1>
        <p class="fontRegular">{{'reservation.VIP_POLICY_DESC' | translate}}</p>
    </center>
</div>

<div class="col-md-12">
    <center>
        <h1 class="color-success fontRegular">{{'reservation.DRESS_CODE' | translate}}</h1>
        <p class="fontRegular">{{'reservation.DRESS_CODE_ENFORECE' | translate}}</p>
    </center>
</div>


</div>


<!-- Event Service -->
<!-- <div ng-show="eventServiceTab">
    <div class="col-md-4 form-group is-empty">
        <div class="search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" id="search" placeholder="  Search">
        </div>
    </div>
        <div class="col-md-10">
        <div class="borderLine">
        <table class="table table-no-border">
            <tr>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCxUhgaE_yYczXsTujclB_jvqLt-aWbqklchEflWJYyDrW9i75">
                </td>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="http://www.montecarlosbm.com/wp-content/uploads/2017/06/maona-220x124.jpg">
                </td>
                <td>The Temptations</td>
                <td class="pull-right">
                    <button class="btn btn-raised btn-success btn-xs" type="button">TICKETS</button>
                </td>
            </tr>
            <tr>
                <td>Doors: 9:30 PM</td>
                <td class="pull-right">$15.00</td>
            </tr>
        </table>
        </div><br>
        <div class="borderLine">
        <table class="table table-no-border">
            <tr>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCxUhgaE_yYczXsTujclB_jvqLt-aWbqklchEflWJYyDrW9i75">
                </td>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="http://www.montecarlosbm.com/wp-content/uploads/2017/06/maona-220x124.jpg">
                </td>
                <td>The Temptations</td>
                <td class="pull-right">
                    <button class="btn btn-raised btn-success btn-xs" type="button">TICKETS</button>
                </td>
            </tr>
            <tr>
                <td>Doors: 9:30 PM</td>
                <td class="pull-right">$15.00</td>
            </tr>
        </table>
        </div><br>
        <div class="borderLine">
        <table class="table table-no-border">
            <tr>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCxUhgaE_yYczXsTujclB_jvqLt-aWbqklchEflWJYyDrW9i75">
                </td>
                <td rowspan="2" class="eventImageWidth">
                    <img class="img-responsive eventImage" src="http://www.montecarlosbm.com/wp-content/uploads/2017/06/maona-220x124.jpg">
                </td>
                <td>The Temptations</td>
                <td class="pull-right">
                    <button class="btn btn-raised btn-success btn-xs" type="button">TICKETS</button>
                </td>
            </tr>
            <tr>
                <td>Doors: 9:30 PM</td>
                <td class="pull-right">$15.00</td>
            </tr>
        </table>
        </div>
        </div>
</div> -->

<!-- Success Guest List Modal -->
<div class="modal modal-success" id="bottleServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'reservation.BOTTLE_DIALOG' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{'reservation.BOTTLE_DIALOG_DESC' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="guestServiceTab">
    <div ng-include="'guest-list.html'"></div>
</div>

<div ng-show="eventServiceTab">
	<div ng-include="'private-event.html'">
	</div>
</div>
</div>

