<div class="container container-full" ng-cloak>
    <div class="">
        <div class="">
            <!-- For Horizontal tabs -->
            <div class="">
                <!-- Nav tabs -->
                <div class="card-block venueCardBlock">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" class="tab-pane fade active in">
                            <div>
                                <div class="">
                                    <div class="cardAlignment">
                                        <div
                                            class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2"
                                            ng-repeat="venue in listOfVenuesByCity"
                                            >
                                            <article id="articleCart"
                                                class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left"
                                                    ng-click="selectVenue(venue)" id="cityImage">
                                                    <div class="imgHolder">
                                                            <img ng-src="{{venue.imageUrls[0].smallUrl || venue.imageUrls[0].originalUrl }}" alt="venueInCity-image" class="img-responsive" id="venueImages">
                                                            <h5 class="fontBold pull-right featureMargin" ng-show ="venue.feature === 'Y' || venue.feature === 'y'">{{'reservation.FEATURED' | translate}}</h5>
                                                        </div>
                                                </figure>
                                                <div class="card-block">
                                                    <h3 class="venueTitle">
                                                        <a ng-href="cities/{{selectedCityName}}/{{venue.id}}" ng-click="selectVenue(venue)">{{venue.venueName
                                                            | limitTo: 25 }}{{venue.venueName.length > 25 ? '...'
                                                            :''}}</a>
                                                    </h3>
                                                    <p><i class="fa fa-map-marker locationIcon"></i>{{venue.address | limitTo: 38
                                                    }}{{venue.address.length > 38 ? '...' :''}}</p>
                                                    <a href="{{venue.website}}" target="_blank" class="venueTitle"><i class="fa fa-globe" aria-hidden="true"></i>     Website</a>
                                                    <p ng-if = "venue.description" class="venueDescription">{{venue.description | limitTo: 60
                                                        }}{{venue.description.length > 60 ? '...' :''}}
                                                    <a class="btn btn-default btn-raised btn-xs pull-right" data-toggle="modal" data-target="#venueInCityDescriptionModal" ng-click="venueInCityDescriptionModal(venue.description)" ng-if="venue.description.length > 60">{{"reservation.READ_MORE" | translate}}</a></p>
                                                    <p ng-if = "venue.description === ''">No description</p>
                                                    <div class="row col-lg-12 serviceIcon">
                                                        <a ng-repeat="service in serviceIcons" ng-click="selectedServices(venue, service.tab)"><img
                                                            ng-src="{{service.image}}" class="serviceSmallIcon" alt="service-image" title="{{service.title}}"
                                                            ng-show="venue.info['{{service.fieldName}}'] == 'Y'"></img>
                                                            </a>
                                                    </div>

                                                    <div ng-hide="!venue.distanceInMiles" id="distance"
                                                        class="col-lg-5">{{venue.distanceInMiles | number :
                                                        2}} {{ "venue.MILES" | translate}}</div>
                                                    <br />

                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <!-- </section> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
        <!-- row -->
    </div>
    <!-- ms-paper -->
</div>
<!-- container -->


<div class="modal modal-success" id="venueInCityDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'bottleServiceTab.DESC' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{privateDescription}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeBottleModal()">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
