<div class="ms-hero-page ms-hero-img-keyboard">
    <div class="container">
        <div class="text-center">
            <h1
                class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{selectedCityName}}</h1>
        </div>
    </div>
</div>

<div class="container container-full">
    <a href="/cities" id="navigation"><h3>{{"venue.HOME" |
            translate}} > {{"venue.CITIES" | translate}}</h3></a>
    <div class="ms-paper">
        <div class="row" id="venueTabs">
            <!-- For Horizontal tabs -->
            <div class="card" id="venueListCard">
                <!-- Nav tabs -->
                <ul
                    class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-6"
                    role="tablist">
                    <li role="presentation" ng-repeat="type in serviceTypes">
                        <!-- ng-if="clubTab != 0" --> <a href ng-click="setTab(type)"
                        class="withoutripple" aria-controls="clubs" role="tab"
                        data-toggle="tab"> <!-- ng-init="$index == 0 ? setTab('CLUB') : ''" -->
                            <i class="zmdi zmdi-home"></i> <span class="hidden-xs">{{type
                                | translate}}</span>
                    </a>
                    </li>
                </ul>
                <div class="card-block" id="venueCardBlock">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <center>
                                            <h5 ng-show="listOfVenuesByCity.length == 0">{{"venue.NO_MATCHING_RESULTS"
                                                | translate}}</h5>
                                        </center>
                                        <div
                                            class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2"
                                            ng-repeat="venue in listOfVenuesByCity"
                                            ng-if="venue.imageUrls[0].smallUrl">
                                            <article
                                                class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left"
                                                    ng-click="selectVenue(venue)" id="cityImage">
                                                    <img ng-src="{{venue.imageUrls[0].smallUrl}}" alt=""
                                                        class="img-responsive" id="venueImages">
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                        <a href="" ng-click="selectVenue(venue)">{{venue.venueName
                                                            | limitTo: 20 }}{{venue.venueName.length > 20 ? '...'
                                                            :''}}</a>
                                                    </h2>
                                                    <p>{{venue.description | limitTo: 75
                                                        }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row col-lg-8" id="serviceIcon">
                                                        <a ng-click="selectedServices(venue, 'b')" id="cityImage"><i
                                                            class="mr-2 fa fa-futbol-o"
                                                            ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i></a>
                                                        <a ng-click="selectedServices(venue, 'b')" id="cityImage"><i
                                                            class="mr-2 fa fa-glass"
                                                            ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i></a>
                                                        <a ng-click="selectedServices(venue, 'o')" id="cityImage"><i
                                                            class="mr-2 fa fa-shopping-bag"
                                                            ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i></a>
                                                        <a ng-click="selectedServices(venue, 'f')" id="cityImage"><i
                                                            class="fa fa-cutlery"
                                                            ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i></a>
                                                        <a ng-click="selectedServices(venue, 'g')" id="cityImage"><i
                                                            class="fa fa-wpforms"
                                                            ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i></a>
                                                    </div>

                                                    <div ng-hide="selectedCityDistance == -1" id="distance"
                                                        class="col-lg-5">{{venue.distanceInMiles | number :
                                                        2}} {{ "venue.MILES" | translate}}</div>
                                                    <br />

                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <!-- </section> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
        <!-- row -->
    </div>
    <!-- ms-paper -->
</div>
<!-- container -->
