<div class="material-background"></div>
<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- For Horizontal tabs -->
            <!-- <div class="col-md-9 ms-paper-content-container"> -->
            <!-- <div class="ms-paper-content"> -->
            <!-- <section class="ms-component-section"> -->
            <div class="card" id="venueListCard">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-6" role="tablist">
                    <li role="presentation" ng-class="{ active: isSet(1) }">
                        <a href ng-click="setTab(1)" class="withoutripple" aria-controls="clubs" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-home"></i>
                            <span class="hidden-xs">CLUBS</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: isSet(2) }">
                        <a href ng-click="setTab(2)" class="withoutripple" aria-controls="casinos" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-account"></i>
                            <span class="hidden-xs">CASINOS</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: isSet(3) }">
                        <a href ng-click="setTab(3)" class="withoutripple" aria-controls="bars" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-email"></i>
                            <span class="hidden-xs">BARS</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: isSet(4) }">
                        <a href ng-click="setTab(4)" class="withoutripple" aria-controls="karaoke" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-settings"></i>
                            <span class="hidden-xs">KARAOKE</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: isSet(5) }">
                        <a href ng-click="setTab(5)" class="withoutripple" aria-controls="bowling" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-settings"></i>
                            <span class="hidden-xs">BOWLING</span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: isSet(6) }">
                        <a href ng-click="setTab(6)" class="withoutripple" aria-controls="restaurant" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-settings"></i>
                            <span class="hidden-xs">RESTAURANT</span>
                        </a>
                    </li>
                </ul>
                <div class="card-block" id="venueCardBlock">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" id="clubs" ng-show="isSet(1)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                        <div role="tabpanel" id="casinos" ng-show="isSet(2)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                        <div role="tabpanel" id="bars" ng-show="isSet(3)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                        <div role="tabpanel" id="karaoke" ng-show="isSet(4)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                        <div role="tabpanel" id="bowling" ng-show="isSet(5)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                        <div role="tabpanel" id="restaurant" ng-show="isSet(6)" class="tab-pane fade active in">
                            <div>
                                <div class="container">
                                    <div class="row masonry-container">
                                        <div class="col-md-4 col-sm-6 masonry-item wow fadeInUp animation-delay-2" ng-repeat="venue in listOfVenuesByCity">
                                            <article class="card card-info mb-4 wow materialUp animation-delay-5">
                                                <figure class="ms-thumbnail ms-thumbnail-left">
                                                    <img ng-src="{{venue.imageUrls[0].originalUrl}}" alt="" class="img-responsive" id="venueImages">
                                                    <figcaption class="ms-thumbnail-caption text-center">
                                                        <div class="ms-thumbnail-caption-content">
                                                            <h3 class="ms-thumbnail-caption-title">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <div class="mt-2">
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                                                                    <i class="zmdi zmdi-favorite"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                                <div class="card-block">
                                                    <h2>
                                                            <a href="" ng-click="selectVenue(venue)">{{venue.venueName | limitTo: 20 }}{{venue.venueName.length > 20 ? '...' :''}}</a>
                                                        </h2>
                                                    <p>{{venue.description | limitTo: 75 }}{{venue.description.length > 75 ? '...' :''}}</p>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-4">
                                                            <i class="mr-2 fa fa-user-circle-o" ng-show="venue.info['Advance.Bowling.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-beer" ng-show="venue.info['Advance.BottleService.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-bell" ng-show="venue.info['Advance.deals.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-camera" ng-show="venue.info['Advance.FoodRequest.enable'] == 'Y'"></i>
                                                            <i class="mr-2 fa fa-glass" ng-show="venue.info['Advance.GuestList.enable'] == 'Y'"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- container -->
                                <!-- ms-paper-content -->
                            </div>
                            <!-- col-md-9 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <!-- </section> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
        <!-- row -->
    </div>
    <!-- ms-paper -->
</div>
<!-- container -->
