<div ng-controller="eventListCtrl">
    <button type="button" class="btn btn-primary pull-right"ng-model="eventListData" ng-click="listEventView()" style="margin-right: 13px;">
        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;List
    </button>
    <button type="button" class="btn btn-primary pull-right" ng-model="calenderData" ng-click="calenderEventView()">
        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Calender
    </button><br/><br/>
    <div class="form-group col-md-10 col-md-offset-right-10"  ng-if="eventListData == true">
        <div class="col-md-12 form-group label-floating is-empty floatingLabel" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">Search</label>
            <input type="text" class="form-control fontBold" ng-model="Search" id="Search">
        </div>
    </div><br/><br/>
    <div class="form-group col-md-10 col-md-offset-right-10"  ng-if="eventListData == true">
        <div event-tile="" ng-class="'col-masonry eventListcal'" event="event" ng-repeat="event in events track by $index">
            <table class="table">
                <tr>
                    <!-- <td class="col-md-2">{{event.startDate | date}}</td> -->
                    <td class="col-md-2">
                        <div class="dateMargin">
                            <div class="row">
                                <div class="date pull-left">
                                    <span class="binds"></span>
                                    <span class="month" ng-bind="event.startDate | date: 'MMMM' | uppercase"></span>
                                    <h1 class="day" ng-bind="event.startDate | date: 'dd'"></h1>
                                    <h5 class="weekday" ng-bind="event.startDate | date: 'EEE'"> </h5>
                                </div>                   
                            </div>                
                        </div>
                    </td>   
                    <td class="col-md-2">
                        <img class="eventlistImage" ng-show="((event.imageURL != '') || (event.imageURL != null))" src="{{event.imageURL}}" alt="">
                        <img class="eventlistImage" ng-show="((event.imageURL === '') || (event.imageURL === null))" src="assets/img/placeholder.jpg" alt="noEventImg">
                    </td>
                    <td class="col-md-7">
                        <h2 class="eventListName">
                            <span>{{event.eventName}}</span>
                        </h2><br/>
                        <h5 class="eventListTime">
                            Doors:{{event.eventTimes | date:'h:mm a'}} / Show: {{event.eventTimes | date:'h:mm a'}} (event ends at {{event.endtimes | date:'h:mm a'}})
                        </h5>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-raised btn-sm">BUY TICKETS</button><br/>
                        <span class="pull-right eventListPrice">
                        <span ng-hide="((event.price == null || event.price == 0 || event.price == undefined))">&dollar;</span><span>{{(event.price == null || event.price == 0 || event.price == undefined) ? "-" : event.price}}</span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-hide="eventListData == true">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START calendar-->
                <div id="calendar"></div>
                <!-- END calendar-->
            </div>
        </div>
    </div>
</div>