<div  ng-controller="ReservationServiceController">
    <form class="form-horizontal" parsley-validate autocomplete="off"  validate-form="" name="partyForm" ng-submit="confirmPartyService()" novalidate>
    <fieldset class="col-xs-12">
        <div class="row col-xs-12 form-group label-floating no-p" ng-class = "{'active' : party.requestedDate.length > 0}">
            <label class="control-label" >{{'reservation.DATE' | translate}}</label>
            <input type="text" class="form-control " id="reserveRequestDate" ng-model="party.requestedDate" required/>
        </div>
        <div class="row col-xs-12 mt0 center_content" ng-if="selectedVenueMap.imageUrls[0].originalUrl" >
            <center>
                <div class="row h6">
                    
                    <span class="label label-warning" style="background-color: #e3e300;" translate="SELECTED"></span>
                
                    <span class="label label-success" translate="AVAILABLE"></span>
                
                    <span class="label label-danger" translate="BOOKED"></span>
                           
                </div>
                <img alt="venuemap Image" id="reserveImagemap" ng-src="{{selectedVenueMap.imageUrls[0].originalUrl}}" usemap="#partyImageMap" class="no-p no-m map img-responsive"/>
                <map name="partyImageMap">
                    <area id="{{area.id}}"
                        style="outline: red solid 2px;" shape="rect"
                        coords="{{area.coords.join()}}" ng-repeat="area in selectedVenueMap.coordinates"
                        ng-href="{{area.link_url || 'javascript:void(0)'}}"
                        ng-click="selectReserveTable(area.id, area.name)"
                        data-maphilight='{"fillColor":"{{fillColor(area.id)}}","shadow":true,"shadowBackground":"ffffff","alwaysOn":true,"strokeColor":"{{strokeColor(area.id)}}","strokeWidth":2}'>
                    </area>
                </map>
            </center>
        </div>
        <div id="mapSection" ng-if="!selectedVenueMap.imageUrls[0].originalUrl" ng-repeat="reserveTable in selectedVenueMap.elements" >
            <div class="alternative col-xs-12 mb-4">
                <div class="col-md-3 col-xs-4"><label>
                    <input class="mr-1" type="checkbox" id="checkData" name="{{reserveTable.name}}" ng-checked="isPartyTableSelected(reserveTable)" ng-disabled="isReserved(reserveTable)" ng-click="selectReserveTableForWithOutFloorMap(reserveTable,$index)" />{{reserveTable.name}}<span
                    ng-hide="reserveTable.size <= 0">({{reserveTable.size}}<i class="fa fa-user" aria-hidden="true" />)
                    </span></label><label class="tableReserved" ng-if="reserveTable.reserved === true">{{"reservation.RESERVED" | translate}}</label>
                </div>
                <div class="col-md-5 col-xs-8">
                    <img alt="table-images" class="table-carousel" class="img-responsive" data-ng-src="{{reserveTable.imageUrls[0].smallUrl}}"/>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>{{reserveTable.description}}</label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 mt-4 mb-2"  ng-if="reserveTableSelection.length > 0">
            <b>{{'reservation.SELECT_TABLE' | translate}}</b>:
            <label ng-repeat="reserveTable in reserveTableSelection">
            {{reserveTable.name}}{{$last? '' : ($index==reserveTableSelection.length-2) ?'&nbsp;and&nbsp;' : ',&nbsp;'}}</label>
        </div>

        <div class="col-xs-12"  ng-if="reserveTableSelection">
            <div class="col-xs-12 mb-2" ng-repeat="reserveTable in reserveTableSelection">
                <div class="col-md-6 col-xs-12">
                    <table class="table">
                        <tr>
                            <td>Name:</td>
                            <td>{{reserveTable.name}}</td>
                        </tr>
                        <tr ng-hide="reserveTable.size <= 0">
                            <td>{{'bottleServiceTab.CAPACITY' | translate}}:</td>
                            <td>{{reserveTable.size}}</td>
                        </tr>
                        <tr ng-hide="((reserveTable.description == null) || (reserveTable.description == ''))">
                            <td>{{'bottleServiceTab.DESC' | translate}}:</td>
                            <td> {{reserveTable.description}}</td>
                            
                        </tr>
                    </table>
                    <button id="removeBtn" type="button" class="btn btn-danger btn-raised" ng-click="removeReserveSelectedTables($index,reserveTable,reserveTableSelection) ">{{'bottleServiceTab.REMOVE' | translate}}</button>
                </div>
                 <div class="col-md-6 col-xs-12">
                    <div ng-show="reserveTable.imageUrls.length>0">
                        <img alt="{{reserveTable.name}} Image" ng-src="{{reserveTable.imageUrls[0].smallUrl}}" class="img-responsive center-block"/>
                    </div>
                    <div ng-show="reserveTable.imageUrls.length == 0" class="center-block image-block">

                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-xs-12 form-group label-floating no-p">
            <label class="control-label" >{{'reservation.FIRST_NAME' | translate}}</label>
            <input type="text" class="form-control " ng-model="party.userFirstName" id="reserveFirstName" required>
        </div>
        <div class="col-xs-12 form-group label-floating no-p" >
            <label class="control-label" >{{'reservation.LAST_NAME' | translate}}</label>
            <input type="text" class="form-control  fontChange"  ng-model="party.userLastName" id="reserveLastName" required>
        </div>
        <div class="col-xs-12 form-group label-floating no-p" >
            <label class="control-label" >{{'reservation.EMAIL' | translate}}</label>
            <input type="email" class="form-control " id="reserveEmail" ng-model="party.email"data-parsley-trigger="change" required>
        </div>
        <div class="col-xs-12 form-group label-floating no-p">
            <label class="control-label" >{{'reservation.MOBILE' | translate}}</label>
            <input type="text" id="ms-form-pass" class="form-control  fontChange" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="party.mobile" required data-parsley-trigger="change">
        </div>
       
        <div class="col-xs-12 form-group label-floating no-p" >
            <label class="control-label" >{{'reservation.ZIPCODE' | translate}}</label>
            <input type="text" class="form-control " id="reserveZipcode" ng-model="party.partyZipcode"  required>
        </div>
        <div class="col-xs-12 form-group label-floating no-p">
            <label class="control-label" >{{'reservation.TOTAL_GUEST' | translate}}</label>
            <input type="text" class="form-control " id="reservetTotalGuest" ng-model="party.totalGuest" >
        </div>
        <div class="col-xs-12 form-group label-floating no-p">
            <label class="control-label" >{{'reservation.OCCASION' | translate}}</label>
            <select class="form-control  {{blackTheme}}" eqruired
                    ng-model="party.partyOccasion" ng-options="t.name for t in eventTypes">
                <option value=""></option>
            </select>
        </div>
        <div class="col-xs-12 form-group label-floating no-p">
            <label class="control-label" >{{'reservation.INSTRUCTIONS' | translate}}</label>
            <input type="text" class="form-control " id="reserveInstructions" ng-model="party.instructions" placeholder="">
        </div>
       <!--  <div class="col-md-4 col-xs-6 form-group label-floating no-p" ng-hide ="!hostDate || hostDate.length == 0">
           <label class="control-label">{{'reservation.HOST' | translate}}</label>
           
           <select class="form-control  {{blackTheme}}" ng-model="bottle.host" ng-options="x as x.name for x in hostDate  track by x.id">
           </select>
           <img ng-hide ="!hostDate || hostDate.length == 0" class="hostImgs" alt="host-image" ng-src="{{getHostImage()}}"/>
       </div> -->
        <div class="col-xs-12" >
        <center><h2>{{"reservation.PARTY_PACKAGE"  | translate}}</h2></center>
        </div>

        <div class="col-xs-12"  ng-if="partypackage">
            <div class="col-xs-12 mb-2" ng-repeat="partyObj in partypackage">
                <div class="col-md-6 col-xs-12">
                    <table class="table">
                        <tr>
                            <td>Name:</td>
                            <td>{{partyObj.name}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td> {{partyObj.description}}</td>

                        </tr>
                    </table>
                    <br>
                    <label>
                        <input type="radio" name="name" ng-value="partyObj" ng-model="party.partyObj" required="required"/>
                        Select this package.
                    </label>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div ng-show="partyObj.imageUrls.length>0">
                        <img alt="{{partyObj.name}} Image" ng-src="{{partyObj.imageUrls[0].smallUrl}}" class="img-responsive center-block"/>
                    </div>
                    <div ng-show="partyObj.imageUrls.length == 0" class="center-block image-block">

                    </div>
                </div>
            </div>
        </div>




        <div class="col-xs-12">
            <div>
                <label class="table-font" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-model="reserve.authorize" required/>
                        {{"reservation.AUTHORIZE" | translate}} {{venueName}}.
                </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div>
                <label class="table-font" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-model="party.agree" required/>
                        {{"reservation.AGREE" | translate}} {{venueName}}'s {{"reservation.AGREE_1" | translate}}
                </label>
            </div>
        </div>
        <div class="col-xs-12" ng-if="noTableSelected == true">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
                <strong><i class="zmdi zmdi-close-circle"></i> {{"reservation.ERROR_MESSAGE" | translate}}!</strong> {{"reservation.FLOOR_MAP_SELECTION" | translate}} 
            </div>
        </div>
        <button class="col-xs-12 col-md-4 col-md-offset-right-8 btn btn-raised btn-success" type="submit" novalidate="novalidate" ng-disabled="partyForm.$invalid">
          {{"reservation.CHECKOUT" | translate}}
          <div class="ripple-container"></div>
        </button>
    </fieldset>
</form> 
<br/>

<div class="col-xs-12" ng-if="partyMenuUrl">

    <center>
        <h2 class="color-success">{{'reservation.POLICIES' | translate}}</h1>
    </center>
    <hr/>

    <center>
        <h3 class="color-success fontLight">{{'reservation.BOTTLE_MENU' | translate}}</h3>
        <a href="" class="btn btn-raised btn-success" ng-click="menuUrlSelection(partyMenuUrl)">
                         {{'reservation.VIEW_BOTTLE' | translate}}<div class="ripple-container"></div></a>
    </center>
</div>

<div class="col-xs-12" ng-if="partyVIPPolicy">
    <center>
        <h3 class="color-success fontLight">{{'reservation.VIP_SERVICE_POLICY' | translate}}</h3>
    </center>
    <p class="title_desc">{{partyVIPPolicy}}</p>
</div>

<div class="col-xs-12" ng-if="partyMinimumRequirement">
    <center>
        <h3 class="color-success fontLight">{{"reservation.MIN_REQ" | translate}}</h3>
    </center>
     <p class="title_desc">{{partyMinimumRequirement}}</p>
</div>

<div class="col-xs-12" ng-if="dressCode">
    <center>
        <h3 class="color-success fontLight">{{'reservation.DRESS_CODE' | translate}}</h3>
    </center>
    <p class="title_desc">{{dressCode}}</p>
</div>


<div class="modal modal-success" id="reservedPartyTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'bottleServiceTab.RESERVED' | translate}}</h3>
            </div>
            <div class="modal-body ">
                <p class="loose_pack">{{'bottleServiceTab.ALREADY_SELECTED' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closePartyReservedModal()" data-backdrop="false">{{'CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success" id="moreReserveTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">Table Selected</h3>
            </div>
            <div class="modal-body">
                <p class="title_desc">{{'reservation.TOTAL_GUEST_SELECTED' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeMoreReserveTableModal()" data-backdrop="false">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success " id="reserveTableSelectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x modalMarginTop whiteTheme" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'reservation.SELECT_TABLE' | translate}}</h3>
            </div>
            <div class="modal-body">
                <table class="table table-no-border">
                    <tr >
                        <td>
                            <span>{{'reservation.TABLE_NAME' | translate}}</span>
                        </td>
                        <td>
                            <span ng-repeat="tableInfo in reserveTableSelection">{{tableInfo.name}}{{$last? '' : ($index==reserveTableSelection.length-2) ?'&nbsp;and&nbsp;' : ',&nbsp;'}}</span>
                        </td>
                    </tr>
                    <tr ng-hide="sum <=0">
                        <td>
                            <span >{{'reservation.CAPACITY' | translate}}</span>
                        </td>
                        <td>
                            <span>{{sum}}</span>
                        </td>
                    </tr>
                    <tr ng-hide="price <=0">
                        <td>
                            <span >{{'reservation.TOTAL_PRICE' | translate}}</span>
                        </td>
                        <td>
                            <span>{{price}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" ng-click="closeReserveModal()" data-backdrop="false">{{'CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
</div>