<div class="container nav_height" ng-cloak>
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-2  p-min">
            <div class="animated materialUp animation-delay-5">
                <div class="text-center">
                    <p class="mega-title mt-1 col-md-offset-1 col-md-10 col-md-offset-1 col-xs-12" ng-bind="'solution.BUSINESS_SOLUTION' | translate"></p>
                    <p class="p-min title_desc mt-1 col-xs-12" ng-bind="'solution.PAGE_DESC' | translate"></p>
                </div>
                    <!-- <img src="<%= assets %>/img/BreakThrough/reservation.png" alt="breakThroughReservation" class="img-responsive mb-4"> -->
            
                <div class="col-xs-12 mt-2 no-p no-m">
                   

                    <div class="image-center col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-2 mb-2">
                        <img src="<%= assets %>/img/solution/plug-play-2-3.png" alt="RealTimeReservation"
                            class="img-responsive center_content">
                    </div>
                </div>
            </div>
        </div>
    
</div>

<div class="bg-white">
   <div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
           
        <h2 class="text-center">Plug and Play Solution for Live Events and Stadiums - Hospitality Industry</h2>
                    
                <!-- <img src="<%= assets %>/img/BreakThrough/foodanddrink.png" alt="breakThroughFood" class="img-responsive mb-4"> -->
            <div class="col-xs-12 no-m mt-md-100 mt-xs-0 no-p">
                <div class="col-md-6 col-xs-12 p-min">
                    <div class="row col-xs-12 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-1.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 p-min pt-2">
                            <span class="title-bold mb0">Digital Concierge services</span>
                            <p >Improve guest experience<br>Provide value added services</p>
                        </div>
                    </div>
                    <div class="row col-xs-12 mt-4 mb-2 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-2.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 pt-2 p-min">
                            <span class="no-p  title-bold mb0">Targeted Advertising</span>
                            <p >Improve marketing<br>Attract more sponsors <br>Drive revenues</p>
                        </div>
                    </div>
                   
                </div>
                
                
                <div class="col-md-6 col-xs-12 p-min">
                    <div class="row col-xs-12 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-3.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 p-min pt-1">
                            <span class="title-bold mb0">Advanced Analytics </span>
                            <p >Know your customer<br>Measure &amp; improve performance</p>
                        </div>
                    </div>
                    <div class="row col-xs-12 mt-4 mb-2 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-4.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 p-min pt-1">
                            <span class="title-bold mb0">Engage attendees</span>
                            <p >Before, at, and after the event<br>Monetize WiFi</p>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
         
    </div>
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mb-4 p-min">
        <center>
         <img ng-src="<%=assets%>/img/solution/plug-play-2-1.png" class=" img-responsive"/>
        </center>
    </div>
</div>

</div>
