<!-- START panel-->
<div class="col-md-3 col-sm-12">
	<div class="panel widget  panel_grad_darker cpointer" ng-class="card.bgColor" >
	    <div class="row row-table">
	      <div class="col-xs-4 text-center panel_grad_darker pv-lg" ng-class="card.bgColorSecondary">
	         <em class="fa fa-3x" ng-class="card.icon"></em>
	      </div>
	      <div class="col-xs-8 pv-lg">
	         <div class="h2 m0 text-bold">{{card.value}}</div>
	         <div class="text-uppercase">{{card.label}}</div>
	      </div>
	   	</div>
	</div>
</div>