<div  ng-controller="BottleServiceController">
<form class="form-horizontal" parsley-validate validate-form="" name="bottleForm" ng-submit="confirmBottleService()" novalidate>
    <fieldset>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" id="requestDate" ng-model="bottle.requestedDate" placeholder="{{'reservation.DATE' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty" ng-if="tableSelection">
            Selected Table(s): <label ng-repeat="table in tableSelection">{{table.name}}{{$last? '' : ($index==tableSelection.length-2) ?'&nbsp;and&nbsp;' : ',&nbsp;'}}</label>
        </div>
        <div class="col-md-10 form-group is-empty" ng-if="img.pictureURL">
         <div class="table-map-info"
                    ng-if="img.pictureURL">
                    <div id="mapSection">
                    <center>
                    <div ng-if="img.pictureURL">
                        <table>
                            <tr>
                                <td>
                                    <h4>
                                        <span class="label label-warning"
                                            style="background-color: #e3e300;" translate="SELECTED"></span>
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        <span class="label label-success" translate="AVAILABLE"></span>
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        <span class="label label-danger" translate="BOOKED"></span>
                                    </h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </center>
                <center>
                    <img id="imagemap" ng-src="{{img.pictureURL}}" usemap="#ImgExam" class="map img-responsive">
                </center>
                    <map name="ImgExam">
                            <area id="{{venueImageMapData[0].elements[$index].id}}"
                                style="outline: red solid 2px;" shape="rect"
                                coords="{{area.coords.join()}}" ng-repeat="area in img.maps"
                                ng-href="{{area.link_url || 'javascript:void(0)'}}"
                                ng-click="selectTable(venueImageMapData[0].elements[$index].id, $index, venueImageMapData[0].elements[$index])"
                                data-maphilight='{"fillColor":"{{fillColor(venueImageMapData[0].elements[$index].id)}}","shadow":true,"shadowBackground":"ffffff","alwaysOn":true,"strokeColor":"{{strokeColor(venueImageMapData[0].elements[$index].id)}}","strokeWidth":2}'></area>
                    </map>
                </div>
                </div>
                </div>

                <div id="mapSection" ng-if="!img.pictureURL" class="form-group"
                    ng-repeat="table in venueImageMapData[0].elements" style="margin-top: 70px;">
                    <div class="col-md-12 col-sm-12 tableItem">
                        <div class="col-md-3 col-sm-4">
                            <input type="checkbox" id="checkData" name="{{table.name}}"
                                ng-checked="isSelected(table)" ng-disabled="isReserved(table)"
                                ng-click="selectTable(table.id, $index,table)" /> <label>&nbsp;&nbsp;&nbsp;{{table.name}}&nbsp;<span
                                ng-hide="table.size <= 0">({{table.size}}&nbsp;<i
                                    class="fa fa-user" aria-hidden="true" />)
                            </span></label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img class="table-carousel" class="img-responsive"
                                data-ng-src="{{table.imageUrls[0].smallUrl}}">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>{{table.description}}</label>
                        </div>
                        <div class="col-md-4" />
                    </div>
                </div>

                <div class="col-md-10 form-group is-empty" ng-if="tableSelection">
                    <div class="form-group" ng-repeat="table in tableSelection">
                        <center>
                        <table>
                            <tr>
                                <td><label class="table-map-color" style="color: black;"><b>#{{$index+1}}</b></label></td>
                                <td><label>:&nbsp;&nbsp;{{table.name}}</label>
                                </td>
                                <td><label ng-hide="table.size <= 0"
                                    class="table-capacity" style="color: black;"><b>{{'bottleServiceTab.CAPACITY' | translate}}</b></label>
                                </td>
                                <td><label ng-hide="table.size <= 0">:&nbsp;&nbsp;{{table.size}}</label>
                                </td>
                            </tr>
                        </table>
                        </center>
                        <uib-carousel interval="-1" active="active" no-wrap="false">
                        <uib-slide
                            data-ng-repeat="slide in table.imageUrls track by slide.id"
                            index="$index"> <img
                            class="img-responsive center-block table-carousel" data-ng-src="{{slide.originalUrl}}"
                            ng-click="imageView(slide.originalUrl)"> </uib-slide> </uib-carousel>
                        <br> <label class="table-capacity" ng-hide="table.description == null"><b>{{'bottleServiceTab.DESC' | translate}}</b></label> <br> <label
                            class="table-capacity"
                            ng-hide="table.description == null">{{table.description}}</label>
                        <button type="button" class="btn btn-danger btn-raised pull-right"
                            ng-click="removeSelectedTables($index,table,tableSelection) ">{{'bottleServiceTab.REMOVE' | translate}}</button>
                    </div>
                </div>
        <div class="showInMobile">
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" ng-model="bottle.userFirstName" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" ng-model="bottle.userLastName" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="email" class="form-control fontBold" id="email" ng-model="bottle.email" placeholder="{{'reservation.EMAIL' | translate}}" data-parsley-trigger="change" required="required">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="bottle.mobile" placeholder="{{'reservation.MOBILE' | translate}}" required="" data-parsley-trigger="change">
        </div>
        </div>

        <div class="showInWeb">
        <div>
        <div class="col-md-5 form-group is-empty">
            <input type="text" class="form-control fontBold" ng-model="bottle.userFirstName" id="firstName" placeholder="{{'reservation.FIRST_NAME' | translate}}">
        </div>
        <div class="col-md-5 form-group is-empty">
            <input type="text" class="form-control fontBold alignmentInWeb fontChange" ng-model="bottle.userLastName" id="lastName" placeholder="{{'reservation.LAST_NAME' | translate}}">
        </div>
        </div>
        <div>
        <div class="col-md-5 form-group is-empty">
            <input type="email" class="form-control fontBold" id="email" ng-model="bottle.email" placeholder="{{'reservation.EMAIL' | translate}}" data-parsley-trigger="change" required="required">
        </div>
        <div class="col-md-5 form-group is-empty">
            <input type="text" id="ms-form-pass" class="form-control fontBold alignmentInWeb fontChange" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="bottle.mobile" placeholder="{{'reservation.MOBILE' | translate}}" required="" data-parsley-trigger="change">
        </div>
        </div>
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="number" class="form-control fontBold" id="zipcode" ng-model="bottle.bottleZipcode" placeholder="{{'reservation.ZIPCODE' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" id="totalGuest" ng-model="bottle.totalGuest" placeholder="{{'reservation.TOTAL_GUEST' | translate}}">
        </div>
        <div class="col-md-10 form-group is-empty">
            <select class="form-control fontBold" required=""
                ng-model="bottle.bottleOccasion" ng-options="t.name for t in eventTypes">
                <option value="">{{"reservation.OCCASION"  | translate}}</option>
            </select>
        </div>
        <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control fontBold" id="instructions" ng-model="bottle.instructions" placeholder="{{'reservation.INSTRUCTIONS' | translate}}">
        </div>
        <!-- <div class="col-md-10 form-group is-empty">
            <input type="text" class="form-control" id="zipcode" placeholder="{{'reservation.HOST' | translate}}">
        </div> -->
        <div class="col-md-10 form-group is-empty">
        <center><h2>{{"reservation.SELECT_BOTTLES"  | translate}}</h2></center>
        </div>
        <div class="col-md-10 form-group is-empty" ng-if="bottleMinimum != ''">
        <h4 class="color-success">{{"reservation.SELECT_BOTTLE"  | translate}}</h4>
            <table class="table table-responsive table-no-border">
                <thead>
                    <tr>
                        <th>{{"reservation.BOTTLE"  | translate}}</th>
                        <th>{{"reservation.BRAND"  | translate}}</th>
                        <th>{{"reservation.QUANTITY"  | translate}}</th>
                        <th>{{"reservation.PRICE"  | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bottle in bottleMinimum">
                        <td><label>{{bottle.bottle}}</label></td>
                        <td><label>{{bottle.brand}}</label></td>
                        <td><label>{{bottle.quantity}}</label></td>
                        <td>$<label>{{bottle.price}}</label></td>
                        <td><a class="btn btn-danger btn-sm btn-raised btn-responsive" ng-click="removeBottleMinimum($index,bottle,bottleMinimum)" >X</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10">
            <table class="table table-no-border bottleSelect">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.BOTTLE" | translate}}</div>
                                    <div>
                                        <select ng-change="getBrandByBottleName(chooseBottles.bottleName)" class="form-control col-xs-3" ng-options="x.name as x.name for x in allBottle" ng-model="chooseBottles.bottleName"></select>
                                    </div>
                             </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.BRAND" | translate}}</div>
                                    <div>
                                        <select class="form-control" ng-options="x.brand as x.brand for x in brandData" ng-model="chooseBottles.brandName"></select>
                                    </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.PRICE" | translate}}</div>
                                    <div>
                                        <input type="text" placeholder="Price" class="form-control" ng-model="chooseBottles.price">
                                    </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.QUANTITY" | translate}}</div>
                                    <div>
                                        <table>
                                        <tr>
                                            <td><a class="btn btn-default btn-sm btn-responsive" ng-click="minusValue()"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </a></td>
                                            <td>{{bottleCount}}</td>
                                            <td><a class="btn btn-default btn-sm btn-responsive" ng-click="addValue()" > <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </a></td>
                                        </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </td>
                    <td><a class="btn btn-success btn-raised btn-lg btn-responsive" ng-click="selectedBottles()" ng-disabled="chooseBottles.bottleName == undefined || chooseBottles.bottleName == ''"><span>{{"reservation.ADD" | translate}}</span></a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular table-font">
                    <input type="checkbox" ng-model="bottle.authorize" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AUTHORIZE" | translate}} {{venueName}}.</input>
                </label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="check-box fontRegular table-font fontColorForText">
                    <input type="checkbox" ng-model="bottle.agree" required><span class="checkbox-material"><span class="check"></span></span> {{"reservation.AGREE" | translate}} {{venueName}} {{"reservation.AGREE_1" | translate}}</input>
                </label>
            </div>
        </div>
        <button class="btn btn-raised btn-success chk-button fontXLarge" type="submit" novalidate="novalidate" ng-disabled="bottleForm.$invalid">
          <font size="5">{{"reservation.CHECKOUT" | translate}}</font>
          <div class="ripple-container"></div>
        </button>
    </fieldset>
</form> <br/>

<div class="col-md-7 req-border">
    <p class="fontRegular table-font"><font color="#4caf50">{{"reservation.MIN_REQ" | translate}}</font></p>
    <p class="fontRegular table-font">{{"reservation.MIN_REQ_DESC" | translate}}</p>
    <p class="fontRegular table-font"><font color="#4caf50">{{"reservation.DRESS_CODE" | translate}}</font></p>
    <p class="fontRegular table-font">{{"reservation.DRESS_CODE_DESC" | translate}}</p>
</div> <br/>

<div class="col-md-12">

    <center>
        <h1 class="fontLight color-success">{{'reservation.POLICIES' | translate}}</h1>
    </center>
    <hr/>

    <center ng-if="bottleMenuUrl">
        <h1 class="color-success fontRegular">{{'reservation.BOTTLE_MENU' | translate}}</h1>
        <a href="" class="btn btn-raised btn-success" ng-click="menuUrlSelection(bottleMenuUrl)">
                         {{'reservation.VIEW_BOTTLE' | translate}}<div class="ripple-container"></div></a>
    </center>
</div> <br/>

<div class="col-md-12" ng-if="bottleVIPPolicy">
    <center>
        <h1 class="color-success fontRegular">{{'reservation.VIP_SERVICE_POLICY' | translate}}</h1>
        <p class="fontRegular">{{bottleVIPPolicy}}</p>
    </center>
</div>

<div class="col-md-12" ng-if="dressCode">
    <center>
        <h1 class="color-success fontRegular">{{'reservation.DRESS_CODE' | translate}}</h1>
        <p class="fontRegular">{{dressCode}}</p>
    </center>
</div>

</div>
</div>
