<aside id="footerMargin" class="ms-footbar" ng-cloak>
    <div class="container" ng-controller="HomeController as homeController" ng-cloak>
        <div class="row">
            <div class="col-md-4 ms-footer-col">
                <div class="ms-footbar-block" id="footbarWidth">
                    <h3 class="ms-footbar-title">{{'footBar.SITE_MAP' | translate}}</h3>
                    <ul class="list-unstyled ms-icon-list three_cols">
                        <li ng-click="navBar(1)"><a href="home"><i class="zmdi zmdi-home"></i> {{"navbar.HOME" | translate}}</a></li>
                        <li ng-click="navBar(2)"><a href="searchBusiness"><i class="zmdi zmdi-edit"></i> {{"navbar.BUSINESS" | translate}}</a></li>
                        <li ng-click="navBar(3)"><a href="cities"><i class="zmdi zmdi-image-o"></i> {{"navbar.CONSUMERS" | translate}}</a></li>
                        <li><a href="about"><i class="zmdi zmdi-favorite-outline"></i> {{"footBar.ABOUT" | translate}}</a></li>
                        <li><a href="terms"><i class="zmdi zmdi-case"></i> {{"footBar.TERMS" | translate}}</a></li>
                        <li><a href="privacy"><i class="zmdi zmdi-time"></i> {{"footBar.PRIVACY" | translate}}</a></li>
                        <!-- <li><a ng-click="changeLanguage('en')"><i class=""></i> English</a></li>
                        <li><a ng-click="changeLanguage('pseudo')"><i class=""></i>Pseudo</a></li> -->
                    </ul>
                </div>
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title">{{"footBar.SUBSCRIPBE" | translate}}</h3>
                    <p class="">{{"footBar.DESCRIPTION" | translate}}</p>
                    <form>
                        <div class="form-group label-floating mt-2 mb-1">
                            <div class="input-group ms-input-subscribe">
                                <label class="control-label" for="ms-subscribe"><i class="zmdi zmdi-email"></i> {{"footBar.EMAIL_ADDRESS" | translate}}</label>
                                <input type="email" id="ms-subscribe" class="form-control" ng-model="emailToSend">
                            </div>
                        </div>
                        <button class="ms-subscribre-btn" type="button" ng-click="sendEmail(emailToSend)">{{"footBar.SUBSCRIPBE" | translate}}</button>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
                <!-- <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title text-center mb-2">Last Articles</h3>
                    <div class="ms-footer-media">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="javascript:void(0)">
                                    <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="javascript:void(0)">Lorem ipsum dolor sit expedita cumque amet consectetur adipisicing repellat</a></h4>
                                <div class="media-footer">
                                    <span><i class="zmdi zmdi-time color-info-light"></i> August 18, 2016</span>
                                    <span><i class="zmdi zmdi-folder-outline color-warning-light"></i> <a href="javascript:void(0)">Design</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="javascript:void(0)">
                                    <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="javascript:void(0)">Labore ut esse Duis consectetur expedita cumque ullamco ad dolor veniam velit</a></h4>
                                <div class="media-footer">
                                    <span><i class="zmdi zmdi-time color-info-light"></i> August 18, 2016</span>
                                    <span><i class="zmdi zmdi-folder-outline color-warning-light"></i> <a href="javascript:void(0)">News</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="javascript:void(0)">
                                    <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="javascript:void(0)">voluptates deserunt ducimus expedita cumque quaerat molestiae labore</a></h4>
                                <div class="media-footer">
                                    <span><i class="zmdi zmdi-time color-info-light"></i> August 18, 2016</span>
                                    <span><i class="zmdi zmdi-folder-outline color-warning-light"></i> <a href="javascript:void(0)">Productivity</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right">
                <div class="ms-footbar-block">
                    <div class="ms-footbar-title">
                        <img class="ms-logo" src="assets/img/logo-collapsed.png" alt="">
                        <h3 class="no-m ms-site-title">{{"title.TITLE_VENUE" | translate}}<span>{{"title.TITLE_LYTICS"  | translate}}</span></h3>
                    </div>
                    <address class="no-mb">
                        <p><i class="color-danger-light zmdi zmdi-pin mr-1"></i> {{"footBar.ADDRESS1"  | translate}}</p>
                        <p><i class="color-warning-light zmdi zmdi-map mr-1"></i>{{"footBar.ADDRESS2"  | translate}}</p>
                        <p><i class="color-info-light zmdi zmdi-email mr-1"></i> <a href="mailto:info@venuelytics.com">{{"footBar.EMAIL"  | translate}}</a></p>
                        <p><i class="color-royal-light zmdi zmdi-phone mr-1"></i>(408) 372-6453 </p>
                    </address>
                </div>

                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title">{{"footBar.SOCIAL" | translate}}</h3>
                    <div class="ms-footbar-social">
                        <a href="https://www.facebook.com/itzfuninc" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://twitter.com/itzfuninc" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
