<!-- build:js <%=assets%>/js/plugins.min.js -->
   <script src="<%= assets %>/js/plugins.min.js"></script>
   <script src="<%= assets %>/js/libs.js"></script>
<!-- /build -->

<!-- build:js:dist,navbar,demo <%=assets%>/js/app.min.js -->
    <!-- <script src="<%= assets %>/js/ripples.js"></script>
    <script src="<%= assets %>/js/material.js"></script>
    <script src="<%= assets %>/js/dropdownhover.js"></script>
    <script src="<%= assets %>/js/tabs.js"></script>
    <script src="<%= assets %>/js/app.init.js"></script>
    <script src="<%= assets %>/js/app.js"></script>
    <script src="<%= assets %>/js/templates.js"></script>
    <script src="<%= assets %>/js/functions.js"></script> -->
<!-- /build -->
<script src="<%= assets %>/js/app_main.js"></script>

<script src="<%= assets %>/js/app_logic.js"></script>


<!-- build:js:demo <%=assets%>/js/configurator.min.js --><!-- /build -->
