<!-- build:js <%=assets%>/js/plugins.min.js -->
<!-- /build -->
<script src="<%= assets %>/js/moment.min.js"></script>
<script src="<%= assets %>/js/plugins.min.js"></script>

 <!-- <script src="<%= assets %>/js/libs.js"></script> -->

<!-- build:js:dist,navbar,demo <%=assets%>/js/app.min.js -->
    <!-- <script src="<%= assets %>/js/ripples.js"></script>
    <script src="<%= assets %>/js/material.js"></script>
    <script src="<%= assets %>/js/dropdownhover.js"></script>
    <script src="<%= assets %>/js/tabs.js"></script>
    <script src="<%= assets %>/js/app.init.js"></script>
    <script src="<%= assets %>/js/app.js"></script>
    <script src="<%= assets %>/js/templates.js"></script>
    <script src="<%= assets %>/js/functions.js"></script> -->
<!-- /build -->
<script src="<%= assets %>/js/app_main.js"></script>

<script src="<%= assets %>/js/app_logic.js"></script>

<script src="<%= assets %>/js/libs.min.js"></script>

<!-- <script src="<%= assets %>/js/libs/jquery.rwdImageMaps.min.js"></script>
<script src="<%= assets %>/js/libs/jquery.maphilight.js"></script>
<script src="<%= assets %>/js/libs/checkout.min.js"></script>
<script src="<%= assets %>/js/libs/client.min.js"></script>
<script src="<%= assets %>/js/libs/paypal.min.js"></script>
<script src="<%= assets %>/js/libs/fullcalendar.min.js"></script>

 -->
 <!-- build:js:demo <%=assets%>/js/configurator.min.js --><!-- /build -->
