<!-- build:js <%=assets%>/js/plugins.min.js -->
    <script src="<%= assets %>/js/jquery.min.js"></script>
    <script src="<%= assets %>/js/jquery.cookie.js"></script>
    <script src="<%= assets %>/js/bootstrap.min.js"></script>
    <script src="<%= assets %>/js/bootstrap-select.min.js"></script>
    <script src="<%= assets %>/js/holder.min.js"></script>
    <script src="<%= assets %>/js/Slidebars.min.js"></script>
    <script src="<%= assets %>/js/jquery.matchHeight-min.js"></script>
    <script src="<%= assets %>/js/prism.js"></script>
    <script src="<%= assets %>/js/prism-line-numbers.min.js"></script>
    <script src="<%= assets %>/js/wow.min.js"></script>
    <script src="<%= assets %>/js/plyr.js"></script>
    <script src="<%= assets %>/js/imagesloaded.pkgd.min.js"></script>
    <script src="<%= assets %>/js/masonry.pkgd.min.js"></script>
    <script src="<%= assets %>/js/jquery.waypoints.min.js"></script>
    <script src="<%= assets %>/js/jquery.counterup.min.js"></script>
    <script src="<%= assets %>/js/Chart.bundle.min.js"></script>
    <script src="<%= assets %>/js/chartjs-plugin-deferred.min.js"></script>
    <script src="<%= assets %>/js/circles.min.js"></script>
    <script src="<%= assets %>/js/owl.carousel.min.js"></script>
    <script src="<%= assets %>/js/jquery.countdown.min.js"></script>
    <script src="<%= assets %>/js/jquery.mixitup.min.js"></script>
    <script src="<%= assets %>/js/smooth-scroll.min.js"></script>
    <script src="<%= assets %>/js/typed.min.js"></script>
    <script src="<%= assets %>/js/snackbar.min.js"></script>
<!-- /build -->

<!-- build:js:dist,navbar,demo <%=assets%>/js/app.min.js -->
    <script src="<%= assets %>/js/ripples.js"></script>
    <script src="<%= assets %>/js/material.js"></script>
    <script src="<%= assets %>/js/dropdownhover.js"></script>
    <script src="<%= assets %>/js/tabs.js"></script>
    <script src="<%= assets %>/js/app.init.js"></script>
    <script src="<%= assets %>/js/app.js"></script>
    <script src="<%= assets %>/js/templates.js"></script>
    <script src="<%= assets %>/js/constants/constants.js"></script>
    <script src="<%= assets %>/js/controllers/cityCtrl.js"></script>
    <script src="<%= assets %>/js/controllers/homeCtrl.js"></script>
    <script src="<%= assets %>/js/controllers/venueCtrl.js"></script>
    <script src="<%= assets %>/js/controllers/bottleReservation.js"></script>
    <script src="<%= assets %>/js/controllers/privateReservation.js"></script>
    <script src="<%= assets %>/js/controllers/guestReservation.js"></script>
    <script src="<%= assets %>/js/controllers/venueDetailsCtrl.js"></script>
    <script src="<%= assets %>/js/controllers/businessCtrl.js"></script>
    <script src="<%= assets %>/js/controllers/sidebarCtrl.js"></script>
    <script src="<%= assets %>/js/services/restUrlService.js"></script>
    <script src="<%= assets %>/js/services/venueService.js"></script>
    <script src="<%= assets %>/js/services/ajaxService.js"></script>
    <script src="<%= assets %>/js/functions.js"></script>
    <script src="<%= assets %>/js/directives/inputmask.js"></script>
    <script src="<%= assets %>/js/directives/validate-form.js"></script>
    <script src="<%= assets %>/js/libs/momentNew.js"></script>
    <script src="<%= assets %>/js/libs/jquery.jmap.min.js"></script>
    <script src="<%= assets %>/js/libs/jquery.maphilight.js"></script>
    <script src="<%= assets %>/js/libs/checkout.js"></script>
    
<!-- /build -->

<!-- build:js:demo <%=assets%>/js/configurator.min.js --><!-- /build -->
