<div class="jumbotron text-xs-center" style="background-color: #eeeeee">
	<center>
  		<span style="font-weight:bold">{{"business.BUSINESS_ALREADY"  | translate}}</span><br/>
      <button class="btn btn-success btn-raised" ng-click="yesFunction()">{{"business.YES"  | translate}}</button>
      <button class="btn btn-danger btn-raised" ng-click="noFunction()">{{"business.NO"  | translate}}</button><br/>
      <span style="font-weight:bold">{{"business.CONTACT_US_CLAIM"  | translate}}</span>
  </center>
</div>