<div class="container nav_height" ng-cloak>
    <div class="text-center mt-6">
        <h2 >{{"business.BUSINESS_SEARCH" | translate}}</h2>
        <form class="form-horizontal col-md-offset-4 col-md-4 col-offset-right-4 col-xs-12" autocomplete="off">
            <fieldset>
                <div class="input-group">
                    <input type="text" class="form-control mb-2 whiteTheme  col-xs-6" ng-model="searchBusiness" placeholder="{{'business.BUSINESS_NAME' | translate}}" name="searchBox">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-raised btn-primary no-mb" ng-click="search(searchBusiness)">{{"business.SEARCH" | translate}}</button>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- <div class="container" ng-cloak>
    <div class="row">
        <div class="mt-6">
            <center>
                <h5 ng-show="businessDetailLength == 0">{{"business.SEARCH_BUSINESS_MESSAGE" | translate}}</h5>
            </center>
            <div ng-repeat="business in businessDetails" ng-hide="claimBusiness == true">
                <article class="card wow fadeInLeft animation-delay-5 mb-4">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-7 col-sm-6">
                                <div class="slider">
                                    <img ng-repeat="slide in business.imageUrls" class="slide businessImage col-xs-12" ng-swipe-right="showPrev(slide)"
                                        ng-swipe-left="showNext(slide)" ng-show="isActive($index)"
                                        ng-src="{{slide.originalUrl}}" alt="business-image" />
                                       <ul class="buttonNav">
                                           <li ng-repeat="slide in business.imageUrls"
                                           ng-class="{'active':isActive($index)}"><img
                                           ng-src="{{slide.originalUrl}}"
                                           class="img-responsive sliderThumb" alt="busSearch-image" ng-click="showPhoto(slide,$index);" />
                                       </li>
                                                                           </ul>
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <h3 class="no-mt">{{business.venueName}}</h3>
                                <p class="mb-4">{{business.description | limitTo: 200
                                }}{{business.description.length > 200 ? '...' :''}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <i class="mr-1 fa fa-map-marker"></i>
                                <label><b class="businessSearchAddress" >{{business.address}}</b></label>
                                <br /> 
                                <a href="{{business.website}}" target="_blank">
                                    <i class="fa fa-globe" aria-hidden="true"></i>Website
                                </a>
                            </div>
                            <div class="col-md-5 col-xs-6 text-right" >
                                <button href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon" ng-click="clickClaimBusiness(business)">
                                    <i class="zmdi zmdi-wrench"></i>{{(business.flag ? "business.CLAIMED_BUSINESS" : "business.CLAIM_BUSINESS") | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="form-group" ng-hide="claimBusiness == true">
            <center>
                <button type="submit" class="btn btn-raised btn-primary"
                ng-if="businessDetails" ng-click="createBusinessMethod()">{{"business.CREATE_BUSINESS"
                | translate}}</button>
            </center>
        </div>
        <div ng-show="claimForm == true">
            <div ng-include="'business/create-business.html'"></div>
        </div>
        <div ng-include="'custom-dialog.html'"></div>
        <div ng-include="'mail-validation.html'"></div>
    </div>
    <div class="turnkey" ng-cloak ng-show="!(claimBusiness == true)">
        <div class="container">
           <div class="container mt-0">
                <h1 class="text-center color-primary mb-2 wow fadeInDown animation-delay-3">{{"home.WELCOME_HEADING_1" | translate}}</h1>
                <h3 class="text-center mb-6 wow fadeInDown animation-delay-4">{{"home.WELCOME_HEADING_2" | translate}}</h3>
                <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4">{{"home.WELCOME_DESCRIPTION" | translate}}</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-push-3 mb-4  center-block">
                    <img src="<%= assets %>/img/demo/devices.png" alt="device-image"
                    class="img-responsive center-block wow zoomIn animation-delay-8 ">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row animated materialUp animation-delay-5">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" ng-src="{{embeddedVideo | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="wrap wrap-mountain">
    <div class="container mt-4" ng-cloak>
        <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-3" ng-bind="'home.KNOW_OUR_FEATURES'
            | translate">VenueLytics Breakthrough Solutions</h2>
        <p
            class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"
            ng-show="false">
            Lorem ipsum dolor sit amet, <span class="color-primary">consectetur
                adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam
            numquam iusto eum illum, ea quisquam.
        </p>
        <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4" ng-repeat="feature in venueLyticsFeatures">
            <div class="text-center form-group card-block">
                <a href="#{{feature.link}}">
                <img ng-src="{{feature.image}}" alt="feature-image" class="ms-icon ms-icon-xxlg ms-icon-circle imgpointer"/></a>
                <a href="#{{feature.link}}" class="{{feature.color}} imgpointer"><h4>{{feature.title | translate}}</h4></a>
                <label>{{feature.description | translate}}</label>
            </div>
        </div>
    </div>
</div>
<a name="FreeTrial"></a>
<br/><br/>
<div ng-hide="claimBusiness == true">
    <center>
        <h1 class="color-success">{{"business.BUSINESS_SEARCH" | translate}}</h1>
    </center>
    <div class="container">
        <form class="form-horizontal businessSearchForm" autocomplete="off">
            <fieldset>
                <div class="col-md-2"></div>
                <div class="form-group label-floating is-empty col-md-7">
                    <label for="nameId" class="control-label">{{"business.BUSINESS_NAME" | translate}}</label>
                    <input type="text" class="form-control" ng-model="searchBusiness" name="searchBox">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="search(searchBusiness)">{{"business.SEARCH" | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br/><br/>
<div id="{{feature.link}}" ng-include="linkToPath[feature.link]" ng-repeat="feature in venueLyticsFeatures"></div>
<div ng-hide="claimBusiness == true">
    <center>
        <h1 class="color-success">{{"business.BUSINESS_SEARCH" | translate}}</h1>
    </center>
    <div class="container">
        <form class="form-horizontal businessSearchForm" autocomplete="off">
            <fieldset>
                <div class="col-md-2"></div>
                <div class="form-group label-floating is-empty col-md-7">
                    <label for="nameId" class="control-label">{{"business.BUSINESS_NAME" | translate}}</label>
                    <input type="text" class="form-control" ng-model="searchBusiness" name="searchBox">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="search(searchBusiness)">{{"business.SEARCH" | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
 -->