<div class="container" ng-cloak>

    <div class="row">
        
        <div class="claimCard">
                <center>
                    <h5 ng-show="businessDetailLength == 0">{{"business.SEARCH_BUSINESS_MESSAGE"
                        | translate}}</h5>
                    </center>

                    <div ng-repeat="business in businessDetails"
                    ng-hide="claimBusiness == true">
                    <article class="card wow fadeInLeft animation-delay-5 mb-4">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-7 col-sm-6">
                                    <div class="slider">
                                        <img ng-repeat="slide in business.imageUrls" class="slide businessImage col-sm-12" ng-swipe-right="showPrev(slide)"
                                        ng-swipe-left="showNext(slide)" ng-show="isActive($index)"
                                        ng-src="{{slide.originalUrl}}" alt="business-image" />
                                        <ul class="buttonNav">
                                            <li ng-repeat="slide in business.imageUrls"
                                            ng-class="{'active':isActive($index)}"><img
                                            ng-src="{{slide.originalUrl}}"
                                            class="img-responsive sliderThumb" alt="busSearch-image" ng-click="showPhoto(slide,$index);" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <h3 class="no-mt">{{business.venueName}}</h3>
                                <p class="mb-4">{{business.description | limitTo: 200
                                }}{{business.description.length > 200 ? '...' :''}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-6">
                                <i class="mr-1 fa fa-map-marker"></i>
                                <label><b class="businessSearchAddress" >{{business.address}}</b></label>
                                <br /> 
                                <a href="{{business.website}}" target="_blank">
                                    <i class="fa fa-globe" aria-hidden="true"></i>Website
                                </a>
                            </div>
                            <div class="col-md-5 col-sm-6 text-right" >
                                <button href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon" ng-click="clickClaimBusiness(business)">
                                    <i class="zmdi zmdi-wrench"></i>{{(business.flag ? "business.CLAIMED_BUSINESS" : "business.CLAIM_BUSINESS") | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="form-group" ng-hide="claimBusiness == true">
            <center>
                <button type="submit" class="btn btn-raised btn-primary"
                ng-if="businessDetails" ng-click="createBusinessMethod()">{{"business.CREATE_BUSINESS"
                | translate}}</button>
            </center>
        </div>
        <div ng-show="claimForm == true">
            <div ng-include="'business/create-business.html'"></div>
        </div>
        <div ng-include="'custom-dialog.html'"></div>
        <div ng-include="'mail-validation.html'"></div>
    </div>
    <div class="turnkey" ng-cloak ng-show="!(claimBusiness == true)">
        <div class="container">
           <div class="container mt-0">
                <h1
                    class="text-center color-primary mb-2 wow fadeInDown animation-delay-3">{{"home.WELCOME_HEADING_1"
                    | translate}}</h1>
                <h3
                    class="text-center mb-6 wow fadeInDown animation-delay-4"><b>{{"home.WELCOME_HEADING_2"
                    | translate}}</b></h3>
                <p
                    class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4">{{"home.WELCOME_DESCRIPTION"
                    | translate}}</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-push-3 mb-4  center-block">
                    <img src="<%= assets %>/img/demo/devices.png" alt="device-image"
                    class="img-responsive center-block wow zoomIn animation-delay-8 ">
                </div>

            </div>
        </div>
    </div>

</div>
<div class="img-singleline col-sm-12 bg">
    <br>
    <center>
    <a href="//www.youtube.com/watch?v=ruy7kCuPpV4" target="_new" class="btn btn-round-lg"> <img class="img-singleline-image " alt="video-image" ng-src="assets/img/play.png">
    </a>
    </center>
</div>

<div class="container mt-4" ng-cloak>
    <h2
        class="text-center color-primary mb-2 wow fadeInDown animation-delay-3">{{"home.KNOW_OUR_FEATURES"
        | translate}}</h2>
    <!-- <p
        class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"
        ng-show="false">
        Lorem ipsum dolor sit amet, <span class="color-primary">consectetur
            adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam
        numquam iusto eum illum, ea quisquam.
    </p> -->
    <div
        class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4 features" ng-repeat="feature in venueLyticsFeatures">
        <div class="text-center card-block">
            <a href="#{{feature.link}}">
            <img ng-src="{{feature.image}}" alt="feature-image" class="ms-icon ms-icon-xxlg ms-icon-circle imgpointer"></img></a>
            <a href="#{{feature.link}}" class="{{feature.color}} imgpointer"><h4>{{feature.title | translate}}</h4></a>
            <p class="">{{feature.description | translate}}</p>
        </div>
    </div>
</div>
<div ng-hide="claimBusiness == true">
    <center>
        <h1 class="color-success">{{"business.BUSINESS_SEARCH" |
        translate}}</h1>
    </center>
    <form class="form-horizontal businessSearchForm">
        <fieldset>
            <div class="form-group is-empty">
                <label for="searchBusiness" class="col-md-offset-left-2 col-md-4 control-label">
                    <font size="3">{{"business.BUSINESS_NAME" | translate}}:</font>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="search"
                    ng-model="searchBusiness" name="searchBox">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="search()">{{"business.SEARCH" | translate}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br/><br/>
<div id="{{feature.link}}" ng-include="linkToPath[feature.link]" ng-repeat="feature in venueLyticsFeatures"></div>
<div ng-hide="claimBusiness == true">
    <center>
        <h1 class="color-success">{{"business.BUSINESS_SEARCH" |
        translate}}</h1>
    </center>
    <form class="form-horizontal businessSearchForm">
        <fieldset>
            <div class="form-group is-empty">
                <label for="searchBusiness" class="col-md-offset-left-2 col-md-4 control-label">
                    <font size="3">{{"business.BUSINESS_NAME" | translate}}:</font>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="search"
                    ng-model="searchBusiness" name="searchBox">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="search()">{{"business.SEARCH" | translate}}</button>
                </div>
            </div>
            <br/><br/>
        </fieldset>
    </form>
</div>
