<toaster-container toaster-options="{'time-out': 3000, 'animation-class': 'toast-top-full-width'}"></toaster-container>

<div class="btn btn-raised btn-sm paypal-color-gold" id="paypalButtonId" ></div>

<div class="btn btn-raised btn-primary" ng-click="payWithCC()">
    <i class="fa fa-2x fa-credit-card"></i> {{ 'reservation.CREDIT_CARD'  | translate}}</div>

<div class="btn btn-raised btn-primary no-mt no-mb" ng-click="payAtVenue()">
    <i class="zmdi zmdi-store zmdi-hc-2x"></i>  {{'reservation.PAY_AT_VENUE'  | translate}}</div>

    