<div ng-controller="MailViewController" class="panel panel-default">
   <div class="panel">
      <div class="panel-body">
         <h3 class="mt0"><em ng-class="getNotificationIconClass(selectedObj.serviceType)" ></em> {{selectedObj.serviceType | translate}}</h3>
         <hr/>
         <div class="row mb-lg">
            <div class="col-lg-4 col-xs-6 br pv">
               <div class="row">
                  <div class="col-md-2 visible-md visible-lg">
                     <div ng-if="getAvatar(prifileImage)">
                     <img ng-src="{{getAvatar(prifileImage)}}" alt="" class="media-object img-circle thumb32 pull-left"  />
                  </div>
                     <div ng-if="!getAvatar(prifileImage)" class="fa fa-user-circle-o fa-2x thumb32 pull-left">
                     </div>
                  </div>
                  <div class="col-md-10">
                     <h4>{{selectedObj.vaService.visitorName}}</h4>
                     <address></address>{{selectedObj.vaService.contactEmail}}
                     <br/>{{selectedObj.vaService.contactNumber}}
                     <br/>{{selectedObj.vaService.contactZipcode}}</div>
               </div>
            </div>
            <div class="col-lg-4 col-xs-6 br pv">
               <div class="clearfix">
                  <p class="pull-left">Service Type</p>
                  <p class="pull-right mr">{{selectedObj.serviceType}}</p>
               </div>
               <div class="clearfix">
                  <p class="pull-left">Status</p>
                  <p class="pull-right mr">{{selectedObj.status}}</p>
               </div>
               <div class="clearfix">
                  <p class="pull-left">Event Type</p>
                  <p class="pull-right mr">{{selectedObj.vaService.reason}}</p>
               </div>
               <div class="clearfix">
                  <p class="pull-left">Budget</p>
                  <p ng-if="!(selectedObj.vaService.budget == null || selectedObj.vaService.budget == '')" class="pull-right mr">{{selectedObj.vaService.budget}}</p>
                   <p ng-if="(selectedObj.vaService.budget == null || selectedObj.vaService.budget == '')" class="pull-right mr">-</p>
               </div>
               <div class="clearfix">
                  <p class="pull-left">Total Guest (Males / Females)</p>
                  <p class="pull-right mr">{{selectedObj.vaService.noOfGuests}} <span ng-show="selectedObj.vaService.noOfMaleGuests + selectedObj.vaService.noOfFemaleGuests > 0">({{selectedObj.vaService.noOfMaleGuests / selectedObj.vaService.noOfFemaleGuests}})</span></p>
               </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
               <hr/>
            </div>
            <div class="col-lg-4 col-xs-12 pv pull-right">
               <div class="clearfix">
                  <p class="pull-left">INVOICE NO.</p>
                  <p class="pull-right mr">{{selectedObj.id}}</p>
               </div>
               
               <div class="clearfix">
                  <p class="pull-left">Ordered Date</p>
                  <p class="pull-right mr">{{selectedObj.createdDate | date : 'MMM d, y'}}</p>
               </div>
               <div class="clearfix">
                  <p class="pull-left">Fulfillment Date</p>
                  <p class="pull-right mr">{{selectedObj.vaService.fulfillmentDate | date : 'MMM d, y'}}</p>
               </div>
            </div>
         </div>
         <div class="table-responsive table-bordered mb-lg">
            <table class="table">
               <thead>
                  <tr>
                     <th>Order Id</th>
                     <th>Product Id</th>
                     <th>Table Name</th>
                     <th>Description</th>
                     <th>Quantity</th>
                     <th>Price</th>
                  </tr>
               </thead> 
               <tbody ng-repeat ="orderItem in selectOrderItems">
                  <tr>
                     <td ng-bind="orderItem.orderId"></td>
                     <td ng-bind="orderItem.productId"></td>
                     <td ng-bind="orderItem.name"></td>
                     <td ng-bind="orderItem.description"></td>
                     <td ng-bind="orderItem.quantity"></td>
                     <td ng-bind="orderItem.totalPrice > 0 ? orderItem.totalPrice : ''"></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="row">
         <div class="col-sm-offset-8 col-sm-4 pv">
            <div class="clearfix">
               <p class="pull-left h3">GRAND TOTAL</p>
               <p ng-if="!(selectedObj.vaService.order.totalCost == null || selectedObj.vaService.order.totalCost == '')" class="pull-right mr h3">$ {{selectedObj.vaService.order.totalCost}}</p>
               <p ng-if="(selectedObj.vaService.order.totalCost == null || selectedObj.vaService.order.totalCost == '')" class="pull-right mr h3">-</p>
            </div>
         </div>
      </div>
         <hr class="hidden-print" />
         <div class="clearfix">
            <button type="button" onclick="window.print();" class="btn btn-info pull-left"> Print</button>
         </div>
      </div>
   </div>
</div>