<div ng-controller="GuestListController">
<form class="search-form" name="guestForm" autocomplete="off" validate-form="" parsley-validate novalidate ng-submit="glistSave(guest)" ng-cloak>
        <fieldset class="col-md-10 col-md-offset-right-2">
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestDateIsFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.DATE' | translate}}</label>
                <input type="text" class="form-control fontBold" id="requestedDate" ng-model="guest.requestedDate">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.TOTAL_GUEST' | translate}}</label>
            <input type="text" class="form-control fontBold" id="totalGuest" ng-model="guest.totalGuest">
            </div>
            <div class="col-lg-12 form-group is-empty">
            <table>
                <tr>
                    <td>
                        <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
                        <label class="control-label" for="focusedInput1">{{'reservation.GUEST_MEN' | translate}}   </label>
                        <input type="text" placeholder="" id="guestMen" name="guestMen" class="form-control fontBold" ng-model="guest.guestMen" required="" data-parsley-trigger="change">
                        </div>
                    </td>
                    <td>
                        <div class="col-md-10 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
                        <label class="control-label" for="focusedInput1">{{'reservation.GUEST_WOMEN' | translate}}</label>
                        <input type="text" id="guestWomen" name="guestWomen" class="form-control fontBold" ng-model="guest.guestWomen" required="" data-parsley-trigger="change">
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
                <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="guest.guestMobileNumber" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
                <input type="email" id="guestEmailId" name="guestEmailId" data-parsley-type="email" class="form-control fontBold" ng-model="guest.guestEmailId" required="" data-parsley-trigger="change">
            </div>
            
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
                <input type="text" id="guestFirstName" name="guestFirstName" class="form-control fontBold" ng-model="guest.guestFirstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
                <input type="text" id="guestLastName" name="guestLastName" placeholder="" class="form-control fontBold" ng-model="guest.guestLastName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{"reservation.EVENT_TYPE"  | translate}}</label>
                <select class="form-control fontBold {{blackTheme}}" required="" ng-model="guest.guestEvent" ng-options="t.name for t in eventTypes">
                    <option value=""></option>
                </select>
            </div>            
            <div class="col-md-12 form-group label-floating is-empty floatingLabel {{guestFocus}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.ZIPCODE' | translate}}</label>
                <input type="text" id="guestZip" name="guestZip" class="form-control fontBold" ng-model="guest.guestZip" data-parsley-trigger="change" required>
            </div>
            <div class="col-lg-12">
            <div>
                <label class="fontRegular" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-mode="guest.authorize" required/> {{"reservation.AUTHORIZE" | translate}} {{venueName}}.
                </label>
            </div>
            </div>
            <div class="col-lg-12">
            <div>
                <label class="fontRegular" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-model="guest.agree" required/> {{"reservation.AGREE" | translate}} {{venueName}} {{"reservation.AGREE_1" | translate}}
                </label>
            </div>
            </div>
            <div class="modal modal-success" id="guestError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                            <h3 class="modal-title" id="myModalLabel6">{{'reservation.TOTAL_GUEST_ERROR' | translate}}</h3>
                        </div>
                        <div class="modal-body">
                            <p>{{'reservation.GUEST_ERROR' | translate}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-lg-12">
                <center>
                    <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="guestForm.$invalid">
                        <span class="fontRegular">{{'business.DEPLOY_APPLY' | translate}}</span>
                    </button>
                    <button class="btn btn-raised btn-success">
                        <span class="fontRegular">{{'business.CANCEL' | translate}}</span>
                    </button>
                </center>
            </div>
        </fieldset>
    </form>
</div>
