<div ng-controller="WebuiButtonsController" class="calendar-app">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12 co-xs-pull-12">
          <!-- START panel-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Venue Services</h4>
            </div>
            <!-- Default external events list-->
            <div class="external-events-trash">
              <div class="panel-body">
                <div class="external-events" id="dragtarget" ng-model="buttonsUI" data-drop="true">
                  <div ng-repeat="data in buttonsUI" ng-style="{background: data.color}" ng-click="currentButton(data,$index)" ng-show="data.name"
                    ng-model="data.name">{{data.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- END panel-->
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <!-- START panel-->
      <div class="panel panel-default">
        <div class="panel-body button-drag">
          <div id="sortable2" class="external-events">
            <div ng-repeat="data in buttonsUI1"></div>
          </div>
          <div class="editBttonShow" ng-show="IsVisible">
            <h4>Details About WebUI </h4>
            <label class="leftLabel">
              <strong>Name:</strong>
            </label>
            <input type="text" class="rightText" ng-model="editBtton.name">
            <br/>
            <label class="leftLabel">
              <strong>Color:</strong>
            </label>
            <br/>
            <input type="text" id="basicColor" ng-model="editBtton.color">
          </div>
          <input ng-show="IsVisible" type="submit" class="submit-det" ng-click="submit(editBtton)" />
        </div>
        <button type="button" ng-click="arrayShow()">Submit</button>
        <!-- END panel-->
      </div>
    </div>
    <!-- END row-->
  </div>
</div>