<div class="container nav_height card {{blackTheme}}">
   
    <div>
        <center>
            <h1>{{"reservation.PAYMENT"  | translate}}</h1>
        </center>
    </div>
    <div class="form-group">
        <center>
            <table class="table table-responsive table-no-border">
                <tr>
                    <td>
                        <label>{{"reservation.VENUE_NAME"  | translate}}</label>
                    </td>
                    <td>
                        <label>{{venueName}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.AMOUNT"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{availableAmount | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.SALES_TAX"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{taxAmount | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.TOTAL"  | translate}}</label>
                    </td>
                    <td>
                        $<label>{{chargedAmount | number:2}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{"reservation.PAYMENT"  | translate}}</label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" ng-change="paypalData(test)" name="type" ng-model="test" value="Paypal" disabled="true" />
                            {{"reservation.PAYPAL"  | translate}}
                        </label><br>
                        <label>
                            <input type="radio" ng-change="cardPaymentData(test)" name="type" ng-model="test" value="Credit/Debit Card"/>
                            {{"reservation.CREDIT_CARD"  | translate}}
                        </label><br>
                        <label>
                            <input type="radio" name="type" ng-change="payAtVenue(test)" ng-model="test" value="Phone/In Venue"/>
                            {{"reservation.PAY_AT_VENUE"  | translate}}
                        </label>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div>
        <center>
            <input type="button" class="btn btn-success btn-raised" ng-click="createBottleSave()" value="Pay Now">
        </center>
    </div>
    <div class="form-group" ng-hide="true">
        <input type="text" id="stripeAmount" placeholder="payAmount" ng-model="availableAmount">
        <input type="text" id="taxDate" placeholder="taxDate" ng-model="taxDate">
        <input type="text" id="venueNumber" placeholder="venueNumber" ng-model="venueID">
        <input type="text" id="orderIdValue" placeholder="orderIdValue" ng-model="orderId">
        <input type="text" id="cityName" placeholder="cityName" ng-model="editCity">
    </div>
    
</div>

