<div  ng-controller="BottleServiceController">
<form class="form-horizontal" parsley-validate validate-form="" name="bottleForm" ng-submit="confirmBottleService()" novalidate>     
    <fieldset class="col-md-10 col-md-offset-right-2">
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{bottleDateIsFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.DATE' | translate}}</label>
            <input type="text" class="form-control fontBold"  id="requestDate" ng-model="bottle.requestedDate"  required/>
        </div>
        <div class="col-md-12 form-group is-empty selected-table" ng-if="selectedVenueMap.imageUrls[0].originalUrl" style="margin-top: 0px;">
            <div class="table-map-info">
                <div id="mapSection">
                    <center>
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <h4>
                                            <span class="label label-warning" style="background-color: #e3e300;" translate="SELECTED"></span>
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            <span class="label label-success" translate="AVAILABLE"></span>
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            <span class="label label-danger" translate="BOOKED"></span>
                                        </h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <img alt="bottleService-image" id="imagemap" ng-src="{{selectedVenueMap.imageUrls[0].originalUrl}}" usemap="#ImgExam" class="map img-responsive"/>
                    <map name="ImgExam">
                            <area id="{{area.id}}"
                                style="outline: red solid 2px;" shape="rect"
                                coords="{{area.coords.join()}}" ng-repeat="area in selectedVenueMap.coordinates"
                                ng-href="{{area.link_url || 'javascript:void(0)'}}"
                                ng-click="selectTable(area.id, area.name)"
                                data-maphilight='{"fillColor":"{{fillColor(area.id)}}","shadow":true,"shadowBackground":"ffffff","alwaysOn":true,"strokeColor":"{{strokeColor(area.id)}}","strokeWidth":2}'>
                            </area>
                    </map>
                </center>
                </div>
            </div>
        </div>

        <div id="mapSection" ng-if="!selectedVenueMap.imageUrls[0].originalUrl" class="form-group"  ng-repeat="table in selectedVenueMap.elements"
                style="margin-top: 70px;">
            <div class="col-md-12 col-sm-12 tableItem">
                <div class="col-md-3 col-sm-4"><label>
                    <input type="checkbox" id="checkData" name="{{table.name}}" ng-checked="isSelected(table)" ng-disabled="isReserved(table)"
                        ng-click="selectTableForWithOutFloorMap(table,$index)" />&nbsp;&nbsp;&nbsp;{{table.name}}&nbsp;<span
                    ng-hide="table.size <= 0">({{table.size}}&nbsp;<i
                        class="fa fa-user" aria-hidden="true" />)
                </span></label>
                    <label class="tableReserved" ng-if="table.reserved === true">{{"reservation.RESERVED" | translate}}</label>
                </div>
                <div class="col-md-5 col-sm-5">
                    <img alt="table-images" class="table-carousel" class="img-responsive" data-ng-src="{{table.imageUrls[0].smallUrl}}"/>
                </div>
                <div class="col-md-4 col-sm-12 descriptionAlign">
                    <label>{{table.description}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group is-empty selected-table"  ng-if="tableSelection.length > 0" style="margin-top: 0px; margin-left: 46px">
            <font size="4"><b>{{'reservation.SELECT_TABLE' | translate}}</b>: </font><label ng-repeat="table in tableSelection"><font size="4" style="font-weight:bold;">{{table.name}}{{$last? '' : ($index==tableSelection.length-2) ?'&nbsp;and&nbsp;' : ',&nbsp;'}}</font></label>
        </div>

        <div class="col-md-12 form-group is-empty"  ng-if="tableSelection">
            <div class="form-group" ng-repeat="table in tableSelection">
                <center>
                <table>
                    <tr>
                        <td><label class="table-map-color" style="color: black;"><b>#{{$index+1}}</b></label></td>
                        <td><label style="font-weight:bold; color: black;">:&nbsp;&nbsp;{{table.name}}</label>
                        </td>
                        <td><label ng-hide="table.size <= 0"
                            class="table-capacity" style="color: black;"><b>{{'bottleServiceTab.CAPACITY' | translate}}</b></label>
                        </td>
                        <td><label ng-hide="table.size <= 0" style=" font-weight:bold; color: black;">:&nbsp;&nbsp;{{table.size}}</label>
                        </td>
                    </tr>
                </table>
                </center>
                <center>
                    <div id="carousel-{{$index}}" class="ms-carousel carousel slide table-carousel" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner carousel-inner-class table-carousel" role="listbox">
                            <div class="item {{slide.active}} table-carousel" ng-repeat="slide in table.imageUrls">
                                <img alt="curousel-images" ng-src="{{slide.originalUrl}}" class="img-responsive" style="height:250px"/>
                            </div>
                        </div>
                        <!-- Controls -->
                        <span data-target="#carousel-{{$index}}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev" ng-show="table.imageUrls.length > 1" style="margin-left: 25px;">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </span> 
                        <span data-target="#carousel-{{$index}}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next" ng-show="table.imageUrls.length > 1" style="margin-right: 25px;">
                            <i class="zmdi zmdi-chevron-right"></i>
                        </span>
                    </div>
                </center>
                    <center>
                        <button id="removeBtn" type="button" class="btn btn-danger btn-raised" ng-click="removeSelectedTables($index,table,tableSelection) ">{{'bottleServiceTab.REMOVE' | translate}}</button>
                    </center>
                <br> <label class="table-capacity" ng-hide="((table.description == null) || (table.description == ''))"><b>{{'bottleServiceTab.DESC' | translate}}</b></label> <br> <label
                    class="table-capacity"
                    ng-hide="((table.description == null) || (table.description == ''))">{{table.description}}</label>
                
            </div>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold" ng-model="bottle.userFirstName" id="firstName" required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
            <input type="text" class="form-control fontBold fontChange"  ng-model="bottle.userLastName" id="lastName" required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
            <input type="email" class="form-control fontBold" id="email" ng-model="bottle.email"data-parsley-trigger="change" required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
            <input type="text" id="ms-form-pass" class="form-control fontBold fontChange" masked="" data-inputmask="'mask': '(999) 999-9999'" name="mobile" ng-model="bottle.mobile" required data-parsley-trigger="change">
        </div>
       
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.ZIPCODE' | translate}}</label>
            <input type="number" class="form-control fontBold" id="zipcode" ng-model="bottle.bottleZipcode"  required>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.TOTAL_GUEST' | translate}}</label>
            <input type="text" class="form-control fontBold" id="totalGuest" ng-model="bottle.totalGuest" >
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.OCCASION' | translate}}</label>
            <select class="form-control fontBold {{blackTheme}}" eqruired
                ng-model="bottle.bottleOccasion" ng-options="t.name for t in eventTypes">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-12 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;">
            <label class="control-label" for="focusedInput1">{{'reservation.INSTRUCTIONS' | translate}}</label>
            <input type="text" class="form-control fontBold" id="instructions" ng-model="bottle.instructions" placeholder="">
        </div>
        <div class="col-md-4 form-group label-floating is-empty floatingLabel {{isFocused}}" style="margin-left: auto;" ng-hide ="!hostDate || hostDate.length == 0">
            <label class="control-label">{{'reservation.HOST' | translate}}</label>
            
            <select class="form-control fontBold {{blackTheme}}" ng-model="bottle.host" ng-options="x as x.name for x in hostDate  track by x.id">
            </select></div><img ng-hide ="!hostDate || hostDate.length == 0" class="hostImgs" alt="host-image" ng-src="{{getHostImage()}}"/>
        <div class="col-md-12 form-group is-empty" ng-show = "enabledPayment == 'Y' || enabledPayment == 'y'">
        <center><h2>{{"reservation.SELECT_BOTTLES"  | translate}}</h2></center>
        </div>
        <div class="col-md-12 form-group is-empty" ng-if="bottleMinimum != ''" ng-show = "enabledPayment == 'Y' || enabledPayment == 'y'">
        <h4 class="color-success">{{"reservation.SELECT_BOTTLE"  | translate}}</h4>
            <table class="table table-responsive table-no-border" >
                <thead>
                    <tr>
                        <th>{{"reservation.BOTTLE"  | translate}}</th>
                        <th>{{"reservation.BRAND"  | translate}}</th>
                        <th>{{"reservation.QUANTITY"  | translate}}</th>
                        <th>{{"reservation.PRICE"  | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bottle in bottleMinimum">
                        <td><label>{{bottle.bottle}}</label></td>
                        <td><label>{{bottle.brand}}</label></td>
                        <td><label>{{bottle.quantity}}</label></td>
                        <td>$<label>{{bottle.price}}</label></td>
                        <td><a class="btn btn-danger btn-sm btn-raised btn-responsive" ng-click="removeBottleMinimum($index,bottle,bottleMinimum)" >X</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show = "enabledPayment == 'Y' || enabledPayment == 'y'">
            <table class="table table-no-border">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.BOTTLE" | translate}}</div>
                                    <div>
                                        <select ng-change="getBrandByBottleName(chooseBottles.bottleName)" class="form-control col-xs-3 {{blackTheme}}" ng-options="x.name as x.name for x in allBottle" ng-model="chooseBottles.bottleName"></select>
                                    </div>
                             </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.BRAND" | translate}}</div>
                                    <div>
                                        <select class="form-control {{blackTheme}}" ng-options="x.brand as x.brand for x in brandData" ng-model="chooseBottles.brandName"></select>
                                    </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.PRICE" | translate}}</div>
                                    <div>
                                        <input type="text" placeholder="Price" class="form-control" ng-model="chooseBottles.price">
                                    </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div>{{"reservation.QUANTITY" | translate}}</div>
                                    <div>
                                        <table>
                                        <tr>
                                            <td><a class="btn btn-default btn-sm btn-responsive" ng-click="minusValue()"> <span class="glyphicon glyphicon-minus {{blackTheme}}" aria-hidden="true"></span>
                                            </a></td>
                                            <td>{{bottleCount}}</td>
                                            <td><a class="btn btn-default btn-sm btn-responsive" ng-click="addValue()" > <span class="glyphicon glyphicon-plus {{blackTheme}}" aria-hidden="true"></span>
                                            </a></td>
                                        </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </td>
                    <td><a class="btn btn-success btn-raised btn-lg btn-responsive" ng-click="selectedBottles()" ng-disabled="chooseBottles.bottleName == undefined || chooseBottles.bottleName == ''"><span>{{"reservation.ADD" | translate}}</span></a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <div>
                <label class="fontRegular table-font" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-model="bottle.authorize" required/>
                        {{"reservation.AUTHORIZE" | translate}} {{venueName}}.
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <label class="fontRegular table-font" ng-class="{'Check_box_label': blackTheme === ''}">
                    <input type="checkbox" ng-model="bottle.agree" required/>
                        {{"reservation.AGREE" | translate}} {{venueName}} {{"reservation.AGREE_1" | translate}}
                </label>
            </div>
        </div>
        <div class="col-md-12" ng-if="noTableSelected == true">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
                <strong><i class="zmdi zmdi-close-circle"></i> {{"reservation.ERROR_MESSAGE" | translate}}!</strong> {{"reservation.FLOOR_MAP_SELECTION" | translate}} 
            </div>
        </div>       
        <button class="btn btn-raised btn-success chk-button fontXLarge" type="submit" novalidate="novalidate" ng-disabled="((!bottle.agree) || (!bottle.authorize))">
          <h2 class="mt0 mb0">{{"reservation.CHECKOUT" | translate}}</h2>
          <div class="ripple-container"></div>
        </button>
    </fieldset>
</form> 
<br/>

<!-- <div class="col-md-12 req-border">
    <p class="fontRegular table-font"><font color="#4caf50">{{"reservation.MIN_REQ" | translate}}</font></p>
    <p class="fontRegular table-font">{{"reservation.MIN_REQ_DESC" | translate}}</p>
    <p class="fontRegular table-font"><font color="#4caf50">{{"reservation.DRESS_CODE" | translate}}</font></p>
    <p class="fontRegular table-font">{{"reservation.DRESS_CODE_DESC" | translate}}</p>
</div> <br/>  -->

<div class="col-md-12" ng-if="bottleMenuUrl">

    <center>
        <h1 class="fontRegular color-success">{{'reservation.POLICIES' | translate}}</h1>
    </center>
    <hr/>

    <center>
        <h3 class="color-success fontLight">{{'reservation.BOTTLE_MENU' | translate}}</h3>
        <a href="" class="btn btn-raised btn-success" ng-click="menuUrlSelection(bottleMenuUrl)">
                         {{'reservation.VIEW_BOTTLE' | translate}}<div class="ripple-container"></div></a>
    </center>
</div>

<div class="col-md-12" ng-if="bottleVIPPolicy">
    <center>
        <h3 class="color-success fontLight">{{'reservation.VIP_SERVICE_POLICY' | translate}}</h3>
        <p class="fontRegular">{{bottleVIPPolicy}}</p>
    </center>
</div>

<div class="col-md-12" ng-if="bottleMinimumRequirement">
    <center>
        <h3 class="color-success fontLight">{{"reservation.MIN_REQ" | translate}}</h3>
        <p class="fontRegular">{{bottleMinimumRequirement}}</p>
    </center>
</div>

<div class="col-md-12" ng-if="dressCode">
    <center>
        <h3 class="color-success fontLight">{{'reservation.DRESS_CODE' | translate}}</h3>
        <p class="fontRegular">{{dressCode}}</p>
    </center>
</div>


<div class="modal modal-success" id="reservedTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'bottleServiceTab.RESERVED' | translate}}</h3>
            </div>
            <div class="modal-body">
                <p>{{'bottleServiceTab.ALREADY_SELECTED' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeReservedModal()" data-backdrop="false">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success" id="moreTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">Table Selected</h3>
            </div>
            <div class="modal-body">
                <p>{{'reservation.TOTAL_GUEST_SELECTED' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeMoreTableModal()" data-backdrop="false">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success" id="tableSelectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog animated zoomIn animated-3x modalMarginTop" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 class="modal-title" id="myModalLabel6">{{'reservation.SELECT_TABLE' | translate}}</h3>
            </div>
            <div class="modal-body">
                <table class="table table-no-border">
                    <tr>
                        <td>
                            <span style="font-weight:bold">{{'reservation.TABLE_NAME' | translate}}</span>
                        </td>
                        <td>
                            <span style="font-weight:bold" ng-repeat="tableInfo in tableSelection">{{tableInfo.name}}{{$last? '' : ($index==tableSelection.length-2) ?'&nbsp;and&nbsp;' : ',&nbsp;'}}</span>
                        </td>
                    </tr>
                    <tr ng-hide="sum <=0">
                        <td>
                            <span style="font-weight:bold">{{'reservation.CAPACITY' | translate}}</span>
                        </td>
                        <td>
                            <span style="font-weight:bold">{{sum}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()" data-backdrop="false">{{'reservation.FOOD_DRINK_CLOSE' | translate}}</button> 
            </div>
        </div>
    </div>
</div>
</div>