<nav class="navbar navbar-static-top yamm ms-navbar <%= navbarClass %>" id="navBar">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img class = "ms-logo" src="<%= assets %>/img/logo-collapsed.png" alt="">
                <!-- span class="ms-logo ms-logo-sm">V</span> -->
                <span class="ms-title" ng-cloak><font color="black">{{"title.TITLE_VENUE" | translate}}</font><strong><font color="green">{{"title.TITLE_LYTICS" | translate}}</font></strong></span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="HomeController">
            <ul class="nav navbar-nav">
                <li class="dropdown {{$root.homeTab}}" ng-click="navBar(1)">
                    <a ng-href="/home" class="dropdown-toggle animated fadeIn animation-delay-4" data-toggle="dropdown" data-hover="dropdown" role="button" data-name="home" ng-cloak>{{"navbar.HOME" | translate}}<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="/about" class="dropdown-link">{{"footBar.ABOUT" | translate}}</a></li>
                        <li><a href="/contact" class="dropdown-link">{{"contact.CONTACT_US" | translate}}</a></li>
                    </ul>
                    
                </li>
                <li class="dropdown {{$root.businessTab}}" ng-click="navBar(2)" ng-show="showBusinessTab == 1">
                    <a ng-href="/searchBusiness" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio" ng-cloak>{{"navbar.BUSINESS" | translate}}<i class="zmdi zmdi-chevron-down"></i></a>
                    
                </li>
                <li class="dropdown {{$root.consumerTab}}" ng-click="navBar(3)">
                    <a href="/cities" class="dropdown-toggle animated fadeIn animation-delay-5" data-toggle="dropdown" data-hover="dropdown" data-name="cities" ng-cloak>{{"navbar.CONSUMERS" | translate}}<i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            
                        </li>
                    </ul>
                </li>
            </ul>
        </div> <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
    </div> <!-- container -->
</nav>
