<div class="container">
<form class="col-md-12 search-form" name="tableConfirmForm" validate-form="" parsley-validate novalidate ng-cloak>
        <fieldset>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-2">
                    <img src="{{venueImage}}" alt="venueImage" class="img-responsive mb-4">
                </div>
                <div class="col-md-2 mt-2">
                    <label>{{"venue.RESTAURANT" | translate}}</label>
                    <h3 class="mt0">{{selectedVenue}}</h3>
                </div>
                <div class="col-md-2  mt-2">
                    <label>{{"reservation.TABLE_GUEST" | translate}}</label>
                    <h3 class="mt0">{{tableGuests}} People</h3>
                </div>
                <div class="col-md-2  mt-2">
                    <label>{{"reservation.DATE" | translate}}</label>
                    <h3 class="mt0">{{selelctedDate | date : 'EEE, MMM d, y'}}</h3>
                </div>
                <div class="col-md-4  mt-2">
                    <label>{{"reservation.TABLE_TIME" | translate}}</label>
                    <h3 class="mt0">{{selectedTime}}</h3>
                </div>
            </div>
            <br><br>
            <h2>{{'reservation.TABLE_SERVICE_TIMEOUT' | translate}}</h2>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.FIRST_NAME' | translate}}</label>
                <input type="text" id="tableServiceFirstName" name="tableServiceFirstName" class="form-control fontBold" ng-model="tableService.firstName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.LAST_NAME' | translate}}</label>
                <input type="text" id="tableServiceLastName" name="tableServiceLastName" class="form-control fontBold" ng-model="tableService.lastName" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.MOBILE' | translate}}</label>
                <input type="text" id="ms-form-pass" class="form-control fontBold" masked="" data-inputmask="'mask': '(999) 999-9999'" name="tableServiceMobile" ng-model="tableService.mobileNumber" required="" data-parsley-trigger="change">
            </div>
            <div class="col-md-12 form-group label-floating is-empty floatingLabel" style="margin-left: auto;">
                <label class="control-label" for="focusedInput1">{{'reservation.EMAIL' | translate}}</label>
                <input type="email" id="tableServiceEmailId" name="tableServiceEmailId" data-parsley-type="email" class="form-control fontBold" ng-model="tableService.emailId" required="" data-parsley-trigger="change">
            </div>
            <!-- <div class="col-md-12 form-group is-empty">
                <p>{{'reservation.TABLE_CONFIRM_DESC' | translate}}</p>
            </div> -->
            <div class="col-md-12">
                <div>
                    <label class="fontRegular table-font fontColorForText">
                        <input type="checkbox" ng-model="table.agree" required/>
                        {{"reservation.TABLE_SERVICE_CONFIRMATION" | translate}} .<br>
                    </label><br>
                    {{"reservation.AGREE" | translate}} {{selectedVenue}} {{"reservation.AGREE_1" | translate}}
                </div>
            </div>
            <center>
                <button type="submit" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="!table.agree" ng-click="confirmReservation()">{{'reservation.TABLE_CONFIRM_RESERVATION' | translate}}</button>
            </center>
        </fieldset>
</form>
</div>