<h3>
	Mobile Analytics <small>Detailed digital insights of your consumers</small>
	<div class="col-sm-12" style="position: absolute; top: 46px; right: 0px;">
			<tab-buttons style="position: absolute; top: 0px; right: 0px;" selected-btn-style="tab-selected" selected-tab-style="btn_arrow" name="selectedFilter" tab-ids="['ALL','PROD','CATE', 'BRAND']" tab-labels="['All','Product','Category', 'Brand']" onselect="tabSelected"></tab-button>
	</div>
</h3>

<div  class="container-fluid">

	<!-- START DATATABLE 2 -->
	<div class="row">

		<panel-primary ng-repeat="customerinsight in customerInsightList track by $index" 
			customerinsight="customerinsight"></panel-primary>

		<!-- END DATATABLE 2 -->

	</div>
	
</div>