<h3>
   <div class="row">
      <div class="col-lg-11">
         Reservations - <small>Managers view of all reservations</small>
      </div>
      <div class="col-lg-1">
          <venue-dropdown callback="setVenue(venueName, venueId)"/>
      </div>
    </div>
</h3>
<!-- START row-->
<div class="calendar-app">
   <div class="row">
      <div class="col-lg-6 col-md-6">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-body">
               <!-- START calendar-->
               <div id="calendar"></div>
               <!-- END calendar-->
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
</div>