<div class="container nav_height card {{blackTheme}}">
  <div class="text-center"  ng-show="embeddedFlag === true">
      <h1 class="no-m ms-site-title center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{venueDetails.venueName}}</h1>
  </div>
  <center>
    <h2 class="color-success">{{'reservation.PARTY_EVENT_CONFIRM' | translate}}</h2>
    <div class="form-group">
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-md-offset-right-3">
          <table class="table table-responsive table-no-border">
              <tbody>
                  <tr>
                      <td><label><b> {{'bottleServiceTab.DATE' | translate}}</b></label> </td>
                      <td>{{partyPackageData.orderDate}}</td>
                  </tr>
                  <tr>
                      <td><label><b> {{'reservation.FIRST_NAME' | translate}}</b></label> </td>
                      <td>{{partyPackageData.userFirstName}}</td>
                  </tr>
                  <tr>
                      <td><label><b> {{'reservation.LAST_NAME' | translate}}</b></label> </td>
                      <td>{{partyPackageData.userLastName}}</td>
                  </tr>
                  <tr>
                      <td><label><b> {{'reservation.EMAIL' | translate}} </b></label></td>
                      <td>{{partyPackageData.email}}</td>
                  </tr>
                  <tr>
                      <td><label><b> {{'reservation.MOBILE' | translate}} </b></label></td>
                      <td>{{partyPackageData.mobile}}</td>
                  </tr>
                  <tr>
                      <td> <label><b>{{'reservation.TOTAL_GUEST' | translate}}</b></label> </td>
                      <td>{{partyPackageData.totalGuest}}</td>
                  </tr>
                  <tr>
                      <td><label><b> {{'reservation.INSTRUCTIONS' | translate}}</b></label> </td>
                      <td>{{partyPackageData.instructions}}</td>
                  </tr>
                  <tr>
                      <td> <label><b>{{"reservation.OCCASION"  | translate}}</b></label> </td>
                      <td>{{partyPackageData.partyEventType.name}}</td>
                  </tr>
                  <tr>
                      <td> <label><b>Selected Package</b></label> </td>
                      <td>{{partyOrderItem.name}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
    <center>
      <div ng-if="enabledPayment != 'Y'">
          <button type="submit" class="btn btn-raised btn-primary" ng-click="savePartyPackage()">{{"reservation.FOOD_CONFIRM_BUTTON"  | translate}}</button>
          <button type="button" class="btn btn-raised btn-danger" ng-click="editPartyPackage()">{{"reservation.EDIT_BUTTON"  | translate}}</button>
      </div>
      <div ng-if="enabledPayment == 'Y'">
          <button type="submit" class="btn btn-raised btn-primary" ng-click="paymentEnable()">{{"reservation.FOOD_CONFIRM_BUTTON"  | translate}}</button>
          <button type="button" class="btn btn-raised btn-danger" ng-click="editPartyPackage()">{{"reservation.EDIT_BUTTON"  | translate}}</button>
      </div>
    </center>
</div>