/* Date calendar start */
.date {
  display: block;
  width: 80px;
  height: 100px;
  background: #fff;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: relative;
}
.date .binds {
  position: absolute;
  height: 15px;
  width: 50px;
  background: transparent;
  border: 2px solid #999;
  border-width: 0 5px;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
}
.date .month {
  background: #911C1F;
  display: block;
  padding: 8px 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 -1px 0 0 #666666;
}
.date .day {
  display: block;
  margin: 0;
  color:black;
  padding: 0px 0px 15px 0px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
}
.date .weekday {
  display: block;
  margin: 0;
  position: relative;
  color:black;
  top: -20px;
  font-weight: bold;
}
.date .time {
  display: block;
  margin: 0;
  position: relative;
  color: black;
  top: -10px;
}
.date .day::after {
  content: '';
  display: block;
  height: 100%;
  width: 96%;
  position: absolute;
  top: 3px;
  left: 2%;
  z-index: -1;
  box-shadow: 0 0 3px #ccc;
}
.date .day::before {
  content: '';
  display: block;
  height: 100%;
  width: 90%;
  position: absolute;
  top: 6px;
  left: 5%;
  z-index: -1;
  box-shadow: 0 0 3px #ccc;
}

.dateMargin {
  margin-left: 20px;
}

.imgHolder h5 {
  position: absolute;
  right: 20px;
  top: 10px;
  color:white;
}

.featureMargin{
  margin-top: 100px;
}

/* Date End */
.eventListcal {
  border:1px solid black;
  margin-top:15px;
}
.eventListName {
  margin-top: -5px;
  color:black;
}
.eventListTime {
  margin-top: 0px; 
  margin-bottom: 0px;
}
.eventListPrice {
  color:black;
}
.eventlistImage {
  width: 100px; 
  height: 100px;
}
/*This is for imgae tiles row*/

.smartbanner {
  left:0;top:0;
  width:100%;
  height:78px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background:#fff;
  overflow:hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
}
.smartbanner-container {
  margin:0 auto;
}
.smartbanner-close {
  position:absolute;
  left:7px;top:7px;
  display:block;
  font-family:'ArialRoundedMTBold',Arial;
  font-size:15px;
  text-align:center;
  text-decoration:none;
  border-radius:14px;
  -webkit-font-smoothing:subpixel-antialiased;
  border:0;
  width:17px;
  height:17px;
  line-height:17px;
  color:#b1b1b3;
  background:#efefef;
}
.smartbanner-close:active,.smartbanner-close:hover {
  color:#333;
}
.smartbanner-title {
  font-size:15px;
  line-height:17px;
  color:#000;
  font-weight:bold;
}
.smartbanner-button{
  position:absolute;
  right:20px;
  top:24px;
  border-bottom:3px solid #b3c833;
  padding:0 10px;
  min-width:12%;
  height:24px;
  font-size:14px;
  line-height:24px;
  text-align:center;
  font-weight:bold;
  color:#fff;
  background-color:#b3c833;
  text-decoration:none;
  border-radius:5px;
}
.smartbanner-button:hover {
  background-color: #c1d739;
  border-bottom:3px solid #8c9c29;
}
.smartbanner-button-text {
  text-align:center;
  display:block;
  padding:0 5px;
}

.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.galleryLrg {
	display: inline-block;
	height: 50%;
	width: 100%;
}

.tableReserved {
  margin-left: 26px;
  margin-top: 16px;
}

.descriptionAlign {
  text-align: justify;
}

.fontRegular {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.floatingLabel {
  padding-left: 0px;
}

.fontBold {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.fontLight {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.privateEventBox {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.6rem;
  -webkit-font-smoothing: antialiased;
}

.fontXLarge {
  font-size: x-large;
}

select {
  -moz-appearance: none;
}

.ui-helper-center {
  text-align: center;
}

.fontColorForText {
  color: #181818;
}

.bottleSelect {
  background-color: #FAFAFA
}


.cardHeight {
  height:550px;
}

.thankYouHeight {
  height: 750px;
}

.thankYouAlign {
  margin-top: 160px;
}

.reservation-carousel {
  margin-left: 30px;
}

#venueImageName {
  margin-bottom: 15px;
}

.budgetPadding {
   padding-left: 15px;
}

#venueImageHours {
  margin-bottom: 15px;
}

.reservation-icon {
  width: 28px;
  height: 28px;
}

.reservation-tab {
  padding: 0px !important; margin-top:20px;
  border-right:2px solid #ffffff !important;
}
.tabLabel {
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 1.5em;
    display: block;
    white-space: pre-line;
    align-self: center;
    outline: rgba(0, 0, 0, 0.870588) none 0px;
    text-transform: uppercase;
    color: white;
}

.tabSelected {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
}

.req-border {
  border: 1px solid;
}

.reservation-button {
  height: 80px;
}

.tableReserved {
   margin-left: 26px;
   margin-top: 16px;
 }

 .modalMarginTop {
  margin-top:200px;
 }

 .descriptionAlign {
   text-align: justify;
 }

.table-map-info {
  text-align: center;
  margin-top: 0px;
}

.table-map-area {
  outline: red solid 2px;
}

.selected-table {
  margin-top: 0px;
}

.table-map-color {
  color: black;
}

.table-capacity {
  margin-left: 15px;
  color: black;
}

.table-carousel {
  width: 320px;
  height: auto;
}

.table-color {
  background-color: #FFFF00;
}

.table-font {
  font-size: 15px;
}

.image-block {
  border: 3px solid white;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
}

.borderLine {
  border: 1px solid #000
}

#footerMargin {
  margin-top: 0px;
  position: initial;
}

.pricingBorder {
  border: 1px solid #4CAF50;
  margin-bottom: 0px;
  margin-top: 0px;
}

.confirmationCenter {
  width: 486px;
}

.bottleHeadername {
  margin-right: 100px;
}

.bottleConfirmationTable {
  width: 452px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.image-block > p {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 19px;
  padding-top: 150px;
  background-color: rgba(3,3,3,0.0);
  color: rgba(6,6,6,0.0);
}

.image-block:hover > p {
  background-color: rgba(3,3,3,0.5);
  color: white;
}

.headerColor {
  color: green;
}

.cityImage {
  list-style-type: none;
  cursor: pointer;
  cursor: hand;
  display: block;
}

.claimCard {
  margin-top: 65px;
}

.error-message {
  color: red;
}

.venueTitle {
  margin-bottom: 0px;
}

.venueDescription {
  margin-top: 10px;
}

.turnkey {
  background-color: white;
}

.city {
  background-color: #fff;
}

.loadingCities {
  margin-top: 16px;
}

.discover {
  margin-top: 35px;
}
.city_card {
 box-shadow:none;
 box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
 border-radius:2px;
 background-color:#fff;
 margin-bottom:10px !important;
 margin-bottom:2rem !important;
}


.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
   cursor:not-allowed;
   filter:alpha(opacity=65);
   -webkit-box-shadow:none;
   box-shadow:none;
   opacity:.65
}
a.btn.disabled,fieldset[disabled] a.btn {
  pointer-events:none
}

@media screen and (min-width: 1990px) and (max-width:
5500px) {

  .textOnImg {
    position: absolute;
    right: 50px;
    top: 250px;
    color: white;
  }

 .downloadIcon{
   padding-top: 250px;
   margin-left: 137px;
 }

 .img-singleline {
   display: inline-block;
   float: left;
   padding: 0 10px;
   margin-bottom: 10px;
 }

 .img-singleline img {
   /*width: 90px !important;*/
   height: 40px !important;
 }

 .img-container {
   width: 500px;
   height: 55px;
 }

}

@media screen and (min-width: 1600px) and (max-width:
 1990px) {

  .venueInCity {
    height: 485px;
  }
  .smartbanner-icon{
    position:absolute;
    left:50px;
    top:10px;
    display:block;
    width:57px;
    height:57px;
    background-color: #fff;
    background-size:cover;
    background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
}
.smartbanner-info{
    position:absolute;
    left:120px;
    top:15px;
    width:44%;
    font-size:12px;
    line-height:1.2em;
    font-weight:bold;
    color:#999;
}

  #venueImage {
    height: 600px;
  }

  .downloadIcon{
    padding-top: 250px;
    margin-left: 137px;
  }

  .textOnImg {
    position: absolute;
    right: 50px;
    top: 250px; 
    color: white;
   }

  #removeBtn {
      margin-left: 200px;
  }

  .partyAlignment {
    width:1000px;
  }

  .img-singleline {
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .img-singleline img {
    /*width: 90px !important;*/
    height: 40px !important;
  }

  .img-container {
    width: 500px;
    height: 55px;
  }

  #forMobile {
    height: 690px;
  }
  .container {
    width: 1600px;
  }
}

@media screen and (min-width: 730px) and (max-width:
  1200px) {

    .smartbanner-icon{
      position:absolute;
      left:50px;
      top:10px;
      display:block;
      width:57px;
      height:57px;
      background-color: #fff;
      background-size:cover;
      background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
  }
  .smartbanner-info{
      position:absolute;
      left:120px;
      top:15px;
      width:44%;
      font-size:12px;
      line-height:1.2em;
      font-weight:bold;
      color:#999;
  }
  .smartbanner-icon{
      position:absolute;
      left:50px;
      top:10px;
      display:block;
      width:57px;
      height:57px;
      background-color: #fff;
      background-size:cover;
      background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
  }
  .smartbanner-info{
      position:absolute;
      left:120px;
      top:15px;
      width:44%;
      font-size:12px;
      line-height:1.2em;
      font-weight:bold;
      color:#999;
  }

    #venueImage {
      height: 600px;
    }
    .downloadIcon{
      padding-top: 20px;
    }

    .partyAlignment {
      width:1000px;
    }

    .textOnImg {
      position: absolute;
      right: 50px;
      top: 50px; 
      color: white;
     }

    .img-singleline-image {
      /*width: 90px !important;*/
      height: 40px !important;
    }

    #removeBtn {
      margin-left: 200px;
    }

    .img-container {
      width: 500px;
      height: 55px;
    }

    .img-singleline {
      display: inline-block;
      float: left;
      padding: 0 10px;
      margin-bottom: 10px;
    }

    .imgContainer {
      margin-left: 150px;
    }

    #forMobile {
     height: 690px;
    }

    .backColor {
      top: 0px;
    }
  }

/*Desktop*/
@media screen and (min-width: 1200px) and (max-width:
 1600px) {

  .smartbanner-icon{
    position:absolute;
    left:50px;
    top:10px;
    display:block;
    width:57px;
    height:57px;
    background-color: #fff;
    background-size:cover;
    background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
}
.smartbanner-info{
    position:absolute;
    left:120px;
    top:15px;
    width:44%;
    font-size:12px;
    line-height:1.2em;
    font-weight:bold;
    color:#999;
}
.smartbanner-icon{
    position:absolute;
    left:50px;
    top:10px;
    display:block;
    width:57px;
    height:57px;
    background-color: #fff;
    background-size:cover;
    background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
}
.smartbanner-info{
    position:absolute;
    left:120px;
    top:15px;
    width:44%;
    font-size:12px;
    line-height:1.2em;
    font-weight:bold;
    color:#999;
}

  #venueImage {
    height: 600px;
  }

  .imageHeight {
    height: 730px;
  }

  .textOnImg {
    position: absolute;
    right: 50px;
    top: 250px; 
    color: white;
   }

  .btnIcon {
    margin-top: 4px;
  }

  .cardAlignment{
    margin-right: 20px;
  }

  .carouselImage {
    width: 100%;
  }

  .partyAlignment {
    width:1000px;
  }

  #removeBtn {
      margin-left: 200px;
  }

  .wrapingSpace {
    margin-left: 15px;
  }

  .downloadIcon{
    padding-top: 25px;
  }

  .chk-button {
    border-radius: 10px;
    width: 630px;
  }

  #container {
    height: 690px;
  }

  #alignmentTime {
    margin-left: 25px;
  }

  #guestWomen {
    margin-left: 25px;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 16px;
  }

  .alignmentInWeb {
    margin-left: 27px;
  }

  .eventImage{
    height: 100px;
    width: 100px;
  }

  .showInMobile {
    display:none;
  }
  

  .citySearchLabel {
    margin-top: 15px;
  }

  .backColor {
    top: 0px;
  }

  .businessImage {
    height: 300px;
    width: 565px;
  }

  .sliderThumb {
    width: 40px;
    height: 22px;
  }

  .slider {
    height: 300px;
    width: 550px;
  }

  #forMobile {
    height: 690px;
  }

  #businessMessage {
    margin-left: 12px;
  }

  #businessTitle {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #businessMenu {
    margin-top: 0px;
  }

  #myFormClaim {
    margin-left: 0px;
  }

  #claimTitle {
    padding-left: 10px;
  }

  #venueBackground {
    height: 280px;
  }

  .venueCardBlock {
    padding-left: 0px;
  }

  #logoCollapsed {
    margin-top: 15px;
  }

  #distance {
    margin-left: 26px;
    padding-right: 0px;
    padding-left: 0px;
    width: 110px;
  }

  #footbarWidth {
    width: 370px;
  }

  .carousel-inner .item img {
    height: 586px;
  }

  .carouselImageWidth {
    width:1100px;
  }

  .contact {
    margin-top: 40px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  #clipboardButton {
    width: 13px;
    height: 14px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 20px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 20px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    margin-top: 10px;
  }

  #outer {
    width: 70%;
/* demo*/
    margin: auto;
/* demo*/
    display: flex;
    flex-wrap: wrap;
  }

  #outer>div {
    flex: 1;
  }

  #outer>div>img {
    width: 100%;
    min-width: 200px;
  }

  .img-container {
    width: 500px;
    height: 55px;
  }

  .img-singleline {
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .img-singleline-image {
    /*width: 90px !important;*/
    height: 40px !important;;
  }


  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .imgContainer {
    margin-left: 100px;
    margin-top: 160px;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 500px;
    margin-left: 320px;
  }
}
/*iPhone 5*/
@media only screen and (min-width: 320px) and (max-width:
 480px) {

  .smartbanner-icon{
    position:absolute;
    left:30px;
    top:10px;
    display:block;
    width:57px;
    height:57px;
    background-color: #fff;
    background-size:cover;
    background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
}
.smartbanner-info{
    position:absolute;
    left:90px;
    top:15px;
    width:44%;
    font-size:12px;
    line-height:1.2em;
    font-weight:bold;
    color:#999;
}

  #venueImage {
    height: 200px;
  }

  .textOnImg {
    position: absolute;left: 50px;color: white;
   }

  .chk-button {
    border-radius: 10px;
    width: 100%;
  }

  .buttonHeight {
    height: 100px
  }

  .alignUrl {
    margin-top: 40px;
  }

  .privateFormHeight {
    margin-top: 38px;
  }

   .eventImage{
    height: 100px;
    width: 100px;
  }

  .playVideo {
    z-index: 100;position: absolute;top: 150px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 270px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 55px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 0px;
  }

  .cityBox {
    margin-top: 75px;
  }

  .searchVenue {
    margin-top: 15px;
  }

  .venueListCard {
    margin-top: 40px;
  }

  .citySearchLabel {
    margin-left: 32px;
  }

  .businessImage {
    height: 200px;
    width: 340px;
  }

  .sliderThumb {
    width: 40px;
    height: 22px;
  }

  #articleCart{
    margin-top: 25px;
  }

  #forMobile {
    width: 100%;
    height: 100%;
  }

  #countryMain {
    margin-left: 0px;
    left: 50px;
  }

  .slider {
    width: 340px;
    height: 200px;
  }

  #venueBackground {
    height: 190px;
  }

  #businessMessage {
    margin-left: 21px;
  }

  .navigation {
    margin-left: 10px;
  }

  #logoCollapsed {
    margin-top: 10px;
  }

  #footbarWidth {
    width: 316px;
  }

  .carousel-inner .item img {
    height: 600px;
  }

  .contact {
    margin-top: 20px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  .businessSearchForm {
    padding-left: 15px;
    padding-right: 15px;
  }

  .imgContainer {
    width: 460px;
    height: 35px;
    margin-left: 50px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-top: 10px;
    width: 74px;
  }

  .img-singleline {
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .img-singleline-image {
    width: 90px !important;
    height: 28px !important;;
  }

  .img-container {
    width: 460px;
    height: 55px;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 300px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }

}

/*iPhone 6*/
@media only screen
    and (min-width : 375px)
    and (max-width : 667px) {

      .smartbanner-icon{
        position:absolute;
        left:30px;
        top:10px;
        display:block;
        width:57px;
        height:57px;
        background-color: #fff;
        background-size:cover;
        background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
    }
    .smartbanner-info{
        position:absolute;
        left:98px;
        top:15px;
        width:44%;  
        font-size:12px;
        line-height:1.2em;
        font-weight:bold;
        color:#999;
    }

  .chk-button {
    border-radius: 10px;
    width: 100%;
  }

  .textOnImg {
    position: absolute;left: 80px;color: white;
   }

  .privateFormHeight {
    margin-top: 38px;
  }

  .eventImage{
    height: 100px;
    width: 100px;
  }

  .alignUrl {
    margin-top: 40px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 320px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 35px;
  }

  .cityBox {
    margin-top: 75px;
  }

  .searchVenue {
    margin-top: 15px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 0px;
  }

  .venueListCard {
    margin-top: 40px;
  }

  .citySearchLabel {
    margin-left: 85px;
  }

  .img-singleline {
    float: left;
    margin-right: 5px;
  }

  .img-singleline-image {
    width: 90px !important;
    height: 28px !important;;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .imgContainer {
    margin-left: 95px;
    width: 460px;
    height: 35px;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 345px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }

}

/*For iPhone 6 plus*/
@media only screen
    and (min-width : 414px)
    and (max-width : 736px) {

    .smartbanner-icon{
        position:absolute;
        left:30px;
        top:10px;
        display:block;
        width:57px;
        height:57px;
        background-color: #fff;
        background-size:cover;
        background-image: url("http://is5.mzstatic.com/image/thumb/Purple127/v4/59/00/6e/59006e6e-c8c6-d557-4e43-58208377882e/source/175x175bb.jpg");
    }
    .smartbanner-info{
        position:absolute;
        left:98px;
        top:15px;
        width:44%;
        font-size:12px;
        line-height:1.2em;
        font-weight:bold;
        color:#999;
    }

  .chk-button {
    border-radius: 10px;
    width: 100%;
  }

  .textOnImg {
    position: absolute;left: 100px;color: white;
   }

  .privateFormHeight {
    margin-top: 38px;
  }

  .alignUrl {
    margin-top: 40px;
  }

  .eventImage{
    height: 100px;
    width: 100px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 356px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 55px;
  }

  .citySearchLabel {
    margin-left: 125px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 0px;
  }

  .businessImage {
    height: 200px;
    width: 375px;
  }

  .cityBox {
    margin-top: 75px;
  }

  .searchVenue {
    margin-top: 15px;
  }

  .venueListCard {
    margin-top: 40px;
  }

  #countryMain {
    margin-left: 0px;
    left: 50px;
  }

  .venueCardBlock {
    padding-left: 20px;
  }

  #venueBackground {
    height: 190px;
  }

  .navigation {
    margin-left: 10px;
  }

  #logoCollapsed {
    margin-top: 10px;
  }

  #footbarWidth {
    width: 365px;
  }

  .carousel-inner .item img {
    height: 600px;
  }

  .imageHeight {
    height: 300px;
  }

  .contact {
    margin-top: 20px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  .businessSearchForm {
    padding-left: 15px;
    padding-right: 15px;
  }

  .imgContainer {
    margin-left: 115px;
    width: 460px;
    height: 35px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-top: 10px;
    width: 74px;
  }

  .img-singleline {
    float: left;
    width: 90px;
    height: 28px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .img-singleline-image {
    width: 90px !important;
    height: 28px !important;
  }

  .img-container {
    width: 460px;
    height: 55px;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 380px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }
}

.check-box {
  text-align: left;
}

.sameRow {
  display: inline-block;
}

.guestBorder {
  border: 1px solid;
  border-radius: 13px;
  margin-left: 10px;
}

.venueBanner {
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.venueListCard {
  margin-bottom: 0px;
}

#businessDetails {
  width: 100px;
  height: 100px;
}


#venueImages {
  height: 243px;
}

#navBar {
  margin-bottom: 0px;
}

#cityName {
  text-shadow: 2px 0px #000000;
}

#countryMain {
  margin-left: 750px;
}

#countryLabel {
  width: 132px;
  margin-top: 6px;
}

#countrySelect {
  width: 200px;
  margin-top: 0px;
}

.serviceIcon {
  padding-left: 15px;
}

.serviceSmallIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: hand;
  margin-right: 10px;
}

#dropDownButton {
  color: white;
}

#formMargin {
  margin-top: 0px;
}

.buttonNav {
  bottom: -4px;
  display: block;
  height: 48px;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.buttonNav li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}

.buttonNav li.active {
  border: 5px solid #FFFFFF;
}

.buttonNav li img {
  width: 100%;
}

.city-image-block {
  border: solid white;
  border-left-width:  3px;
  border-top-width: 3px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
}

.city-image-block > p {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 19px;
  padding-top: 150px;
  background-color: rgba(3,3,3,0.0);
  color: white;
  text-shadow: 2px 0px #000000;
}

.city-image-block:hover > p {
  background-color: rgba(3,3,3,0.5);
  color: white;
}

.banner-fill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-fill-img img {
  vertical-align: middle;
  height: 500px;
  object-fit: cover;
  min-width: 100%;
}

.bootstrap-select>.btn:first-child {
  color: white !important;
}


/* Justify Border Title
-----------------------------------------------------------------*/

.fancy-title {
  position: relative;
  margin-bottom: 30px;
}

.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding-right: 15px;
  margin-bottom: 0;
}

.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  padding-right: 10px;
}

.fancy-title.title-double-border:before,
.fancy-title.title-border:before,
.fancy-title.title-border-color:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 3px double #E5E5E5;
  left: auto;
  top: 46%;
  right: 0;
}

.fancy-title.title-border:before {
  top: 49%;
  border-top: 1px solid #EEE;
}

.fancy-title.title-border-color:before {
  top: 49%;
  border-top: 1px solid #1ABC9C;
  opacity: 0.6;
}

/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
  margin-bottom: 50px;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

.emphasis-title h1,
.emphasis-title h2 {
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.heading-block h1 {
  font-size: 32px;
}

.heading-block h2 {
  font-size: 30px;
}

.heading-block h3 {
  font-size: 26px;
}

.heading-block h4 {
  font-size: 20px;
  font-weight: 700;
}

.heading-block > span:not(.before-heading) {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  color: #777;
}

.heading-block .before-heading {
  margin-bottom: 7px;
}

.heading-block.center > span,
.heading-block.title-center > span,
.center .heading-block > span {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.heading-block h1 + span {
  font-size: 24px;
}

.heading-block h2 + span {
  font-size: 22px;
}

.heading-block h3 + span,
.heading-block h4 + span {
  font-size: 20px;
}

.heading-block ~ p:not(.lead) {
  font-size: 15px;
}

.heading-block:after {
  content: '';
  display: block;
  margin-top: 30px;
  width: 40px;
  border-top: 2px solid #444;
}

.center .heading-block:after,
.heading-block.center:after,
.heading-block.title-center:after {
  margin: 30px auto 0;
}

.tright .heading-block,
.heading-block.tright,
.heading-block.title-right {
  direction: rtl;
}

.heading-block.noborder:after,
.heading-block.nobottomborder:after {
  display: none;
}

.heading-block.border-color:after {
  border-color: #1ABC9C;
}

/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/

.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6 {
  display: block;
  background: transparent;
  padding: 0 0 10px;
  border-bottom: 2px solid #1ABC9C;
}

.post-container {
  margin: 20px 20px 0 0;
}

.post-thumb {
  float: left;
}

.post-thumb img {
  display: block;
}

.post-content {
  margin-left: 110px;
}

.post-title {
  font-weight: bold;
  font-size: 100%;
    margin-top: 5px;
}

.custom-carousel {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 250px;
/* padding-bottom:20px; */
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  transition: all ease 0.5s;
}

.reservationCarousel {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
/* padding-bottom:20px; */
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  transition: all ease 0.5s;
}

.progressBar {
  width: 100%;
}

.deployPost {
  width: 100px;
  height: 100px;
}

.underLine {
  margin-top: 0px;
}

.businessSearchAddress {
  color: black;
}

.venueCard {
  width: 100%;
}

.features {
  height: 330px;
}

.owlCarousel {
  width: 140px;
  margin-right: 60px;
}

.serviceTabIcons {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
/* form validatin parsley
------------------------*/
.parsley-error {
  border-color: #f05050 !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #f05050;
}

.ms-hero-turnkey {
  background-image: url("../img/turn_key.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 128px;
  
}

.ms-hero-text {
  padding-top: 47px;
  color: white;
}

.text-description {
  margin-top: 20px;
}

.fontSize4 {
  font-size: 4;
}

.locationIcon {
  margin-right: 5px;
}

.searchCityText {
    color: white;
}

.side-bar-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 5px 0;
    text-align: center;
}

.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}


fc {
  direction: ltr;
  text-align: left;
  }
  
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  
html .fc,
.fc table {
  font-size: 1em;
  }
  
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
  }



/* Header
------------------------------------------------------------------------*/

.fc-header td {
  white-space: nowrap;
  }

.fc-header-left {
  width: 25%;
  text-align: left;
  }
  
.fc-header-center {
  text-align: center;
  }
  
.fc-header-right {
  width: 25%;
  text-align: right;
  }
  
.fc-header-title {
  display: inline-block;
  vertical-align: top;
  }
  
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  }
  
.fc .fc-header-space {
  padding-left: 10px;
  }
  
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  }
  
/* buttons edges butting together */

.fc-header .fc-button {
  margin-right: -1px;
  }
  
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
  margin-right: 0; /* back to normal */
  }
  
/* button layering (for border precedence) */
  
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
  }
  
.fc-header .fc-state-down {
  z-index: 3;
  }

.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
  }
  
  
  
/* Content
------------------------------------------------------------------------*/
  
.fc-content {
  position: relative;
  z-index: 1; /* scopes all other z-index's to be inside this container */
  clear: both;
  zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
  }
  
.fc-view {
  position: relative;
  width: 100%;
  overflow: hidden;
  }
  
  

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
  border: 1px solid #ddd;
  }
  
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
  background: #fcf8e3;
  }
  
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30); /* for IE */
  }
  


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
  }
  
.fc-state-default { /* non-theme */
  border: 1px solid;
  }

.fc-state-default.fc-corner-left { /* non-theme */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }

.fc-state-default.fc-corner-right { /* non-theme */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  }

/*
  Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
  and we'll try to make them look good cross-browser.
*/

.fc-button .fc-icon {
  vertical-align: baseline; /* for IE7 */
  }

.fc-icon-left-single-arrow:after {
  content: "\02039";
  font-weight: bold;
  }

.fc-icon-right-single-arrow:after {
  content: "\0203A";
  font-weight: bold;
  }

.fc-icon-left-double-arrow:after {
  content: "\000AB";
  }

.fc-icon-right-double-arrow:after {
  content: "\000BB";
  }
  
/* icon (for jquery ui) */

.fc-button .ui-icon {
  position: relative;
  top: 50%;
  float: left;
  margin-top: -8px; /* we know jqui icons are always 16px tall */
  }
  
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
  }

.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
  }

.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
  }

  

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
  z-index: 8;
  }

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
  }
   
.fc-event {
  border: 1px solid #3a87ad; /* default BORDER color */
  background-color: #3a87ad; /* default BACKGROUND color */
  color: #fff;               /* default TEXT color */
  font-size: .85em;
  cursor: default;
  }

a.fc-event {
  text-decoration: none;
  }
  
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
  }
  
.fc-rtl .fc-event {
  text-align: right;
  }

.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  }
  
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden; /* hacky spaces (IE6/7) */
  font-size: 300%;  /* */
  line-height: 50%; /* */
  }
  
  
  
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
  }

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  }

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  }
  
/* resizable */
  
.fc-event-hori .ui-resizable-e {
  top: 0           !important; /* importants override pre jquery ui 1.7 styles */
  right: -3px      !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
  }
  
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px       !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
  }
  
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px; /* IE6 had 0 height */
  }
  
  
  
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
  border-collapse: separate;
  }
  
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
  }
  
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
  }
  
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
  }
  
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
  }
  
  

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
  text-align: center;
  }

.fc .fc-week-number {
  width: 22px;
  text-align: center;
  }

.fc .fc-week-number div {
  padding: 0 2px;
  }
  
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
  }
  
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30); /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
  }
  
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px; /* distance between events and day edges */
  }
  
/* event styles */
  
.fc-grid .fc-event-time {
  font-weight: bold;
  }
  
/* right-to-left */
  
.fc-rtl .fc-grid .fc-day-number {
  float: left;
  }
  
.fc-rtl .fc-grid .fc-event-time {
  float: right;
  }
  
  

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
  border-collapse: separate;
  }
  
.fc-agenda-days th {
  text-align: center;
  }
  
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  font-weight: normal;
  }

.fc-agenda-slots .fc-agenda-axis {
  white-space: nowrap;
  }

.fc-agenda .fc-week-number {
  font-weight: bold;
  }
  
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
  }
  
/* make axis border take precedence */
  
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
  }
  
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
  }
  
/* all-day area */
  
.fc-agenda-allday th {
  border-width: 0 1px;
  }
  
.fc-agenda-allday .fc-day-content {
  min-height: 34px; /* TODO: doesnt work well in quirksmode */
  _height: 34px;
  }
  
/* divider (between all-day and slots) */
  
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
  }
  
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
  }
  
/* slot rows */
  
.fc-agenda-slots th {
  border-width: 1px 1px 0;
  }
  
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
  }
  
.fc-agenda-slots td div {
  height: 20px;
  }
  
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
  }

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
  }
  
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid; /* doesn't work with background in IE6/7 */
  }
  


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
  border-width: 0 1px;
  }

.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  }

.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  }
  
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
  }

.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
  }
  
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
  }
  
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
  display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
  }
  
/* resizable */
  
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  }
  
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
  _overflow: hidden;
  }
  