/*This is for imgae tiles row*/
.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:200px;
    text-align: center;
    vertical-align: bottom;
}
.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: rgba(6,6,6,0.0);
}
.image-block:hover > p {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
}

#cityImage {
  list-style-type: none;
  cursor: pointer; 
  cursor: hand;
}

#claimCard {
  margin-top: 65px;
}

.error-message {
  color:red;
}

@media screen and (min-device-width: 1200px) and (max-device-width:
 1600px) {
  #businessImage {
    height: 300px;
    width: 565px;
  }
  #sliderThumb{
    width:40px;
    height:22px;
  }
  .slider {
    height: 300px;
    width: 550px;
  }
  #forMobile {
    height: 690px;
  }
  #businessMessage{
    margin-left: 12px;
  }
  #businessTitle {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #businessMenu {
    margin-top: 0px;
  }
  #myFormClaim{
    margin-left: 150px;
  }
  #claimTitle {
    padding-left: 10px;
  }
  #venueBackground {
    height: 280px;
  }
  #venueCardBlock {
  padding-left: 0px;
  }
  #logoCollapsed {
    margin-top: 15px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width:
 480px) {
  #businessImage {
    height: 200px;
    width: 365px;
  }
  #sliderThumb{
    width:40px;
    height:22px;
  }
  #forMobile {
    width: 100%;
    height: 100%;
  }
  #countryMain {
    margin-left: 0px;
    left: 50px;
  }
  .slider {
    width: 350px;
    height: 200px;
  }
  #venueBackground {
    height: 190px;
  }
  #navigation {
    margin-left: 10px;
  }
  #logoCollapsed {
    margin-top: 10px;
  }
}

/*For iPhone 6 plus*/
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ 

  #countryMain {
    margin-left: 0px;
    left: 50px;
  }

  #venueCardBlock {
    padding-left: 20px;
  }

  #venueBackground {
    height: 190px;
  }

  #navigation {
    margin-left: 10px;
  }

  #logoCollapsed {
    margin-top: 10px;
  }
}

#venueBanner {
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#venueListCard {
  margin-bottom: 0px;
}

#businessDetails {
  width:100px;
  height:100px;
}

#countryDropdown {
  margin-left: 75%;
  color: black;
}

#venueImages {
  height: 243px;
}

#navBar {
  margin-bottom: 0px;
}

#venueTabs {
  margin-top: 40px;
}

#cityName {
  text-shadow: 2px 0px #000000;
}

#countryMain {
  margin-left: 750px;
}

#countryLabel {
  width: 132px; 
  margin-top: 6px;
}

#countrySelect {
  width: 200px; 
  margin-top: 0px;
}

#serviceIcon {
  padding-left: 15px;
}

.buttonNav {
  bottom: -4px;
  display: block;
  height: 48px;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.buttonNav li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}

.buttonNav li.active {
  border: 5px solid #FFFFFF;
}

.buttonNav li img {
  width: 100%;
}

.city-image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:200px;
    text-align: center;
    vertical-align: bottom;
}
.city-image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: white;
    text-shadow: 2px 0px #000000;
}
.city-image-block:hover > p {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
}
.banner-fill-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.banner-fill-img img {
    vertical-align: middle;
    height: 500px;
    object-fit: cover;
    min-width: 100%
}
.bootstrap-select>.btn:first-child{
  color: white !important;
}