/*This is for imgae tiles row*/
.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.fontRegular {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.fontBold {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.fontLight {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.fontXLarge {
  font-size: x-large;
}

select {
  -moz-appearance: none;
}

.fontColorForText {
  color: #181818;
}

.cardHeight {
  height:550px;
}

.reservation-carousel {
  margin-left: 30px;
}

#venueImageName {
  margin-bottom: 15px;
}

#venueImageHours {
  margin-bottom: 15px;
}

.reservation-icon {
  width: 28px; 
  height: 28px;
}

.reservation-tab {
  border: 1px solid #fff;
}

.req-border {
  border: 1px solid;
}

.reservation-button {
  white-space: normal; 
  height: 80px;
}

#bottle {
  white-space: normal;
}

#private {
  white-space: normal;
}

#glist {
  white-space: normal;
}

.table-map-info {
  text-align: center; 
  margin-top: 0px;
}

.table-map-area {
  outline: red solid 2px;
}

.selected-table {
  margin-top: 0px;
}

.table-map-color {
  color: #fff;
}

.table-capacity {
  margin-left: 15px; 
  color: #fff;
}

.table-carousel {
  width: auto;
}

.table-color {
  background-color: #FFFF00;
}

.table-font {
  font-size: 15px;
}

.image-block {
  border: 3px solid white;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
}

.borderLine {
  border: 1px solid #000
}

#footerMargin {
  margin-top: 0px;
  position: initial;
}

.pricingBorder {
  border: 1px solid #4CAF50;
  margin-bottom: 0px;
  margin-top: 0px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.image-block > p {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 19px;
  padding-top: 150px;
  background-color: rgba(3,3,3,0.0);
  color: rgba(6,6,6,0.0);
}

.image-block:hover > p {
  background-color: rgba(3,3,3,0.5);
  color: white;
}

.cityImage {
  list-style-type: none;
  cursor: pointer;
  cursor: hand;
}

.claimCard {
  margin-top: 65px;
}

.error-message {
  color: red;
}

.venueTitle {
  margin-bottom: 0px;
}

.venueDescription {
  margin-top: 10px;
}

.turnkey {
  background-color: white;
}

.city {
  background-color: #fff;
  color: #000;
}

.loadingCities {
  margin-top: 16px;
}

.discover {
  margin-top: 35px;
}
.city_card {
 box-shadow:none;
 box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
 border-radius:2px;
 background-color:#fff;
 margin-bottom:10px !important;
 margin-bottom:2rem !importnt;
}
/*Desktop*/
@media screen and (min-device-width: 1200px) and (max-device-width:
 1600px) {

  .imageHeight {
    height: 730px;
  }

  .carouselImage {
    width: 100%;
  }

  .wrapingSpace {
    margin-left: 15px;
  }

  .chk-button {
    border-radius: 10px; 
    width: 630px;
  }

  #alignmentTime {
    margin-left: 25px;
  }

  #guestWomen {
    margin-left: 25px;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 16px;
  }

  .alignmentInWeb {
    margin-left: 27px;
  }
  
  .eventImage{
    height: 100px;
    width: 100px;
  }

  .showInMobile {
    display:none;
  }


  .citySearchLabel {
    margin-top: 15px;
  }

  .backColor {
    top: 240px;
  }

  .businessImage {
    height: 300px;
    width: 565px;
  }

  .sliderThumb {
    width: 40px;
    height: 22px;
  }

  .slider {
    height: 300px;
    width: 550px;
  }

  #forMobile {
    height: 690px;
  }

  #businessMessage {
    margin-left: 12px;
  }

  #businessTitle {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #businessMenu {
    margin-top: 0px;
  }

  #myFormClaim {
    margin-left: 0px;
  }

  #claimTitle {
    padding-left: 10px;
  }

  #venueBackground {
    height: 280px;
  }

  .venueCardBlock {
    padding-left: 0px;
  }

  #logoCollapsed {
    margin-top: 15px;
  }

  #distance {
    margin-left: 26px;
    padding-right: 0px;
    padding-left: 0px;
    width: 110px;
  }

  #footbarWidth {
    width: 370px;
  }

  .carousel-inner .item img {
    height: 586px;
  }

  .carouselImageWidth {
    width:1100px;
  }

  .contact {
    margin-top: 40px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  #clipboardButton {
    width: 13px;
    height: 14px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 20px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 20px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    margin-top: 10px;
  }

  #outer {
    width: 70%;
/* demo*/
    margin: auto;
/* demo*/
    display: flex;
    flex-wrap: wrap;
  }

  #outer>div {
    flex: 1;
  }

  #outer>div>img {
    width: 100%;
    min-width: 200px;
/* demo*/;
  }

  .img-container {
    width: 500px;
    height: 55px;
  }

  .img-singleline {
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .img-singleline img {
    height: 28px !important;;
  }
  

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .imgContainer {
    margin-left: 250px;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 500px;
    margin-left: 320px;
  }
}
/*iPhone 5*/
@media only screen and (min-device-width: 320px) and (max-device-width:
 480px) {

  .chk-button {
    border-radius: 10px; 
    width: 100%;
  }

  .privateFormHeight {
    margin-top: 38px;
  }
  
   .eventImage{
    height: 100px;
    width: 100px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 270px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 55px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 220px;
  }

  .cityBox {
    margin-top: 30px;
  }

  .venueListCard {
    margin-top: 40px;
  }

  .citySearchLabel {
    margin-left: 32px;
  }

  .businessImage {
    height: 200px;
    width: 340px;
  }

  .sliderThumb {
    width: 40px;
    height: 22px;
  }

  #articleCart{
    margin-top: 25px;
  }

  #forMobile {
    width: 100%;
    height: 100%;
  }

  #countryMain {
    margin-left: 0px;
    left: 50px;
  }

  .slider {
    width: 340px;
    height: 200px;
  }

  #venueBackground {
    height: 190px;
  }

  #businessMessage {
    margin-left: 21px;
  }

  .navigation {
    margin-left: 10px;
  }

  #logoCollapsed {
    margin-top: 10px;
  }

  #footbarWidth {
    width: 316px;
  }

  .carousel-inner .item img {
    height: 600px;
  }

  .contact {
    margin-top: 20px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  .businessSearchForm {
    padding-left: 15px;
    padding-right: 15px;
  }

  .imgContainer {
    width: 460px;
    height: 35px;
    margin-left: 75px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-top: 10px;
    width: 74px;
  }

  .img-singleline {
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .img-singleline img {
    height: 28px !important;;
  }

  .img-container {
    width: 460px;
    height: 55px;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 300px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }

}

/*iPhone 6*/
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {

  .chk-button {
    border-radius: 10px; 
    width: 100%;
  }
  
  .privateFormHeight {
    margin-top: 38px;
  }

  .eventImage{
    height: 100px;
    width: 100px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 320px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 35px;
  }
  
  .cityBox {
    margin-top: 30px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 220px;
  }

  .venueListCard {
    margin-top: 40px;
  }

  .citySearchLabel {
    margin-left: 85px;
  }

  .img-singleline {
    float: left;
    margin-right: 5px;
  }

  .img-singleline img {
    height: 28px !important;;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .imgContainer {
    margin-left: 95px;
    width: 460px;
    height: 35px;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 345px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }

}

/*For iPhone 6 plus*/
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) {

  .chk-button {
    border-radius: 10px; 
    width: 100%;
  }

  .privateFormHeight {
    margin-top: 38px;
  }
  
  .eventImage{
    height: 100px;
    width: 100px;
  }

  #alignmentTime {
    margin-left: 13px;
  }

  #guestWomen {
    margin-left: 13px;
  }

  .eventImageWidth {
    width: 100px;
    height: 100px;
  }

  .showInWeb {
    display:none;
  }

  .input-icon{
    position: absolute;
    left: 356px;
    top: calc(50% - 1.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .venueSearch {
    margin-top: 10px;
    margin-left: 55px;
  }

  .citySearchLabel {
    margin-left: 125px;
  }

  .carouselImage {
    height: 600px;
    width: 100%;
  }

  .backColor {
    top: 220px;
  }
 
  .businessImage {
    height: 200px;
    width: 375px;
  }
  
  .cityBox {
    margin-top: 30px;
  }

  .venueListCard {
    margin-top: 40px;
  }
  
  #countryMain {
    margin-left: 0px;
    left: 50px;
  }

  .venueCardBlock {
    padding-left: 20px;
  }

  #venueBackground {
    height: 190px;
  }

  .navigation {
    margin-left: 10px;
  }

  #logoCollapsed {
    margin-top: 10px;
  }

  #footbarWidth {
    width: 365px;
  }

  .carousel-inner .item img {
    height: 600px;
  }

  .imageHeight {
    height: 300px;
  }

  .contact {
    margin-top: 20px;
  }

  #venueReservationFrame {
    height: 1000px;
    display: none;
  }

  .businessSearchForm {
    padding-left: 15px;
    padding-right: 15px;
  }

  .imgContainer {
    margin-left: 115px;
    width: 460px;
    height: 35px;
  }

  #deployStepsInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsInput1 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    vertical-align: middle;
    margin-left: 2px;
    width: 76px;
  }

  #deployStepsLabel {
    display: inline-block;
    *display: inline;
     /* for IE7*/
    zoom: 1;
              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-top: 10px;
    width: 74px;
  }

  .img-singleline {
    float: left;
    width: 90px;
    height: 28px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .img-singleline img {
    height: 28px !important;
  }
  
  .img-container {
    width: 460px;
    height: 55px;
  }

  .sendEmailButton {
    width: 200px !important;
    margin-left: 10px !important;
  }

  .paragraph-bottom {
    margin-bottom: 0px;
  }

  .get-started {
    width: 380px;
    margin-left: 0px;
  }

  .imageHeight {
    height: 300px;
  }
}

.check-box {
  text-align: left;
}

.sameRow {
  display: inline-block;
}

.guestBorder {
  border: 1px solid;
  border-radius: 13px;
  margin-left: 10px;
}

.venueBanner {
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.venueListCard {
  margin-bottom: 0px;
}

#businessDetails {
  width: 100px;
  height: 100px;
}


#venueImages {
  height: 243px;
}

#navBar {
  margin-bottom: 0px;
}

#cityName {
  text-shadow: 2px 0px #000000;
}

#countryMain {
  margin-left: 750px;
}

#countryLabel {
  width: 132px;
  margin-top: 6px;
}

#countrySelect {
  width: 200px;
  margin-top: 0px;
}

.serviceIcon {
  padding-left: 15px;
}

.serviceSmallIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: hand;
  margin-right: 10px;
}

#dropDownButton {
  color: white;
}

#formMargin {
  margin-top: 0px;
}

.buttonNav {
  bottom: -4px;
  display: block;
  height: 48px;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.buttonNav li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}

.buttonNav li.active {
  border: 5px solid #FFFFFF;
}

.buttonNav li img {
  width: 100%;
}

.city-image-block {
  border: solid white;
  border-left-width: : 3px;
  border-top-width: 3px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
}

.city-image-block > p {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 19px;
  padding-top: 150px;
  background-color: rgba(3,3,3,0.0);
  color: white;
  text-shadow: 2px 0px #000000;
}

.city-image-block:hover > p {
  background-color: rgba(3,3,3,0.5);
  color: white;
}

.banner-fill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-fill-img img {
  vertical-align: middle;
  height: 500px;
  object-fit: cover;
  min-width: 100%;
}

.bootstrap-select>.btn:first-child {
  color: white !important;
}


/* Justify Border Title
-----------------------------------------------------------------*/

.fancy-title {
  position: relative;
  margin-bottom: 30px;
}

.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding-right: 15px;
  margin-bottom: 0;
}

.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  padding-right: 10px;
}

.fancy-title.title-double-border:before,
.fancy-title.title-border:before,
.fancy-title.title-border-color:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 3px double #E5E5E5;
  left: auto;
  top: 46%;
  right: 0;
}

.fancy-title.title-border:before {
  top: 49%;
  border-top: 1px solid #EEE;
}

.fancy-title.title-border-color:before {
  top: 49%;
  border-top: 1px solid #1ABC9C;
  opacity: 0.6;
}

/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
  margin-bottom: 50px;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

.emphasis-title h1,
.emphasis-title h2 {
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.heading-block h1 {
  font-size: 32px;
}

.heading-block h2 {
  font-size: 30px;
}

.heading-block h3 {
  font-size: 26px;
}

.heading-block h4 {
  font-size: 20px;
  font-weight: 700;
}

.heading-block > span:not(.before-heading) {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  color: #777;
}

.heading-block .before-heading {
  margin-bottom: 7px;
}

.heading-block.center > span,
.heading-block.title-center > span,
.center .heading-block > span {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.heading-block h1 + span {
  font-size: 24px;
}

.heading-block h2 + span {
  font-size: 22px;
}

.heading-block h3 + span,
.heading-block h4 + span {
  font-size: 20px;
}

.heading-block ~ p:not(.lead) {
  font-size: 15px;
}

.heading-block:after {
  content: '';
  display: block;
  margin-top: 30px;
  width: 40px;
  border-top: 2px solid #444;
}

.center .heading-block:after,
.heading-block.center:after,
.heading-block.title-center:after {
  margin: 30px auto 0;
}

.tright .heading-block,
.heading-block.tright,
.heading-block.title-right {
  direction: rtl;
}

.heading-block.noborder:after,
.heading-block.nobottomborder:after {
  display: none;
}

.heading-block.border-color:after {
  border-color: #1ABC9C;
}

/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/

.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6 {
  display: block;
  background: transparent;
  padding: 0 0 10px;
  border-bottom: 2px solid #1ABC9C;
}

.post-container {
  margin: 20px 20px 0 0;
}

.post-thumb {
  float: left;
}

.post-thumb img {
  display: block;
}

.post-content {
  margin-left: 110px;
}

.post-title {
  font-weight: bold;
  font-size: 100%,
    margin-top: 5px;
}

.custom-carousel {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
/* padding-bottom:20px; */
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  transition: all ease 0.5s;
}

.reservationCarousel {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
/* padding-bottom:20px; */
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  transition: all ease 0.5s;
}

.progressBar {
  width: 100%;
}

.deployPost {
  width: 100px;
  height: 100px;
}

.underLine {
  margin-top: 0px;
}

.businessSearchAddress {
  color: black;
}

.venueCard {
  width: 100%;
}

.features {
  height: 330px;
}

.owlCarousel {
  width: 140px;
  margin-right: 60px;
}

.serviceTabIcons {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
/* form validatin parsley
------------------------*/
.parsley-error {
  border-color: #f05050 !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #f05050;
}

.ms-hero-turnkey {
  background-image: url("../img/turn_key.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 128px;
  //min-height: 400px;
}

.ms-hero-text {
  padding-top: 47px;
  color: white;
}

.text-description {
  margin-top: 20px;
}

.fontSize4 {
  font-size: 4;
}

.locationIcon {
  margin-right: 5px;
}

.searchCityText {
    color: white;
}

.side-bar-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 9px; 
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 5px 0;
    text-align: center;
}
