<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Private Events</h1>
                    <p class="lato">Offer Private Events to Patrons looking to host an event</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/privateEvent.png" alt="breakThroughPrivate" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12  mb-4">
                        <div class="col-md-3 col-sm-12 col-xs-12 mt-4 pull-right">
                            <center>
                            <img src="<%= assets %>/img/BreakThrough/RealTime/Omni-channel-1a.png" alt="Omni Channel"
                            class="img-responsive">
                            </center>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12 text-right">
                            <h3 class="col-xs-center mb0">Create &amp; Publish</h3>
                            <p class="lato col-xs-center">Party Packages for Groups on ItzFun, Website, Social Media</p>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 mt-4 pull-right">
                            <center>
                            <img src="<%= assets %>/img/BreakThrough/RealTime/Promo-adv-1a.png" alt="Promo Adv"
                            class="img-responsive">
                            </center>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12 text-right">
                            <h3 class="mb0 col-xs-center">Promote and Advertise</h3>
                            <p class="lato col-xs-center">Packages through all Available Channels</p>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <img src="<%= assets %>/img/BreakThrough/RealTime/RealTimeReservation.png" alt="RealTimeReservation"
                            class="img-responsive center_content mb-4">
                    </div>
            
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="no-ml col-md-3 col-sm-12 col-xs-12 mt-6">
                            <center>
                            <img src="<%= assets %>/img/BreakThrough/RealTime/massaging-1a.png" alt="massaging-1a"
                            class="img-responsive">
                            </center>
                        </div>
                        <div class="no-ml col-md-9 col-sm-12 col-xs-12 ">
                            <h3 class="col-xs-center mb0">Messaging and Notification</h3>
                            <p class="lato col-xs-center">Real-Time interaction with customers when Purchasing a Party Package</p>
                            
                        </div>
                         <div class="no-ml col-md-3  col-sm-12 col-xs-12 mt-4">
                            <center>
                                <img src="<%= assets %>/img/BreakThrough/RealTime/360-view-1a.png" alt="360-view-1a"
                            class="img-responsive">
                            </center>
                        </div>
                        <div class="no-ml col-md-9  col-sm-12 col-xs-12">
                            <h3 class="mb0 col-xs-center">360&deg; View of Venue</h3>
                            <p class="lato col-xs-center">Customers can view the Venue before booking</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
