<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Campaign &amp; Loyalty Management</h1>
                    <p class="lato">From creating and promoting Deals to campaigns and events, VenueLytics covers all and provides tool for a business to promote through ItzFun, Website, and Social Media</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/Deals.png" alt="breakThroughLoyalty" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h2>Create deals</h2>
                        <p class="lato mb0">For your customers and Promote</p>
                        <p class="lato mb0">them through all channels</p>
                        <img class="reservationDealImage reservation1A" src="<%= assets %>/img/BreakThrough/Deals/deal-1a.png" alt="deal-1a"
                            class="img-responsive mb-4">
                        <h2 class="dealsTop">Setup Special events</h2>
                        <p class="lato mb0">Like DJ nights, theme nights,</p>
                        <p class="lato mb0">promote event & sell tickets</p>
                        <p class="lato mb0">through VenueLytics Platform</p>
                        <img class="reservationDealImage dealSetupImage" src="<%= assets %>/img/BreakThrough/Deals/DealSetup.png" alt="DealSetup"
                            class="img-responsive mb-4">
                        <h2 class="dealsTop">Monitor and manage</h2>
                        <p class="lato mb0">Any campaign/deal in</p>
                        <p class="lato mb0">real-time to measure success</p>
                        <img class="reservationDealImage dealSetupImage" src="<%= assets %>/img/BreakThrough/Deals/dealMonitor.png" alt="dealMonitor"
                            class="img-responsive mb-4">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img class="mobileImage" src="<%= assets %>/img/BreakThrough/Deals/deals_events.png" alt="deals_events"
                            class="img-responsive mb-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
