<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Guest List</h1>
                    <p class="lato">Productivity Tools and Services</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/guestList.png" alt="breakThroughGuest" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 center_content col-sm-12 col-xs-12 mt-4">
                         <div class="row col-xs-12">
                             <div class="col-md-4 col-sm-12 col-xs-12 pull-right mt-2">
                                <center>
                                    <img src="<%= assets %>/img/BreakThrough/guestList/Guest-list-1a.png" alt="Guest List"
                            class="img-responsive">
                                </center>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12 text-right">
                                <h3 class="mb0 col-xs-center">Guest List</h3>
                                <p class="lato col-xs-center">For Patrons who Want to be put on the VIP Guest List</p>
                            </div>
                       </div>
                        <div class="row col-xs-12">
                           <div class="col-md-4 col-sm-12 col-xs-12 mt-4 pull-right">
                                <center>
                                    <img src="<%= assets %>/img/BreakThrough/guestList/fast-pass-1a.png" alt="Fast Pass"
                            class="img-responsive">
                                </center>
                            </div>
                            <div  class="col-md-8  col-sm-12 col-xs-12 text-right ">
                                <h3 class="mb0 col-xs-center">FastPass</h3>
                                <p class="lato col-xs-center ">Offer VIP FastPass for Patrons who want to Pay Extra to skip the line</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <img src="<%= assets %>/img/BreakThrough/guestList/guestList.png" alt="guestList"
                            class="img-responsive center_content mb-4">
                    </div>
                    
                    <div class="col-md-4 col-sm-12 col-xs-12 mt-4">
                        <div class="row col-xs-12">
                            <div class="no-ml col-md-4 col-sm-12 col-xs-12 mt-2">
                                <img src="<%= assets %>/img/BreakThrough/guestList/Insights-1a.png" alt="Insights"
                            class="img-responsive center_content ">
                            </div>
                            <div class="no-ml col-md-8 col-sm-12 col-xs-12">
                                <h3 class="col-xs-center mb0">Insights and Reports</h3>
                                <p class="lato col-xs-center">View the business and customer statistics and Insights in Real-Time.</p>
                            </div>
                        </div>
                         <div class="row col-xs-12">
                            <div class="no-ml col-md-4 col-sm-12 col-xs-12">
                                <img src="<%= assets %>/img/BreakThrough/guestList/Lost-found-1a.png" alt="Lost and Found"
                            class="img-responsive center_content mt-4">
                            </div>
                            <div class="no-ml col-md-8 col-sm-12 col-xs-12">
                                <h3 class="col-xs-center mb0">Lost &amp; Found</h3>
                                <p class="lato col-xs-center">Customers can Message business Immediately for Lost &amp; Found Items</p>
                               
                            </div>
                        </div>
                        <!-- <div class="no-ml col-sm-4">
                            <img src="<%= assets %>/img/BreakThrough/guestList/valet-1a.png" alt="valet-1a"
                        class="img-responsive center_content mb-4  mt-4">
                        </div>
                        <div class="no-ml col-sm-8">
                            <h3 class=" mb0">Valet Services </h3>
                            <p class="lato mb0">Cab Services, Locate</p>
                            <p class="lato mb0">&amp; find my Car</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
