<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Guest List</h1>
                    <p class="lato">Productivity Tools and Services</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/guestList.png" alt="breakThroughGuest" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-8 col-xs-8 guestFirst">
                        <h3 class="fontBold text-right mb0">Guest List</h3>
                        <p class="lato text-right mb0">For Patrons who</p>
                        <p class="lato text-right mb0">Want to be put on</p>
                        <p class="lato text-right mb0">the VIP Guest List</p>
                        <h3 class="priveteAdverise text-right  fontBold mb0">FastPass</h3>
                        <p class="lato text-right mb0">Offer VIP FastPass</p>
                        <p class="lato text-right mb0">for Patrons who want</p>
                        <p class="lato text-right mb0">to Pay Extra to skip</p>
                        <p class="lato text-right mb0">the line</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <img src="<%= assets %>/img/BreakThrough/guestList/Guest-list-1a.png" alt="Guest-list-1a"
                        class="img-responsive  reservationGuestImage reservation1A mb-4">                     
                        <img src="<%= assets %>/img/BreakThrough/guestList/fast-pass-1a.png" alt="fast-pass-1a"
                            class="img-responsive reservationGuestImage fastImg1 mb-4">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 cenGuestImg">
                        <img src="<%= assets %>/img/BreakThrough/guestList/guestList.png" alt="guestList"
                            class="img-responsive mb-4">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4 cenGuestImg1">
                        <img src="<%= assets %>/img/BreakThrough/guestList/Insights-1a.png" alt="Insights-1a"
                        class="img-responsive reservationRightImage loyaltyImg1 mb-4">
                        <img src="<%= assets %>/img/BreakThrough/guestList/Lost-found-1a.png" alt="Lost-found-1a"
                        class="img-responsive reservationRightImage guestImageTop guestImageTop1 mb-4">
                        <img src="<%= assets %>/img/BreakThrough/guestList/valet-1a.png" alt="valet-1a"
                        class="img-responsive reservationRightImage guestImageTop guestImageip6s mb-4">
                    </div>
                    <div class="col-md-3 col-sm-8 col-xs-8 guestRightCol">
                        <div class="leftImageMargin guestInsights">
                            <h3 class="fontBold mb0">Insights and Reports</h3>
                            <p class="lato mb0">View the business/customer</p>
                            <p class="lato mb0">statistics and Insights in Real-Time</p>
                        </div>
                        <div class="leftImageMargin">
                            <h3 class="fontBold mb0">Lost & Found</h3>
                            <p class="lato mb0">Customers can Message</p>
                            <p class="lato mb0">business Immediately for</p>
                            <p class="lato mb0">Lost & Found Items</p>
                        </div>
                        <div class="leftImageMargin guestValet">
                            <h3 class="fontBold mb0">Valet Services </h3>
                            <p class="lato mb0">Cab Services, Locate</p>
                            <p class="lato mb0">& find my Car</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
