<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Campaign &amp; Loyalty Management</h1>
                    <p class="lato">From creating and promoting Deals to campaigns and events, VenueLytics covers all and provides tool for a business to promote through ItzFun, Website, and Social Media</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/Deals.png" alt="breakThroughLoyalty" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-8 col-sm-1 col-xs-12 no-p text-right">
                                <h3 class="col-xs-center mb-1">Create deals</h3>
                                <p class="lato col-xs-center">For your customers and Promote them through all channels</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
                                <center>
                                    <img src="<%= assets %>/img/BreakThrough/Deals/deal-1a-1.png" alt="Deals"
                                class="img-responsive mb-2">
                                </center>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-8 col-sm-12 col-xs-12 no-p text-right">
                              <h3 class="mb-1 col-xs-center">Setup Special events</h3>
                                <p class="lato col-xs-center">Like DJ nights, theme nights, promote event &amp; sell tickets through VenueLytics Platform</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
                                <center>
                                    <img src="<%= assets %>/img/BreakThrough/Deals/DealSetup_1.png" alt="Setup"
                                class="img-responsive mb-2">
                                </center>
                            </div>
                        </div>
                           
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-8 col-sm-12 col-xs-12 no-p text-right">
                                 <h3 class="mb-1 col-xs-center">Monitor and manage</h3>
                                <p class="lato col-xs-center">Any campaign and deals in real-time to measure success.</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 mt-2">
                                <center>
                                    <img src="<%= assets %>/img/BreakThrough/Deals/dealMonitor_1.png" alt="Monitor"
                                    class="img-responsive mb-2">
                                </center>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img src="<%= assets %>/img/BreakThrough/Deals/deals_events.png" alt="deals_events"
                                class="img-responsive mb-4">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
