<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Business Analytics</h1>
                    <p class="lato">Easy Access To New & Existing Customers. Grow the customer base with Guest Registration & WiFi - Improve Business Operations and services using Real-Time data</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/business.png" alt="breakThroughBusiness" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-1-1a.png" alt="number-1-1a"
                            class="img-responsive mb-4">
                        <h3 class="mb0 fontBold businessNum1">Enable Wifi</h3>
                        <p class="lato mb0">Access for guests</p>
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-2-1a.png" alt="number-2-1a"
                        class="img-responsive businessImg2 mb-4">
                        <h3 class="foodPickUP fontBold mb0">Collect Guest</h3>
                        <p class="lato mb0">Information &</p>
                        <p class="lato mb0">demographics</p>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 cenBusinessImg">
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/businessAnalytics.png" alt="businessAnalytics"
                            class="img-responsive mobileImage mb-4">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 businessRight">
                        <div class="leftBusinessMargin">
                            <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-3-1a.png" alt="number-3-1a"
                                class="img-responsive busImg3 mb-4">
                            <h3 class="mb0 fontBold marginData">Data Analytics</h3>
                            <p class="lato mb0">Business insights</p>
                        </div>
                        <div class="leftBusinessMargin">
                            <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-4-1a.png" alt="number-4-1a"
                                class="img-responsive busImg4 mb-4"/>
                            <h3 class="foodPickUP fontBold mb0">Improve Campaigns</h2>
                            <p class="lato mb0">Customer Services,</p>
                            <p class="lato mb0">Loyalty & Grow the Business</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
