<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Food and Drink Service</h1>
                    <p class="lato">Ordering Food &amp; Drinks for Delivery &amp; Pickup at the Venue – your customers can conveniently order food and drinks from within your venue &amp; remotely.  Our smart WiFi ordering solution automatically detects customer table or location within the venue for staff to deliver the order.</p>
                    <!-- <img src="<%= assets %>/img/BreakThrough/foodanddrink.png" alt="breakThroughFood" class="img-responsive mb-4"> -->
                </div>
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-1-1a.png" alt="number-1-1a"
                            class="img-responsive breakImgwidth foodImg1 mb-4">
                        <h3 class="mb0 fontBold foodNum1">Access & View Menu</h3>
                        <p class="lato mb0">Connect to WiFi or App</p>
                        <p class="lato mb0">and view live menu</p>
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-2-1a.png" alt="number-2-1a"
                        class="img-responsive breakImgwidth foodImg2  mb-4">
                        <h3 class="foodPickUP fontBold mb0">Order Food/Drinks</h3>
                        <p class="lato mb0">Simple link to order</p>
                        <p class="lato mb0">from the menu</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 cenMobileImg1">
                        <img src="<%= assets %>/img/BreakThrough/foodAndDrink/foodAndDrink.png" alt="foodAndDrink"
                            class="img-responsive mb-4">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 foodSecPar">
                        <div class="foodRightSide">
                            <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-3-1a.png" alt="number-3-1a"
                                class="img-responsive foodNum3 breakImgwidth mb-4">
                            <h3 class="mb0 fontBold foodEasy">Easy Mobile Pay</h3>
                            <p class="lato mb0">Apple Pay, PayPal,</p>
                            <p class="lato mb0">Credit Card & Google Wallet</p>
                        </div>
                        <div class="foodRightSide foodPickUp">
                            <img src="<%= assets %>/img/BreakThrough/foodAndDrink/number-4-1a.png" alt="number-4-1a"
                                class="img-responsive foodNum3 breakImgwidth mb-4">
                            <h3 class="foodPickU fontBold foodEasy mb0">Pick up/ Delivery</h3>
                            <p class="lato mb0">Pick up order or have</p>
                            <p class="lato mb0">it delivered by staff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
