
.overlay-bottom {
	  position: absolute;
	  bottom: 68px;
	  z-index: 1000;
	  width: 185px;
	  color: white;
	  height: 40px;
	  background-color: rgba(31, 32, 34, 0.3);
	}	
.rotateLabel div.xAxis div.tickLabel 
{    
     white-space: nowrap;
    transform: translate(-9px, 0) rotate(-60deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;
}

.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

// 0px gutter
.gutter-2.row {
  margin-right: -1px;
  margin-left: -1px;
}
.gutter-2 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 1px;
  padding-left: 1px;
}

// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}
tr.highlight {
  background-color: #BCD4EC !important;
}