<h3>
   <div class="row">
     <div class="col-lg-7">
     Dashboard - <strong>Visitor Insights</strong>
     </div>
    <div class="col-lg-3 pull-right">
         <div class="btn-group">
               <button type="button" class="btn" ng-repeat="period in PERIODS" ng-class="selectedPeriod == period ? 'btn-primary':'btn-default'" ng-click="setPeriod(period)">{{period | translate}}</button>
              
         </div>  
      </div>
    </div>
</h3>

<div class="container-fluid">
  
   <!-- START DATATABLE 2 -->
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">New Visitors</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="visitorsChart" url="{{visitorRequestUrl}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">New Visitors - By Service Type</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="visitorsChartServiceType" url="{{visitorRequestByServiceType}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">New Visitors - By Occasio</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="visitorsChartReason" url="{{visitorRequestByValue}}" format-data-fx="formatStackDataForSubName"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Repeat Visitors</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="repeatVisitorsChart" url="{{repeatVisitorRequestUrl}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Repeat Visitors - By Service Type</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="repeatVisitorsChartServiceType" url="{{repeatVisitorRequestByServiceType}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Repeat Visitors - By Occasio</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="repeatVisitorsChartReason" url="{{repeatVisitorRequestByValue}}" format-data-fx="formatStackDataForSubName"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div>
<div class="row">
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">%Repeat Visitors</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="percentVisitorsChart" url="{{percentVisitorRequestUrl}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">%Repeat Visitors - By Service Type</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="percentVisitorsChartServiceType" url="{{percentVisitorRequestByServiceType}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-md-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">%Repeat Visitors - By Occasio</div>
         </div>
         <div collapse="visitorBarChart" class="panel-wrapper">
            <div class="panel-body">
               <stacked-bar-chart id="percentVisitorsChartReason" url="{{percentVisitorRequestByValue}}" format-data-fx="formatStackDataForSubName"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div>   
</div>
